/*------------------- content layout -----------------*/
.icon-scroll{
	-webkit-animation: icon-scroll 1s infinite  alternate;
    animation: icon-scroll 1s infinite  alternate;
}
.height-100{
	height:100%;
	>div{
		height:100%;
	}
}
.img-100{
	img{
		width: 100%;
	}
}
@media(max-width: $screen-xs-max){
	.max-width-100{
		>.elementor-container{
			max-width: 100% !important;
		}
	}
}
.title-block-1{
	span{
		color:#e8b9af;
		text-decoration: underline;
		text-decoration-thickness: from-font;
	}
}
.content-button{
	.elementor-button-wrapper{
		a{
			position: relative;
			padding-bottom: 7px !important;
			&:before{
				position: absolute;
				content: "";
				bottom: 0;
				left: 50%;
				@include transform(translateX(-50%));
				background: $gray-dark;
				@include size(100%, 1px);
				@include transition(all .3s ease);
			}
			&:hover{
				&:before{
					width: 50%;
				}
			}
		}
	}
}
.content-button-2{
	.elementor-button-wrapper{
		a{
			position: relative;
			padding-bottom: 7px !important;
			&:before{
				position: absolute;
				content: "";
				bottom: 0;
				left: 0;
				background: $gray-dark;
				@include size(100%, 1px);
				@include transition(all .3s ease);
			}
			&:hover{
				&:before{
					width: 50%;
				}
			}
		}
	}
}
.content-button-3{
	.elementor-button-wrapper{
		a{
			position: relative;
			padding-bottom: 7px !important;
			&:before{
				position: absolute;
				content: "";
				bottom: 0;
				left: 0;
				background: $white;
				@include size(100%, 1px);
				@include transition(all .3s ease);
			}
			&:hover{
				&:before{
					width: 50%;
				}
			}
		}
	}
}
.button-full{
	a{
		width: 100%;
	}
}
.scroll-down{
	position: absolute !important;
	@include transform(translateY(-100%));
	width: 100%;
}
.icon-scroll{
	-webkit-animation: icon-scroll 1s infinite  alternate;
    animation: icon-scroll 1s infinite  alternate;
}
.content-layout-1{
	.column-1{
		.elementor-widget-wrap{
			background: #ecf3f5;
		}
	}
}
.content-center{
	.bwp-slider-homepage{
		.content{
			text-align: center;
		}
	}
}
.content-layout-2{
	position: absolute !important;
	top: 17%;
}
/*------------------- end content layout -----------------*/

/*------------------- Other layout -----------------*/
.marginright-auto{
	>.elementor-container{
		margin-left:0 !important;
	}
}
.marginleft-auto{
	>.elementor-container{
		margin-right: 0 !important;
	}
}
@media (min-width:$screen-sm-max){
	.marginright-sm-auto{
		>.elementor-container{
			margin-left:0 !important;
		}
	}
	.marginleft-sm-auto{
		>.elementor-container{
			margin-right: 0 !important;
		}
	}
}
@media (max-width:$screen-sm-max){
	.marginright-xs-auto{
		>.elementor-container{
			margin-left:0 !important;
		}
	}
	.marginleft-xs-auto{
		>.elementor-container{
			margin-right: 0 !important;
		}
	}
}
.elementor-icon-box-title{
	margin-top:0;
}
/*------------------- End layout -----------------*/
.elementor-section:not(.elementor-section-full_width,.elementor-inner-section){
	@media (max-width:1770px) and (min-width:$screen-md-max){
		padding-left: 15px ;
		padding-right: 15px ;
	}
}

/*------------------- Content Animation -----------------*/
.img-animation{
	.elementor-image{
		img{
			animation: rotation 15s infinite linear;
		}
	}
}
/*------------------- End Animation -----------------*/

/*------------------- Content Newsletter -----------------*/
@media (min-width:$screen-sm-max){
	.marginright-sm-auto{
		.wpbingo-newsletter{
			&.newsletter-default{
				.content-newsletter{
					margin-left: 0 !important;
				}
			}
		}
	}
}
.content-newsletter-2{
	.wpbingo-newsletter{
		&.newsletter-default{
			.content-newsletter{
				input[type="email"]{
					background: transparent;
					padding: 0;
					border-bottom: 2px solid $gray-dark;
					line-height: 45px;
					height: 45px;
					&::placeholder{
						color: $gray-dark
					}
				}
				.clearfix{
					@include rtl-margin-left(10px);
				}
				input[type="submit"]{
					background: transparent;
					padding: 0;
					border-bottom: 2px solid $gray-dark;
					color: $gray-dark;
					line-height: 45px;
					height: 45px;
					&:hover{
						font-style: italic;
					}
				}
			}
		}
	}
}
/*------------------- End Newsletter -----------------*/
.new{
	clip-path: polygon(12% 0%, 100% 0%, 88% 100%, 0% 100%);
}
.new-1{
	clip-path: polygon(11% 0, 100% 0%, 89% 100%, 0% 100%);
}
.box-shadow{
 	.elementor-heading-title{
 		display: inline-block;
 		background:$theme-color;
 		clip-path: polygon(13% 0%, 100% 0%, 87% 100%, 0% 100%);
 		padding: 0 30px;
 		@include box-shadow( 0px 1px 3px 3px rgba(0, 0, 0, 0.5));
 	}
}
.box-shadow-1{
	span{
		color: #FFFFFF;
	    font-family: $font-family-base;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 25px;
	    display: inline-block;
 		background:$theme-color;
 		clip-path: polygon(13% 0%, 100% 0%, 87% 100%, 0% 100%);
 		padding: 0 30px;
 		position: relative;
 		top: -8px;
	}
}
.head {
	transform: rotate(-4deg);
	display: inline-block;
}
.head-1{
	transform: rotate(-3deg);
	.elementor-text-editor{
		display: inline-block;
		padding: 0 70px;
		background: $theme-color;
		clip-path: polygon(11% 0, 100% 0%, 89% 100%, 0% 100%);
		@media(max-width: $screen-xs-max){
   			padding: 0 30px;
   		}
	}	
}
.head-2 {
	background:#00a950;
	border-radius: 50%;
	@include transition(all .3s ease);
	h2{
		@include square(120px);
		padding-top: 25px;
		span{
			font-family: $font-family-base;
			font-weight: 700;
			font-size: 34px;
		}
	}
	&:hover{
		background: $theme-color;
	}
	@media(max-width:1440px){
		@include rtl-right(9%);
	}
	@media(max-width:$screen-md-max){
		@include rtl-right(1% !important);
		h2{
			@include square(90px);
			span{
				font-size: 13px;
			}
		}
	}
	@media(max-width:$screen-xs-max){
		h2{
			@include square(45px);
			padding-top:5px;
			span{
				font-size: 14px;
			}
		}
	}
}
.head-3{
	transform: rotate(-3deg);
	display: inline-block;
	.elementor-text-editor{
		display: inline-block;
		padding: 0 70px;
		background: $ograne;
		clip-path: polygon(11% 0, 100% 0%, 89% 100%, 0% 100%);
		@media(max-width: $screen-xs-max){
   			padding: 0 30px;
   		}
	}
}
.head-4{
	transform: rotate(-3deg);
	display: inline-block;
	h2{
		span{
			@include rtl-margin-left(530px);
			@media(max-width: $screen-md-max){
	   			@include rtl-margin-left(370px);
	   		}
	   		@media(max-width: $screen-sm-max){
	   			@include rtl-margin-left(100px);
	   		}
	   		@media(max-width: $screen-xs-max){
	   			@include rtl-margin-left(0);
	   		}
		}
	}
}
.head-5{
	transform: rotate(-3deg);
	display: inline-block;
}
.footer-head {
	color: rgba($white,.5);
	ul{
		li{
			a{
				span{
					color: rgba($white,.5);
					position:relative;
					&:after{
						content: '';
						bottom:2px;
						background: rgba($white,.3);
						position: absolute;
						@include size(1px, 17px);
						@include rtl-right(-22px);
					}
					&:hover{
						color: $theme-color;
					}
					@media (max-width:$screen-md-max){
						&:after{
							@include rtl-right(-12px);
						}
					}
					@media (max-width:$screen-xs-max){
						&:after{
							display: none;
						}
					}
				}
			}
			&:last-child{
				span{
					&:after{
						display: none;
					}
				}
			}
		}
	}
}
.footer-head-3{
	color: rgba($white,.5);
	ul{
		li{
			a{
				span{
					color: rgba($white,.5);
					position:relative;
					&:after{
						content: '';
						bottom:2px;
						background: rgba($gray-dark,.3);
						position: absolute;
						@include size(1px, 17px);
						@include rtl-right(-20px);

					}
					&:hover{
						color: $theme-color;
					}
					@media (max-width:$screen-md-max){
						&:after{
							@include rtl-right(-12px);
						}
					}
					@media (max-width:$screen-xs-max){
						&:after{
							display: none;
						}
					}
				}
			}
			&:last-child{
				span{
					&:after{
						display: none;
					}
				}
			}
		}
	}
}
.footer-head-1{
	.elementor-divider-separator{
		background: rgba($white,.3);
	}
}
.footer-head-2{
	h2{
		display: inline-block;
		background: $theme-color;
		padding:35px ;
		border-radius: 50px 50px 0 0;

	}
}
.footer-head-4{
	color: rgba($white,.5);
	.kit{
		color: #781f21 !important;
		&:hover{
			color: $theme-color !important;
		}
	}
}
.footer-head-5{
	color: rgba($white,.5);
	ul{
		li{
			a{
				span{
					color: rgba($white,.5);
				}
			}
		}
	}
}
.footer-head-6 {
	h2{
		color: rgba($white,.5);	
	}
}
.icon{
	.icon-box-1{
		.elementor-icon{
			opacity: 0;
			@include transition(all 0.8 ease);
		}
	}
	.text-1{
		position:relative;
		&:after{
			position: absolute;
			content: "";
			top: 0;
			@include rtl-left(calc(50% - 5px));
			display: inline-block;
			background: url('#{$image-theme-path}icon.svg') no-repeat;
			@include square(18px);
			background-size: contain;
			@include transition(all .5s ease);
			z-index: 99;
			@include opacity-h();
			@include transform(translateY(-10px));
		}
		&:hover{
			&:after{
				@include opacity-s();
				@include transform(translateY(0));
			}
			.elementor-icon{
				opacity: 0.05;
			}
			.elementor-icon-box-title{
				span{
					color: $theme-color;
				}
			}
		}
		@media (max-width:$screen-sm-max){
			.elementor-icon{
				opacity: 0.05;
			}
			&:after{
				@include opacity-s();
				@include transform(translateY(0));
			}
		}
	}
}
.icon-two{
	.icon-box-two{
		.elementor-icon{
			opacity: 0;
			@include transition(all 0.8 ease);
			&:after{
				position: absolute;
				content: "";
				top: 0;
				@include rtl-left(calc(50% - 5px));
				display: inline-block;
				background: url('#{$image-theme-path}icon.svg') no-repeat;
				@include square(18px);
				background-size: contain;
				@include transition(all .5s ease);
				z-index: 99;
				@include opacity-h();
				@include transform(translateY(-10px));
			}
		}
	}
	.text-2{
		&:hover{
			.elementor-icon{
				opacity:1;
				&:after{
					@include opacity-s();
					@include transform(translateY(0));
				}
			}
			.elementor-icon-box-title{
				span{
					color: $theme-color;
				}
			}
		}
	}
}
@media(max-width: $screen-sm-max){
	text-align: center;
}
.margin-footer {
	margin: 0 15px;
}
.margin-footer-1{
	.elementor-container {
		background: #2f2f2f;
		padding: 15px 0;
	}
	.tilte-1 {
		h2{
			color: rgba($white ,.5);
		}
	}
}
.tilte-2 {
		h2{
			color: rgba($white ,.5);
		}
	}
.margin-footer-2{
	.tilte-1 {
		h2{
			color: rgba(#5a5a5a ,.6);
		}
	}
}
.back-affect{
	transform: translateY(50px);
	@include opacity-h();
	@include transition(all .5s ease);
}
.back {
	&:hover{
		.back-affect{
			transform: translateY(0);
			@include opacity-s();
		}
	}
}
.img{
	@media(max-width: $screen-sm-max){
		text-align: center !important;
	}
	@media(max-width: $screen-xs-max){
		text-align: left !important;
	}
}
.img-1 {
	@media(max-width: $screen-sm-max){
		text-align: center !important;
	}
}
.img-2{
	.elementor-image{
		img{
			width: 100%;
		}
	}
}
.img-3 {
	@media (max-width: 1810px) and (min-width: 1200px){
		display: none;
	}
}
.categories-header{
	position: absolute !important;
	z-index: 999;
	padding: 100px 0 0;
	width: 100%;
	@media(max-width: $screen-sm-max){
		padding:0;
	}
 	.cate-col{
 		.elementor-widget-container{
 			border-top: 1px  solid #E4DCCA;
 			@media(max-width: $screen-sm-max){
 				border-top: 1px  solid transparent;
 			}
 		}
 		ul{
 			li{
 				.elementor-icon-list-text{
 					@include rtl-margin-left(12px !important);
 				}
 				&:first-child{
 					.elementor-icon-list-text{
	 					@include rtl-margin-left(0 !important);
	 				}
 				}
 				@media(max-width: $screen-xs-max){
 					.elementor-icon-list-text{
	 					@include rtl-margin-left(0 !important);
	 				}
					.elementor-icon-list-icon{
						display: none;
					}
				}
 			}
 		}
 	}
}
.fixed{
	background-attachment: fixed;
}
.column-banner-right{
	position: relative;
	&:after{
		@include square(15px);
		border: 1px solid;
		border-color: #dddddd #dddddd transparent transparent;
		content: "";
		position: absolute;
		top: calc(50% - 12px);
		right: -7px;
		z-index: 1;
		transform: rotate(45deg);
		background: #fff;
	}
}
.column-banner-left{
	position: relative;
	&::before{
		@include square(15px);
		border: 1px solid;
		border-color: transparent transparent #dddddd #dddddd;
		content: "";
		position: absolute;
		top: calc(50% - 12px);
		left: -7px;
		z-index: 1;
		transform: rotate(45deg);
		background: #fff;
	}
}
.text-title-product{
	h2{
		position: relative;
		display: inline-block;
		&:before{
			content: "";
			width: 90px;
			height: 1px;
			background: $gray-dark;
			position: absolute;
			bottom: -13px;
			left: 50%;
			@include transform(translateX(-50%));
		}
	}
}
.text-banner-home2{
	span{
		font-size: 35px;
	}
}
.shortcode-homepage3{
	.content-newsletter{
		max-width: 708px;
		background: transparent !important;
		.wpcf7-form-control-wrap{
			@include rtl-margin-right(25px);
			input[type="email"]{
				font-size: 14px;
				&::placeholder{
					color: #999999;
				}
			}
		}
		.clearfix{
			position: relative;
			background: $theme-color;
			border-radius: 10px;
			input[type="submit"]{
				padding: 0 40px;
				background: transparent !important;
				border-radius: 10px !important;
				font-size: 0 !important;
				z-index: 2;
				&::placeholder{
					color: #999999 !important;
				}
			}
			&:before{
				content: "\e901";
				font-family: icomoon;
				position: absolute;
				top: 50%;
				right: 50%;
				transform: translate(50%, -50%);
				font-size: 30px;
				padding: 0;
				z-index: 1;
				color: #fff;
			}
			&:hover{
				background: #4b3b33;
			}
		}
	}
	.wpcf7-response-output{
		max-width: 708px;
		margin: auto !important;
		margin-top: 53px !important;
	}
}
.image-banner-homepage3{
	.elementor-image{
		position: relative;
		&:before{
			content: "";
			width: 90%;
			height: 100%;
			background: $white;
			position: absolute;
			border-radius: 10px;
			transform: rotate(-30deg);
			z-index: -1;
			left: 45px;
			top: 50px;
		}
	}
	@media (max-width: 1919px){
		top: 0 !important;
		left: 0 !important;
		.elementor-widget-container{
			transform:  rotate(0) !important;
		}
		.elementor-image{
			&::before{
				left: 0;
				top: -20px;
				transform: rotate(0);
			}
		}
	}
}
.shortcode-homepage5{
	.content-newsletter{
		max-width: 708px;
		background: transparent !important;
		.wpcf7-form-control-wrap{
			@include rtl-margin-right(25px);
			border-bottom: 1px solid $gray-dark !important;
			input[type="email"]{
				font-size: 14px;
				&::placeholder{
					color: #999999;
				}
			}
		}
		.clearfix{
			position: relative;
			background: $theme-color;
			border-radius: 10px;
			input[type="submit"]{
				padding: 0 40px;
				background: transparent !important;
				border-radius: 10px !important;
				font-size: 0 !important;
				z-index: 2;
				&::placeholder{
					color: #999999 !important;
				}
			}
			&:before{
				content: "\e901";
				font-family: icomoon;
				position: absolute;
				top: 50%;
				right: 50%;
				transform: translate(50%, -50%);
				font-size: 30px;
				padding: 0;
				z-index: 1;
				color: #fff;
			}
			&:hover{
				background: #4b3b33;
			}
		}
	}
	.wpcf7-response-output{
		max-width: 708px;
		margin: auto !important;
		margin-top: 53px !important;
	}
}
@media(max-width: 991px){
	.section-home6{
		padding: 0 !important;
	}
}
.text-banner-right-home7, .text-banner-left-home7{
	.elementor-widget-wrap{
		max-width: 485px;
		margin: auto;
	}
	@media(max-width: $screen-xs){
		&:before, &:after{
			display: none;
		}
	}
}
.text-banner-left-home7{
	position: relative;
	&:after{
		content: "";
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-left: 12px solid $white;
		z-index: 3;
		position: absolute;
		right: -12px;
		top: 50%;
	}
}
.text-banner-right-home7{
	position: relative;
	&:before{
		content: "";
		width: 0;
		height: 0;
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-right: 12px solid $white;
		z-index: 3;
		position: absolute;
		left: -12px;
		top: 50%;
	}

}
.text-sale-home3{
	span{
		font-size: 80px;
		color: $theme-color;
		@media (max-width:$screen-sm){
			font-size: 30px;
		}
	}
}
.text-sale-home8{
	span{
		font-size: 40px;
		@media (max-width:$screen-xs){
			font-size: 25px;
		}
	}
}
.button-icon{
	.elementor-button-content-wrapper{
		.elementor-button-icon{
			position: relative;
			top: 2px;
			left: 0;
			transition: all 0.3s ease;
		}
		&:hover{
			.elementor-button-icon{
				left: 5px;
			}
		}
	}
	
}
@media (min-width: $screen-xs-max){
	.counter-homepage{
		.elementor-counter-number-wrapper{
			display: inline-table !important;
		}
		.elementor-counter-title{
			text-align: left !important;
		}
	}
}
.text-order-homepage{
	.elementor-widget-container{
		span{
			position: relative;
			&::before{
				content: "";
				width: 100%;
				height: 1px;
				background: $gray-dark;
				position: absolute;
				bottom: 0;
			}
		}
	}
}


