/************************************************************************************************
    BLOCK TOP BAR  
*************************************************************************************************/  
#bwp-topbar{
    color: $topbar-color;
    font-size:$topbar-font-size;
	height:45px;
	line-height: 45px;
	a {
		color:$gray-dark;
		&:hover{
			color:$theme-color;
		}
	}
	.email,.ship,.address,.phone{
		display:inline-block;
		i{
			margin-right:10px;
			font-size: 15px;
			position:relative;
			top: 3px;
			color:$gray-dark;
		}
	}
	.email{
		position:relative;
		@include rtl-margin-left(15px);
		@include rtl-padding-left(20px); 
		&:before{
			position:absolute;
			content:"";
			@include rtl-left(0);
			background: rgba($gray-dark, .15);
			width:1px;
			height:18px;
			top:calc(50% - 9px);
		}
	}
	#topbar_menu{
		list-style:none;
		li{
			display:inline-block;
			@include rtl-padding-right(18px);
			@include rtl-margin-right(13px);
			position:relative;
			&:before{
				position:absolute;
				content:"";
				@include rtl-right(0);
				background: rgba($gray-dark, .15);
				width:1px;
				height:18px;
				top:calc(50% - 9px);
			}
			&:last-child{
				@include rtl-margin-right(0);
				@include rtl-padding-right(0);
				&:before{
					display:none;
				}
			}
		}
	}
	.topbar-right{
		@include rtl-text-align-right();
		>*{
			display:inline-block;
			@include rtl-padding(0 ,15px ,0 ,0);
			&:last-child{
				@include rtl-padding-right(0);
			}
			a{
				color:$gray-dark;
				&:hover{
					i{
						color:$theme-color;
					}
				}
			}
			i{
				margin-right:0;
				font-size:16px;
				position:relative;
				color: $gray-dark;
			}
		}
		.block-top-link{
			>*{
				display:inline-block;
				@include rtl-margin-right(15px);
				&:last-child{
					@include rtl-margin-right(0);
				}
			}
		}
	}
	.block-top-link{
		.widget-title{
			color:$gray-dark;
			font-weight:400;
			font-size:12px;
			line-height:20px;
			text-transform:uppercase;
			font-family:$font-family-base;
			&:after{
				display:inline-block;
				font-family: 'ElegantIcons' !important;
				content: "\33";
				position:relative;
				top:1px;
				font-size:14px;
				@include transition(all 0.3s ease);
				line-height:1;
			}
			&.active,&:hover{
				color:$theme-color;
			}
			&.active{
				&:after{
					@include transform(rotate(-180deg));
					color:$theme-color;
				}
			}
		}
		a{
			color:$text-color !important;
			&:hover{
				color:$theme-color !important;
			}
		}
		.menu-language-menu-container,.menu-currency-menu-container{
			top:30px;
		}
	}

	&.topbar-v1 {
		border-bottom:1px solid rgba($gray-dark, .15);
		.container{
			max-width: 1770px;
		}
	}
	&.topbar-v2 {
		background: #231a9c;
		color: $white;
		border-bottom: 1px solid rgba($white, 0.15);
		a{
			color: $white;
		}
		i{
			color: $white;
		}
		.email, #topbar_menu li{
			&:before{
				background: rgba($white, 0.15);
			}
		}
	}
} 
/************************************************************************************************
    BLOCK HEADER 
*************************************************************************************************/ 
.title-vertical{
	h2{
		font-size:14px;
		text-transform:uppercase;
		padding-bottom:10px !important;
		position:relative;
		font-weight:700;
		&:before{
			position:absolute;
			bottom:-1px;
			@include size(40px,1px);
			background:$theme-color;
			content:"";
			@include rtl-left(0);
		}
	}
}
.categories-vertical-menu{
	border: 1px solid $border-color;
	@include border-radius(10px);
	position: relative;
	&.show{
		@media (min-width:$screen-md-max){
			.bwp-vertical-navigation >div{
				display : block !important;
				height : 100% !important;
			}
		}
	}	
	&.accordion{
		.verticalmenu{
			border:0 !important;
		}
		.bwp-vertical-navigation >div{
			display : none;
		}
	}
	.menu-item-desc{
		display:none;
	}
	.widget-title{
		font-size: 20px;
		color: $white;
		margin: 0;
		line-height: 40px;
		background: $theme-color;
	    border-top-left-radius:10px;
		border-top-right-radius:10px;
		display:flex;
		cursor:pointer;
		position:relative;
		padding: 15px 30px;
		i{
			display: none;
		}
	}
	.verticalmenu{
		position: absolute;
		width: 100%;
		background: $white;
		border: 2px solid #e9e7e7;
		@include border-radius(10px);
		margin-top: 20px;
	}
	.bwp-vertical-navigation >div{
		padding: 0;
		display:block;
		position:relative;
		ul.menu{
			padding:0;
			li{
				&.menu-hide-title{
					> span.title, >a{
						@media (max-width: 991px){
							display: block !important;
							margin:0;
							padding:0!important;
						}
					}
				}
				&.menu-item-has-children{
					>a{
						display: inline-block;
						width: 100%;
						&:after{
							top: 1px;
							content: "\f2fb"!important;
							position:absolute;
							@include rtl-margin-left(5px);
							@include rtl-right(0);
						}
					}
				}
			}
			li.level-0{
				float:unset;
				width:100%;
				position:unset !important;
				border-bottom:1px solid $border-color;
				list-style:none;
				&:last-child{
					border-bottom:none;
				}
				i{
					font-size: 21px;
					width: 21px;
					text-align: center;
					@include rtl-margin-right(16px);
					position: relative;
					top: 2px;
					@include rtl-float-left();
				}
				>a{
					margin:0;
					width:100%;
					font-size: 15px;
					white-space: normal;
					position:relative;
					position:relative;
					padding: 21px 30px;
					display:inline-block;
					&:hover{
						color:$theme-color;
					}
					> span{
						position: relative;
						
						&:before, &:after{
							display:none!important;
						}
					}
					@media (max-width:1400px){
						padding:9px 20px;
					}
					.menu-img{
						width: 31px;
						text-align: center;
						display: inline-block;
						@include rtl-margin-right(20px);
					}
				}
				&.menu-item-has-children{                       
					@media (min-width: $screen-md){
						> ul.sub-menu,div.sub-menu {
							top: 0;
							@include rtl-left(calc(100% + 50px));
						}
						&:hover {
							> ul.sub-menu,div.sub-menu {
								@include opacity-s();
								@include rtl-left(100%);
							}
						}
					}
					&:not(.mega-menu){
						position:relative !important;
						li.menu-item-has-children{
							@media (min-width: $screen-md){
								> ul.sub-menu,div.sub-menu {
									top: 0;
								}
								&:hover {
									> ul.sub-menu {
										top: 0 !important;
									}
								}
							}
						}
					}
				}
				.menu-item-has-children{
					>a >span{
						&:after{
							display:none;
						}
					}
				}
				&.current_page_item, &:hover, &.current-menu-item{
					> a >span{
						color: $theme-color;
						&:before{
							content:"";
							width:100%;
							height:1px;
							@include rtl-left(0);
							background:$navbar-link-hover-color;
							position:absolute;
							bottom:0;
						}
					}
				}
				&.mega-menu-fullwidth-width{
					ul.sub-menu,div.sub-menu{
						@include rtl-left(calc(100% + 30px));
					}
				}
				ul.sub-menu,div.sub-menu{
					@include rtl-left(100%);
					top: 0;
					padding:25px 20px;
					@include transform(unset);
					position:absolute;
					z-index: 9999;
					background: $white;
					display: block;
					min-width: 225px;
					@include transition(all 0.3s ease);
					@include opacity-h();
					border:1px solid #f5f5f5;
					li{
						list-style:none;
						padding-top: 5px;
						padding-bottom: 5px;
						&:last-child{
							border-bottom:0;
						}
					}
					@media(max-width:$screen-sm-max){
						padding-top:0;  
					}
					a{
						color:$text-color;
						&:hover{
							color:$theme-color;
						}
					}
				}
				&.mega-menu{
					>ul.sub-menu,div.sub-menu{
						padding:0;
						>div{
							height:100%;
							>div{
								height:100%;
								>div{
									height:100%;
								}
							}
						}
						.box-vertical{
							padding:30px 15px;
						}
						@media(min-width:992px){
							width:880px;
							border:1px solid rgba($light-gray,0.25);
							@media (max-width:$screen-md-max){
								width:700px;
							}
						}
						.title h2{
							font-size:15px;
							text-transform:uppercase;
							margin:0;
							margin-bottom:17px;
						}
						ul{
							padding:0;
							li{
								list-style:none;
								padding:3px 0;
								&:last-child{
									border-bottom:0;
								}
								a{
									color:$text-color;
									&:hover{
										color:$theme-color;
									}
								}
							}
						}
						.vertical-menu{
							padding:35px 30px;
							height:100%;
							margin:0;
						}
					}
					&.vertical-menu3{
						div.sub-menu{
							width:530px;
						}
					}
					&.vertical-menu5{
						div.sub-menu ul li a{
							color:$white;
							&:hover{
								color:$theme-color;
							}
						}
						.title-vertical h2{
							@media (min-width:$screen-sm-max){
								color:$white;
							}
						}
					}
				}
				&:not(.mega-menu)> ul.sub-menu,div.sub-menu{
					@media (min-width: $screen-sm-max){
						li.level-1{
							.sub-menu{
								@include rtl-left(calc(100% + 20px));
							}
						}
					}   
				}
			}
			.more-wrap{
				padding: 10px 30px;
				color: $gray-dark;
				font-size: 15px;
				&:hover{
					cursor: pointer;
				}
				span{
					line-height:40px;
					color: $theme-color;
					@media(max-width:1499px)and(min-width:$screen-lg){
						line-height:50px;
					}
					&:hover{
						color: $gray-dark;
					}
					&:before{
						font-size: 10px;
						content: "\e910";
						font-family: icomoon;
						@include rtl-margin-right(5px);
						font-weight: 400;
						text-align: center;
						display: inline-block;
						vertical-align: top;
						@media (max-width: 1529px){
							@include rtl-margin-right(10px);
						}
					}
				}
				&.open{
					span{
						&:before{
							content: "\e908";
							display: inline-block;
							font-family: icomoon;
							@include transform(rotate(-90deg))
						}
					}
				}
			}
		}
	}
}
body:not(.page-template-homepage){
		.bwp-header{
			border-bottom:1px solid #dddddd;
		}
}
.page-template-homepage{
	.bwp-header{
		&.header-v5, &.header-v8, &.header-v6 {
			@media (min-width:$screen-sm-max){
				position:absolute;
				width:100%;
			}
		}
		&.header-v5{
			@media (max-width: $screen-xs-max) {
				.header-page-link{
					margin-top:0;
				}
			}
			.header-content{
				.header-main{
					 @media (max-width: $screen-xs-max){
						 padding: 30px 20px;
					 }
					.megamenu {
						.navbar-toggle {
							@media (max-width: $screen-sm-max) {
								font-size: 0;
							}
						}
					}
				}
			}
			.header-content2{
				padding:35px 0 35px 150px;
				position: absolute;
				width: 100%;
				@media(max-width: $screen-lg){
					@include rtl-padding-left(100px);
				}
				.container{
					max-width: 1740px;
					.header-menu{
						a{
							color: $gray-dark;
							&:hover{
								color: $theme-color;
							}
						}
					}
					@media (max-width: 1510px) and (min-width: 1200px){
						padding: 0 15px;
					}

				}
				
			}		
		}
		&.header-v8{
			.header-page-link{
				.mini-cart .cart-icon{
					i{
						color:$white;
					}
					.icons-cart{
						.cart-count{
							background: $ograne;
							color: $gray-dark;
						}
					}
				}
			}
		}
		&.header-v10{
			@media (min-width:$screen-md-max){
				position:absolute;
				width:100%;
			}
			@media(max-width: $screen-md-max){
				background: $theme-color;
			}
			.header-page-link{
				.login-header{
					.widget-title{
						color: $white;
					}
					.icon-user{
						color: $white;
					}
				}
				.search-box .search-toggle{
					color:$white;
				}
				.wishlist-box{
					a{
						color:$white;
					}
					.count-wishlist{
						background: $white;
						color: $gray-dark;
					}
				}
				.mini-cart .cart-icon{
					i{
						color:$white;
					}
					.icons-cart{
						.cart-count{
							background: $white;
							color: $gray-dark;
						}
					}
				}
			}
			.bwp-navigation ul > li.level-0{
				> a{
					color:$white !important;
					> span{  
						&:before{
							background: $white;
						}
					}
				}
				&.current_page_item, &:hover, &.current-menu-item, &.current-menu-ancestor{
					> a{
						color: $navbar-link-hover-color;
					}
				}
			}
		}
	}
}
.home.blog{
	.bwp-header{
		margin-bottom:60px;
	}
}
.#{$app-prefix}-header {
    margin-bottom: $header-margin-bottom;
    position: relative;
    z-index: 9999;
    background: $header-bg;
    .header-content{
        @include transition(all .3s ease 0s);
        .wpbingo-menu-left .menu-title-box{
            .navbar-toggle{
                display: inline-block;
                color: $gray-dark;
                >span{
                    font-size: 15px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                i{
                    font-size: 15px;
                }
            }
        }
        .search-box {
            color: $gray-dark;
            &:hover{
                color: $theme-color;
            }
            .search-toggle {
                display: block;
                cursor: pointer;
                font-size: 22px;
            }
        }
		&.empty_header_right{
			@media(max-width:$screen-sm-max){
				>.container{
					>.row{
						display:flex;
						.header-logo{
							text-align:left!important;
						}
						.header-right{
							display:none;
						}
					}
				}
			}
		}
    }
	.header-menu{
		position:unset;
	}
	.menu-sidebar-full{
		.social-link{
			margin: 0;
			li {
				display: inline-block;
				margin: 0 10px;
				padding: 0 !important;
				&:first-child{
					@include rtl-margin-left(0);
				}
				&:last-child{
					@include rtl-margin-right(0);
				}
				a{
					i{
						font-size:16px;
						color: $white;
					}
				}
			}
		}
	   .main-menu-full{
			position:absolute;
			z-index:9;
			@include rtl-right(0);
			top: -100px;
			cursor:pointer;
			@include square(28px);
			@include transform(rotate(45deg));
			&:after{
				content: '';
				position: absolute;
				height: 2px;
				width: 14px;
				top: 50%;
				left:calc(50% - 7px);
				margin-top: -1px;
				background-color: $white;
				transform-origin: 50% 50%;
				@include transition(all 0.3s ease);
			}
			&:before{
				content: '';
				position: absolute;
				height: 2px;
				width: 14px;
				top: 50%;
				left:calc(50% - 7px);
				margin-top: -1px;
				background-color: $white;
				transform-origin: 50% 50%;
				@include transform(rotate(95deg));
				@include transition(all 0.3s ease);
			}
			&:hover{
				&:before{
					@include transform(rotate(135deg));
				}
				&:after{
					@include transform(rotate(-45deg));
				}
			}
        }
		.main-menu-full-2{
			position:absolute;
			z-index:9;
			top: -100px;
			cursor:pointer;
			@include square(28px);
			@include transform(rotate(45deg));
			&:after{
				content: '';
				position: absolute;
				height: 2px;
				width: 14px;
				top: 50%;
				left:calc(50% - 7px);
				margin-top: -1px;
				background-color: $gray-dark;
				transform-origin: 50% 50%;
				@include transition(all 0.3s ease);
			}
			&:before{
				content: '';
				position: absolute;
				height: 2px;
				width: 14px;
				top: 50%;
				left:calc(50% - 7px);
				margin-top: -1px;
				background-color: $gray-dark;
				transform-origin: 50% 50%;
				@include transform(rotate(95deg));
				@include transition(all 0.3s ease);
			}
			&:hover{
				&:before{
					@include transform(rotate(135deg));
				}
				&:after{
					@include transform(rotate(-45deg));
				}
			}
        }
	}
	.menu-sidebar-full-2{
		.social-link{
			margin: 0;
			li {
				display: inline-block;
				margin: 0 10px;
				padding: 0 !important;
				&:first-child{
					@include rtl-margin-left(0);
				}
				&:last-child{
					@include rtl-margin-right(0);
				}
				a{
					i{
						font-size:16px;
						color: $gray-dark;
					}
				}
			}
		}
		.main-menu-full-2{
			position:absolute;
			z-index:9;
			top: -100px;
			cursor:pointer;
			@include square(28px);
			@include transform(rotate(45deg));
			&:after{
				content: '';
				position: absolute;
				height: 2px;
				width: 14px;
				top: 50%;
				left:calc(50% - 7px);
				margin-top: -1px;
				background-color: $gray-dark;
				transform-origin: 50% 50%;
				@include transition(all 0.3s ease);
			}
			&:before{
				content: '';
				position: absolute;
				height: 2px;
				width: 14px;
				top: 50%;
				left:calc(50% - 7px);
				margin-top: -1px;
				background-color: $gray-dark;
				transform-origin: 50% 50%;
				@include transform(rotate(95deg));
				@include transition(all 0.3s ease);
			}
			&:hover{
				&:before{
					@include transform(rotate(135deg));
				}
				&:after{
					@include transform(rotate(-45deg));
				}
			}
        }
	}
	.header-left{
		>*{
			display:inline-block;
			vertical-align:middle;
		}
	}
	.search-box{
		.search-toggle-2{
			display: flex;
			align-items: center;
			font-size: 20px;
			position: relative;
			top: 2px;
			color: $gray-dark;
			@include transition(all .3s ease);
			&:hover{
				color: $theme-color;
				top: -1px;
			}
		}
		.search{
			font-size: 14px;
			@include rtl-margin-left(10px);
			color: #969696;
		}
	}
	.header-page-link{
		@include rtl-text-align-right();
		>*{
			display:inline-block;
			@include rtl-margin-left(30px);
			vertical-align:middle;
			&:first-child{
				@include rtl-margin-left(0);
			}
			&.nuna-topcart{
				@include rtl-margin-left(35px);
				@include rtl-margin-right(6px);
			}
			@media (max-width:$screen-xs-max){
				@include rtl-margin-left(10px);
			}
		}
		.phone{
			display:inline-flex;
			align-items:center;
			position:relative;
			@include rtl-padding-right(20px);
			&:before{
				content:"";
				position:absolute;
				@include rtl-right(0);
				@include size(1px,40px);
				top:calc(50% - 20px);
				background:#dedede;
			}
			i{
				color:$theme-color;
				font-size:30px;
				@include square(58px);
				border:2px solid $theme-color;
				@include border-radius(50%);
				text-align:center;
				line-height:54px;
			}
			.content{
				@include rtl-text-align-left();
				@include rtl-padding-left(15px);
				label{
					margin:0 0 -6px;
					display:block;
					font-size:11px;
					text-transform:uppercase;
					font-weight:700;
				}
				a,span{
					display:block;
					font-size:18px;
					font-weight:700;
				}
			}
		}
		.wishlist-box{ 
			position:relative;
			top: 4px;
			@include transition(all 0.3s ease);
			&:hover{
				color:$theme-color;
				top: 1px;
			}
			.count-wishlist{
            	position: absolute;
            	top: -5px;
            	@include rtl-right(-12px);
            	@include square(15px);
            	line-height: 15px;
            	display: inline-block;
            	color:$white;
            	text-align: center;
            	background: $theme-color;
            	@include border-radius(50%);
				font-size:10px;
            }
            i{
            	font-size: 20px;
            }
        }
		.compare-box{
			position:relative;
			top:2px;	
			a{
				&:before{
					content:"\e905";
					font-family:icomoon;
					display:inline-block;
					font-size:20px;
					position: relative;
					line-height: 1;
					font-weight:700;
				}
			}
		}
        .mini-cart{
            .cart-icon {
            	position: relative;
				.icons-cart{
					.text-cart{
						position:relative;
						cursor:pointer;
						@include transition(all 0.3s ease);
						top:3px;
						i{
							font-size: 28px;
						}
						&:hover{
							top: 0;
					    }
					}
		            .cart-count {
		            	position: absolute;
		            	top: -0;
		            	@include rtl-right(-5px);
		            	text-indent: -1px;
		            	@include square(15px);
		            	line-height: 15px;
		            	display: inline-block;
		            	text-align: center;
		            	background:$theme-color;
						color: $white;
		            	@include border-radius(50%);  
						font-size:10px;
		            }
				}
            	i{
					font-size: 25px;
					position: relative;
					top: 0;  
					@include transition(all 0.3s ease);
            	} 
            }
        }
        .search-box .search-toggle{
            font-size: 25px;
			position:relative;
			top: 4px;
			color:$gray-dark;
			@include transition(all 0.3s ease);
			&:hover{
				top: 1px;
				i{
					color: $theme-color;
				}
			}
        }
        >.search-from{
            >ul.result-search-products{
                padding: 20px !important;
                max-height: 380px !important;
                min-width: 290px;
                top: 40px;
                li{
                    width: 100% !important;
                }
            }
        }
        .account{
        	.active-login h2{
        		margin: 0;
        		font-size: 14px;
        		text-transform: uppercase;
        	}
        }
		.login-header{
			> a {
				top: -2px;
				position: relative;
				@include transition(all 0.3s ease);
				&:before {
					content: "\e91b";
					font-size: 20px;
					font-family: icomoon;
					display: inline-block;
				}
			}
			&:hover {
				> a {
					top: -5px;
				}
			}
			.block-top-link{
				.widget-title{
					&:hover{
						top: -3px;
					}
				}
				.widget-custom-menu {
					>div{
						width:auto;
					}
				}
			}
			.icon-account{
				font-size: 20px;
				@include transition(all 0.3s ease);
				position: relative;
				top: 3px;
				&:hover{
					top: -1px;
				}
			}
		}
	}
    //Search
	.header-search-form{
		flex:1;
		@media (max-width:$screen-xs-max){
			margin-bottom:30px;
		}
		.result-search-products-content{
			position: absolute;
			background: $white;
			width:100%;
			top:calc(100% + 10px);
			left:0;
			@include border-radius(4px);
			@include box-shadow(0 1px 12px 2px hsla(0,0%,56%,.3));
			display:none;
			z-index:10;
			&:before{
				content:"";
				position:absolute;
				top:-14px;
				@include rtl-left(50px);
				border-style:solid;
				border-width:7px 8px;
				border-color:transparent;
				border-bottom-color: $white;
			}
		}
		.result-search-products{
			display:none;
			z-index: 10;
			max-height: 300px;
			overflow-y: auto;
			padding: 30px;
			overflow-x: hidden;
			list-style:none;
			&::-webkit-scrollbar-track
			{
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar
			{
				width: 5px;
				background-color: #F5F5F5;
			}

			&::-webkit-scrollbar-thumb
			{
				background-color: rgba($gray-dark, 0.1);
			}
			.item-search{
				list-style:none;
				padding:15px 0;
				display:table;
				width:100%;
				border-bottom:1px solid #f5f5f5;
				.item-image{
					display: table-cell;
					width: 70px;
				}
				.item-content{
					display: table-cell;
					vertical-align: top;
					@include rtl-padding-left(20px);
					a{
						font-weight:500;
						text-transform:capitalize;
					}
				}
				&:last-child{
					padding-bottom:0;
					border-bottom:0;
				}
				&:first-child{
					padding-top:0;
				}
			}
			.price{
				font-size:14px;
				del{
					font-size:13px;
				}
			}
			&.loading{
				&:before{
					position: absolute;
					left: 50%;
					top: calc(50% - 17px);
					display: inline-block;
					content: "\f110";
					width: auto;
					height: auto;
					color: $theme-color;
					margin-left: 0;
					font-family: FontAwesome;
					background-color: transparent !important;
					background: none;
					font-size: 20px;
					@include animation(2s linear 0s normal none infinite running spinAround);
				}
			}
		}
		.search-from{
			@include size(100%,50px);
			display:flex;
			position:relative;
			border: 1px solid $light-gray;
			border-radius: 10px;
			max-width:810px;
			@include rtl-margin-left(auto);
			@media (max-width:$screen-md-max){
				width: auto;
			}
			.search-box{
				@include rtl-text-align-left();
				flex:1;
				input[type="text"]{
					border:0;
					line-height:50px;
					width:100%;
					padding:0 25px;
					font-size:15px;
					@include placeholder($very-dark-gray);
				}
				@media (max-width:$screen-md-max){
					width:auto;
				}
				@media (max-width:$screen-xs-max){
					@include rtl-padding-left(15px);
				}
			}
			#searchsubmit,#searchsubmit2{
				color:$gray-dark;
				font-size:0;
				position:relative;
				line-height:50px;
				padding:0 20px;
				background:transparent;
				text-align:center;
				@include border-radius(10px);
				i{
					font-size:24px;
					line-height:46px;
				}
				&:hover{
					background: $theme-color;
					border-radius: 10px;
					color: $white;
				}
			}
		}
	}
    .searchform{
        color: $gray-light;
        border: 1px solid $border-color;
        display: flex;
        font-size: 14px;
        height: 40px;
        padding: 0 25px;
        max-width: 415px;
        width: 100%;
        @include border-radius(5px);
        .searchsubmit{
            background: transparent;
            font-size: 19px;
            padding: 0;
			@include transform(rotateY(180deg));
            i{
                color: $gray-dark;
            }
            &:hover{
            	i{
                    color: $theme-color;
                }
            }
            &:active{
                @include box-shadow(none);
            }
        }
        input[type="text"]{
            border: 0;
            font-weight: 300;
            padding: 5px 0;
            width: 100%;
            @include rtl-margin-right(10px);
        }
    }
	.search-style{
		ul.result-search-products{
			li{
				width:100%;
			}
		}
	}
	.content-header{
		position:unset;
		display:flex;
		align-items:center;
	}
    //Block Top Link
    .block-top-link{
		&.acount{
			@include rtl-text-align-left();
			label{
				margin-bottom:-4px;
				font-size:14px;
				font-weight:400;
				text-transform:capitalize;
			}
		}
		> .widget{
			margin-bottom: 0;
			.widget-custom-menu{
				.widget-title{
					margin: 0;
					font-size:0;
					font-weight:500;
					cursor:pointer;
					line-height:0;
					position:relative;
					@include transition(all 0.3s ease);
					top: 0px;
					&:after{
						font-size: 20px;
						 content: "\e91b";
						font-family: icomoon;
						line-height:20px;
						font-weight: 300;
					}
					&:hover{
						top: -3px;
						&:after{
							color: $theme-color;
						}
					}
				}
				>div {
					display: none;
					margin: 0;
					padding: 15px 30px;
					font-size: 16px;
					text-transform: capitalize;
					position: absolute;
					z-index: 1001;
					background: $white;
					line-height: 28px;
					border: 1px solid rgba($light-gray,0.1);
					top: 30px;
					@include rtl-text-align-left();
					@include box-shadow( 0px 5px 15px 5px rgba(144, 144, 144, 0.15));
					@media (min-width:$screen-md){
						right:0;
					}
					@media (max-width:$screen-sm-max){
						@include rtl-right(0);
						@include rtl-left(unset);
					}
					.widget{
						margin-bottom: 0;
						ul{
							padding: 0;     
							list-style: none;
						}
					}
					ul#menu-top-menu{
						min-width: 100px; 
						padding: 0;
						li{
							border-bottom:1px solid  $table-bg-hover;
							a{
								color:$text-color;
								padding:5px 0;
								display:inline-block;
								&:hover{
									color:$theme-color;
								}
							}
							&:last-child{
								border-bottom:0;
								a{
									padding-bottom:0;
								}
							}
							&:first-child{
								a{
									padding-top:0;
								}
							}
						}
					}
					ul{
						li{
							border-bottom:1px solid  $table-bg-hover;
							a{
								color:$text-color;
								padding:5px 0;
								display:inline-block;
								font-size:14px;
								&:hover{
									color:$theme-color;
								}
							}
							&:last-child{
								border-bottom:0;
								a{
									padding-bottom:0;
								}
							}
							&:first-child{
								a{
									padding-top:0;
								}
							}
						}
					}
				}
			}
		}
	}

    // Menu Fixed
    .menu_fixed{
        position: fixed;
        top: 0;
        z-index: 9999;
        background: $white;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: $container-lg-desktop;
        padding: 0 ($grid-gutter-width + 10);
        @include transition(all .6s ease 0s);
        .logo{
            margin: $theme-margin 0;
        }
        .navbar-mega{
            .navbar-nav > li > a{
                line-height: 55px;
            }
        }
        .search-from{
            top: 22px;
            @include rtl-right(40px);
        }
        .top-cart{
            @include rtl-right(90px);
            top: 23px;
        }
    }
    .header-logo{
		z-index:9;
    }
    .header-right{
        position: relative;
        color:$gray;
		display:flex;
		align-items:center;
		justify-content:flex-end;
    }
	.list-sale-ship{
		@include rtl-margin-left(50px);
		font-size:11px;
		text-transform:uppercase;
		font-weight:700;
		color:$gray-dark;
		display:flex;
		@include rtl-padding-left(50px);
		position:relative;
		&:before{
			content: "\e92c";
			position:absolute;
			@include rtl-left(0);
			top:50%;
			@include transform(translateY(-50%));
			font-family:icomoon;
			font-size:40px;
			font-weight:400;
		}
		.sale{
			color:$theme-color;
			@include rtl-margin-left(5px);
			text-decoration: underline;
		}
	}
	.wpbingoLogo{
		img{
			max-width: 80px;
			width:100%;
		}
		@media (max-width:$screen-xs){
			margin-bottom:15px;
			text-align:center;
		}
	}
	.phone-box{
		display:flex;
		align-items:center;
		@include rtl-margin-right(50px);
		.content-icon{
			font-size:40px;
			color:$gray-dark
		}
		.content-phone{
			@include rtl-padding-left(15px);
			label{
				display:block;
				text-transform:uppercase;
				margin:0;
				color:$gray-dark;
				font-size:10px;
				font-weight:500;
			}
			a{
				font-size:16px;
				font-weight:500;
			}
		}
	}
	.shipping{
		font-weight: 400;
		font-size: 14px;
		color: $gray-dark;
		font-family: $font-family-second;
		text-decoration: underline;
	}
	.box-menu{
		ul{
			padding:0;
			list-style:none;
			li{
				display:inline-block;
				&:before{
					content:"";
					display:inline-block;
					@include square(5px);
					@include border-radius(50%);
					margin:0 15px;
					background:#525252;
				}
				&:first-child{
					&:before{
						display:none;
					}
				}
				a{
					color:$white;
					font-size:13px;
					&:hover{
						color:$theme-color;
					}
				}
			}
		}
	}
    .wpbingo-menu-mobile{
		@media(max-width:$screen-md-max){
			&.text-center{
				.wpbingo-menu-wrapper{
					@include rtl-margin-right(-30px);
				}
			}
		}
    }
	@media (max-width:$screen-sm-max){
		.header-desktop{
			display:none;
		}
	}
	@media (min-width:$screen-md){
		.header-mobile{
			display:none;
		}
	}
	.header-mobile{
		padding:20px 0;
		>.container{
			>.row{
				align-items:center;
			}
		}
		.navbar-toggle{
			border:0;
			background:transparent;
			padding:0;
			&:before{
				content: "\e908";
				font-family:wpbingofont;
				font-size:20px;
				color:$gray-dark;
			}
			span{
				display:none;
			}
		}
		.wpbingoLogo{
			text-align:center;
			margin:0 !important;
		}
		.nuna-topcart{
			margin:0 10px;
		}
		.mini-cart{
			@include rtl-text-align-right();
			.cart-icon {
				position: relative;
				top:-2px;
				.icons-cart{
					display:inline-block;
					position:relative;
				}
				i{
					font-size: 28px;
					position: relative;
					top: 4px;
            	} 
			}
			.cart-count {
				position: absolute;
				top: 0px;
				@include rtl-right(-5px);
				@include square(18px);
				line-height: 18px;
				display: inline-block;
				color:$white;
				text-align: center;
				background:$theme-color;
				@include border-radius(50%);  
				font-size:12px;
			}
		}
		.header-right{
			display:flex;
			justify-content:flex-end;
			align-items:center;
		}
		.wpbingo-verticalmenu-mobile{
			display:inline-block;
		}
		#show-verticalmenu{
			border:0;
			&:before{
				content: "\e909";
			}
		}
		.header-mobile-fixed{
			position:fixed;
			bottom:0;
			@include rtl-left(0);
			width:100%;
			background:$white;
			display:flex;
			padding:10px 15px 5px;
			align-items:center;
			@include box-shadow( 0px 1px 12px 2px rgba(144, 144, 144, 0.3));
			z-index: 3;
			>div{
				flex:1;
				text-align:center;
			}
			.search-toggle{
				color:$gray-dark;
				font-size:20px;
			}
			.wishlist-box{
				a{
					color:$gray-dark;
					font-size:20px;
					&:hover{
						color:$theme-color;
					}
				}
			}
			i{
				font-size:20px;
			}
			a{
				&:hover{
					color:$theme-color;
				}
			}
		}
	}
	/*---------------- header-campbar ---------------*/
	.header-campbar{
		text-align:center;
		padding:17px 15px;
		color:$white;
		font-size:12px;
		text-transform:uppercase;
		a{
			color:$white;
			&:hover{
				color:$theme-color;
			}
		}
		.content-campbar{
			max-width:1740px;
			margin:auto;
			position:relative;
		}
		.close-campbar{
			position:absolute;
			@include rtl-right(0);
			top:0;
			font-size:16px;
			line-height:1;
			cursor:pointer;
			&:hover{
				color:$theme-color;
			}
			@media (max-width:$screen-xs){
				top:-12px;
			}
		}
	}
	.header-wrapper{
		position:relative;
		.container{
			max-width: 1790px;
		}
		.row{
			align-items:center;
		}
	}
	.text-center{
		position: unset;
	}
    &.header-sticky {
        position: fixed;
        top: 0px;
        width: 100%;
        #bwp-topbar {
            display: none;
        }
    }
    .delivery{
    	color: $gray-dark;
    }
    .order{
    	color: $theme-color;
    	@include rtl-margin-left(7px);
    	>div{
    		position: relative;
    		&:before{
    			position: absolute;
    			content: "";
    			@include size(100%, 1px);
    			background: $theme-color;
    			bottom: 1px;
    			@include rtl-left(0)
    		}
    	}
    }
	.header-sticky {
		display:none;
		position: fixed !important;
		width: 100%;
		background: rgba($white,0.93);
		z-index: 900;
		left: 0;
		padding: 20px 0 !important;
		right: 0;
		box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
		top: 0;
		border: none;
		@include animation(sticky-header 900ms ease-in-out);
		.content-header-main{
			@include rtl-margin-left(50px);
		}
    }
	.header-normal{
		padding:30px 0;
		background:transparent !important;
		.header-main{
			@media (max-width:$screen-sm-max){
				justify-content: flex-end !important;
			}
		}
		.menu{
			display: flex;
			flex-wrap: wrap;
		}
		.wpbingo-menu-mobile .navbar-default .navbar-toggle{
			color:$theme-color!important;
			border-color:$theme-color!important;
			position:unset !important;
		}
		.header-wrapper{
			background:transparent !important;
			.header-left{
				order:unset;
			}
		}
		.header-wrapper{
			.wpbingoLogo{
				margin-bottom:0;
				@include rtl-text-align-left();
			}
		}
		@media (max-width:$screen-sm-max){
			.header-wrapper{
				.wpbingoLogo{
					margin-bottom:0;
					@include rtl-text-align-left();
				}
			}
		}
		@media (max-width:$screen-xs){
			.wpbingoLogo{
				margin-bottom:0;
				@include rtl-text-align-left();
			}
		}
	}
	.hiu{
		.header-left{
			position: initial;
		}
	}
	&.header-v2, &.header-v1, &.header-v4, &.header-v7{
		.bwp-navigation ul > li.level-0.mega-menu.mega-menu-fullwidth-width{
			> .sub-menu{
				left: 0;
				@include transform(translateY(50px) !important);
				min-width:1000px;
			}
			&:hover{
				> .sub-menu{
					@include transform(translateY(28px) !important);
				}
			}
		}
	}
	&.header-v1, &.header-v6{
		.container{
			max-width: 1790px;
			.wpbingoLogo{
				@include rtl-margin-right(75px);
			}
		}
		.header-menu{
			@include rtl-margin-right(65px);
		}
		.header-left{
			.phone {
				a{
					display: inline-block;
					position: relative;
					font-family: $font-family-second;
					@include rtl-margin-left(90px);
					background: $ograne;
					padding:0 20px;
					border-radius: 25px;
					font-size: 16px;
					@media(max-width: $screen-md-max){
						@include rtl-margin-left(60px);
					}
					&:before{
						position: absolute;
					    content: "";
					    @include rtl-left(-22px);
					    top: 50%;
					    display: inline-block;
					    transform: translateY(-50%);
					    background: url('#{$image-theme-path}rocket1.svg') no-repeat;
					    @include square(22px);
					    background-size: contain;
					    z-index: 99;
					}
					&:after{
						content: '';
						background: $theme-color;
						position: absolute;
						@include rtl-left(-33px);
						@include square(50px);
						@include box-shadow(0px 6px 14px 0 rgba($gray-dark, .25));
						border-radius: 50%;
						bottom: -10px;
					}
				}
			}
		}
		.header-desktop{
			padding:30px 0;
		}
		.content-header{
			justify-content:center;
		}
		.header-mobile{
				.navbar-toggle:before, .mini-cart .cart-icon{
					color: $gray-dark;
				}
			}
		@media (max-width:$screen-sm-max){
			.wpbingoLogo{
				margin:0;
			}
		}
	}
	&.header-v3{
		.container{
			max-width: 1440px;
			.wpbingoLogo{
				@include rtl-margin-right(75px);
			}
		}
		.header-menu{
			@include rtl-margin-right(65px);
		}
		.header-left{
			.phone {
				a{
					display: inline-block;
					position: relative;
					font-family: $font-family-second;
					@include rtl-margin-left(90px);
					background: $ograne;
					padding:0 20px;
					border-radius: 25px;
					font-size: 16px;
					@media(max-width: $screen-md-max){
						@include rtl-margin-left(60px);
					}
					&:before{
						position: absolute;
					    content: "";
					    @include rtl-left(-22px);
					    top: 50%;
					    display: inline-block;
					    transform: translateY(-50%);
					    background: url('#{$image-theme-path}rocket1.svg') no-repeat;
					    @include square(22px);
					    background-size: contain;
					    z-index: 99;
					}
					&:after{
						content: '';
						background: $theme-color;
						position: absolute;
						@include rtl-left(-33px);
						@include square(50px);
						@include box-shadow(0px 6px 14px 0 rgba($gray-dark, .25));
						border-radius: 50%;
						bottom: -10px;
					}
				}
			}
		}
		.header-desktop{
			padding:30px 0;
		}
		.content-header{
			justify-content:center;
		}
		.header-mobile{
				.navbar-toggle:before, .mini-cart .cart-icon{
					color: $gray-dark;
				}
			}
		@media (max-width:$screen-sm-max){
			.wpbingoLogo{
				margin:0;
			}
		}
	}
	&.header-v2{
		.header-search-form {
			@include rtl-margin-right(5px); 
			.search-from {
				border: 0;
				padding: 0;
				height: 35px;
				border-bottom: 1px solid $border-color;
				@include border-radius(0);
				.search-box input[type="text"]{
					line-height: 35px;
					padding: 0;
					font-size: 14px;
				}
				#searchsubmit2{
					line-height: 35px;
					background: $white;
					border: 0;
					padding:0;
					@include rtl-margin-left(15px);
					i{
						line-height: 34px;
						color: $gray-dark;
					}
					&:hover{
						i{
							color: $theme-color;
						}
					}
				}
			}
		}
		.wpbingo-menu-mobile{
			@include rtl-margin-left(65px);
		}
		.header-desktop{
			padding: 30px 0;
		}
		.header-left{
			position: initial;
		}
		.header-right{
			width: 100%;
			.header-page-link{
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				.header-search-form{
					width: 100%;
					max-width: 400px;
				}
			}
		}
	}
	&.header-v4{
		background: #fdeeee;
		.header-desktop{
			.header-top{
				.row{
					align-items: center;
				}
			}
			.header-wrapper{
				margin-top: 23px;
				.header-right{
					.order{
						@include rtl-margin-left(6px);
						.content{
							position: relative;
							display: block;
							color: $theme-color;
							&::before{
								width: 100%;
								height: 1px;
								content: "";
								background: $theme-color;
								position: absolute;
								bottom: 0;
							}
							&:hover{
								cursor: pointer;
								color: $gray-dark;
								&::before{
									background: $gray-dark;
								}
							}
						}
					}
					.delivery{
						.content{
							color: $gray-dark;
						}
					}
					
				}
			}
		}
	}
	&.header-v4, &.header-v7{
		.header-desktop{
			padding:30px 0 22px 0;
		}
		.container{
			max-width: 1790px;
		}
		.header-page-link{
			.login-header{
				>a{
					&:after{
						background: $gray-dark;
					}
				}
			}
		}
		.bwp-navigation ul > li.level-0{
			> a{
				> span{  
					&:before{
						background: $theme-color;
					}
				}
			}
		}
	}
	&.header-v5{
		z-index:9999;
		&.sticky{
			.header-sticky{
				.header-right{
					.search-box{
						display: none;
					}
				}
			}
		}
		.header-wrapper{
			.wpbingoLogo{
				@include rtl-margin-right(75px);
			}
			.header-main{				    
				padding: 0 25px;
			    height: 100vh;
			    overflow-y: auto;
				overflow-x: hidden;
				border-right: 1px solid #faf8f7;
   				box-shadow: 5px 0 5px -5px #faf8f7;
				display: inline-flex;
				flex-direction: column;
				justify-content: space-between;
				width: 150px;
				@media(max-width: $screen-lg){
			    	width: 100px;
			    }
				.header-top{
					margin-top: 65px;
					.search-from {
						background: $white;
					}
					.search-box{
						@include square(55px);
						border-radius: 50%;
						line-height: 60px;
						margin: auto;
						background: $theme-color;
						.icon-search{
							color: $white;
						}
						&:hover{
							background: rgba($theme-color, .75);
							.icon-search{
								color: $white;
							}
						}
					}
				}
				.header-social{
					.social-link{
						list-style: none;
						padding: 0;
						li{
							margin: auto;
							margin-bottom: 15px;
							@include square(36px);
							border-radius: 10px;
							border: 1px solid #f5f5f5;
							line-height: 36px;
							text-align: center;
						}
					}
				}
			}
			.header-content {
			    position: fixed;
			    width: 150px;
			    background: $white;
			    top: 0;
				left: 0;
			    @media(max-width: $screen-lg){
			    	width: 100px;
			    }
				z-index: 2;
			    &.sticky-sidebar {
			    	transition: all .7s ease-in-out 0s;
			    	&.active{
					    transform: translateZ(0);
			    	}
			    }
			}
			.header-content2{
				padding: 35px 0 35px 150px;
				@media(max-width: $screen-lg){
			    	@include rtl-padding-left(100px);
			    }
				@media(max-width: 991px){
			    	@include rtl-padding-left(0);
			    }
			}
		}
	}
	&.header-v7{
		.header-desktop{
			.header-top{
				.row{
					align-items: center;
					.header-search-form{
						.search-from{
							background: #f2f2f2;
							border: 0;
						}
					}
				}
			}
			.header-wrapper{
				margin-top: 23px;
			}
		}
	}
	&.header-v8{
		@media (max-width: 1510px) and (min-width: 1200px){
			.container,.related, .cross_sell, .upsells {
				padding-left:15px;
				padding-right: 15px;
			}
		}
		.phone-right{
			@include rtl-margin-left(40px);
			.call{
				font-size: 12px;
				margin: 0;
				font-weight: 500;
				line-height:24px;
				color: #5a5a5a;
			}
			.phone{
				text-align: right;
			}
			a{
				font-size: 16px;
				color: $theme-color;
				font-family: $font-family-second;
				font-weight: 800;
			}
		}
		.container{
			max-width: 1320px;
		}
		.header-desktop{
			padding: 25px 0;
		}
		.header-menu{
			@include rtl-margin-left(55px);
		}
		.bwp-navigation ul > li.level-0{
			> a{
				> span{  
					&:before{
						background: $theme-color;
					}
				}
			}
		}
		.bwp-navigation ul > li.level-0.mega-menu.mega-menu-fullwidth-width{
			> .sub-menu{
				left:0;
				@include transform(translateY(50px) !important);
				min-width:1000px;
			}
			&:hover{
				> .sub-menu{
					@include transform(translateY(28px) !important);
				}
			}
		}
	}
    &.bwp-header-default{
		.header-desktop{
			padding:30px 0;
		}
		.header-content{
			.row{
				align-items:center;
			}
		}
		.wpbingoLogo{
			@media (max-width:$screen-xs){
				@include rtl-text-align-left();
			}
		}
        .wpbingo-menu-mobile{
			margin:0;
			&.text-right{
				.navbar-toggle{
					@include rtl-float-right();
				}
				.bwp-navigation ul>li.level-0{
					&:last-child{
						>a{
							@include rtl-margin-right(0);
						}
					}
				}
			}
        }
		@media (max-width:$screen-sm-max){
			.wpbingoLogo{
				margin-bottom:0 !important;
			}
			.header-logo{
				margin-bottom:0 !important;
			}
			#show-megamenu{
				position:unset !important;
			}
		}
    }
}

.form-login-register{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:rgba($gray-dark,0.5);
	z-index:9999;
	&.active{
		display:block;
	}
	.box-content{
		position:relative;
		border:1px solid #e5e5e5;
		overflow-x: hidden;
		height: 100%;
		overflow-y: auto;
		&::-webkit-scrollbar
		{
			width: 0;
		}
		>div{
			position:relative;
			z-index:3;
			background:$white;
			@include opacity-h();
			@include transition(all 0.5s ease);
			@include transform(translateX(-100%));
			&.active{
				@include opacity-s();
				@include transform(translateX(0));
				.login{
					display:block !important;
				}
			}
			>form{
				padding:20px 30px 30px;
				position:relative;
				@media (max-width:$screen-xs){
					padding:45px 15px 15px;
				}
				.woocommerce-error,.woocommerce-message{
					@include rtl-text-align-left();
					margin-bottom:0;
				}
			}
		}
		.form-register{
			position:absolute;
			width:100%;
			top:0;
			left:0;
			z-index:2;
			background:$white;
			@include opacity-h();
			@include transition(all 0.5s ease);
			@include transform(translateX(100%));
			&.active{
				@include opacity-s();
				@include transform(translateX(0));
			}
		}
	}
	.box-form-login{
		width:100%;
		max-width:510px;
		background:$white;
		margin:auto;
		position:absolute;
		left:calc(50% - 255px);
		top:50%;
		padding:30px;
		@include transform(translateY(-50%));
		overflow:hidden;
		.active-login{
			@include rtl-text-align-right();
			position:absolute;
			z-index:9;
			@include rtl-right(16px);
			top:15px;
			cursor:pointer;
			@include square(28px);
			@include border-radius(50%);
			border:1px solid #e5e5e5;
			background:$white;
			@include transform(rotate(45deg));
			border-bottom-color: transparent;
			&:after{
				content: '';
				position: absolute;
				height: 2px;
				width: 14px;
				top: 50%;
				left:calc(50% - 7px);
				margin-top: -1px;
				background-color: rgba($gray-dark,0.5);
				transform-origin: 50% 50%;
				@include transition(all 0.3s ease);
			}
			&:before{
				content: '';
				position: absolute;
				height: 2px;
				width: 14px;
				top: 50%;
				left:calc(50% - 7px);
				margin-top: -1px;
				background-color: rgba($gray-dark,0.5);
				transform-origin: 50% 50%;
				@include transform(rotate(95deg));
				@include transition(all 0.3s ease);
			}
			&:hover{
				background:#e5e5e5;
				&:before{
					@include transform(rotate(135deg));
				}
				&:after{
					@include transform(rotate(-45deg));
				}
			}
			@media (max-width:$screen-xs){
				@include rtl-right(2px);
				top: 16px;
			}
		}
		h2{
			text-align:center;
			position:relative;
			font-size:22px;
			margin:0 0 20px;
			text-transform:uppercase;
			font-weight:600;
		}
		.button-login,.button-register{
			input[type="submit"]{
				background:$gray-dark;
				@include border-radius(25px);
				border:0;
				font-size:13px;
				color:$white;
				text-transform:uppercase;
				cursor:pointer;
				font-weight:500;
				letter-spacing: 0.1em;
				&:hover{
					background: rgba($theme-color, .75);
				}
			}
		}
		.button-login{
			position:relative;
			&:before{
				content:"";
				display:inline-block;
				width:20px;
				height:20px;
				border-radius:50%;
				border:2px solid rgba($white,0.25);
				border-top-color:$white;
				position:absolute;
				top:calc(50% - 10px);
				left:calc(50% - 10px);
				@include opacity-h();
				@include animation(2s linear 0s normal none infinite running spinAround);
			}
			&.active{
				input[type="submit"]{
					color:transparent;
				}
				&:before{
					@include opacity-s();
				}
			}
		}
		.button-next-reregister,.button-next-login{
			background:#b9b9b9;
			@include border-radius(25px);
			border:0;
			font-size:13px;
			color:$white;
			text-transform:uppercase;
			cursor:pointer;
			display:inline-block;
			height:55px;
			line-height:55px;
			width:100%;
			text-align:center;
			margin-top:15px;
			font-weight:500;
			letter-spacing: 0.1em;
			&:hover{
				background:$theme-color;
			}
		}
		.content{
			input{
				width:100%;
				height:55px;
				line-height:55px;
				@include border-radius(25px);
			}
			.username,.password,.email{
				margin-bottom:15px;
				input{
					padding:0 20px;
				}
			}
			.username{
				margin-bottom:15px;
				position:relative;
			}
			.email{
				position:relative;
			}
		}
		.user-role{
			margin:0 0 18px;
			justify-content:space-between;
			&:after,&:before{
				display:none;
			}
			input{
				@include square(16px);
				display:inline-block;
				position:relative;
				top:3px;
			}
			.radio{
				color:$gray-dark;
				font-weight:500;
				cursor: pointer;
			}
		}
		.rememberme-lost{
			display:flex;
			justify-content:space-between;
			flex-wrap:wrap;
			margin-top:17px;
			margin-bottom:10px;
			.rememberme{
				@include rtl-margin-right(10px);
				position:relative;
				input{
					display:none;
					&:checked + label:after{
						@include scale(1);
					}
				}
			}
			.inline{
				color:$gray-dark;
				font-weight:500;
				cursor: pointer;
				&:before{
					@include square(16px);
					content:"";
					display:inline-block;
					@include border-radius(50%);
					border:2px solid $gray-dark;
					@include rtl-margin-right(5px);
					position:relative;
					top:3px;
					z-index:2;
				}
				&:after{
					@include square(16px);
					content:"";
					display:inline-block;
					@include border-radius(50%);
					position:absolute;
					top: 7px;
					border:4px solid $white;
					@include rtl-left(0);
					background:$theme-color;
					@include transition(all 0.3s ease);
					z-index:1;
					@include scale(0);
				}
			}
			.lost_password{
				font-weight:500;
				a{
					display:inline-block;
					position:relative;
					&:before{
						bottom:0;
						left:50%;
						@include translateX(-50%);
						content:"";
						position:absolute;
						@include size(100%,1px);
						@include transition(all 0.3s ease);
						background:$gray-dark;
					}
					&:hover{
						&:before{
							background:$theme-color;
							width:50%;
						}
					}
				}
			}
		}
	}
	@media (max-width:$screen-xs){
		.box-form-login{
			width:calc(100% - 20px);
			left:50%;
			@include transform(translate(-50%,-50%));
			padding:30px 15px 15px;
		}
	}
}

/************************************************************************************************
    SICKEY MENU
*************************************************************************************************/ 
.bwp-header.sticky{
	@media (min-width:$screen-sm-max){
		.header-sticky{
			display:inline-block;
		}
	}
	@media (max-width:$screen-sm-max){
		position:relative !important;
		animation: none;
		.header-mobile{
			>.container{
				position: fixed !important;
				width: 100%;
				background: #fff;
				z-index: 900;
				left: 0;
				padding-top:20px;
				padding-bottom:20px;
				right: 0;
				box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.08);
				top: 0;
				border: none;
			}
		}
	}
	.header-sticky{
		.bwp-navigation ul > li.level-0.mega-menu{
			&.mega-menu-fullwidth-width{
				position: static;
				>.sub-menu{
					width: 100%;
					left:50%;
					@include transform(translate(-50%, 20px) !important);
					padding:0;
					@include box-shadow(3px 3px 45px 0px rgba(0, 0, 0, 0.05));
					max-width: 1000px;
					padding: 0 15px;
					.content-megamenu{
						padding:30px 0 60px;
					}
					@media (max-width:$screen-md-max){
						width: 100vw;
					}
				}
				&:hover{
					position: static;
					>.sub-menu{
						@include transform(translate(-50%, 0) !important);
					}
				}
			}
		}
	}
}

.wpbingoLogo-sticky{
    display: none;
}

@keyframes fadeInDown{
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        -ms-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}
.about-us {
	.header-v8{
		.header-desktop{
			background: $white;
		}
	}
}
