/************************************************************************************************
    BLOCK MENU 
*************************************************************************************************/
.#{$app-prefix}-menu-wrapper {
	border-top: 1px solid $border-color;
	border-bottom: 4px double $border-color;
	.container{display: table;}
	#primary-navigation{
		display: table-cell;
		vertical-align: middle;
	}
	.block-cart{
		display: table-cell;
		vertical-align: middle;
		@include rtl-text-align-right();
		.cart-popup {
			min-width: 320px;
			@include rtl-right(0);
			@include rtl-left(inherit);
			.cart_list {
				list-style: none;
			}
		}
	}
}

/************************************************************************************************
    BREADCRUMB
*************************************************************************************************/
.breadcrumb-noheading{
	.breadcrumb{
		font-size:14px;
		line-height:24px;
		color:$gray-dark;
		justify-content:flex-start;
		padding:20px 0;
		a{
			color:$text-color;
			position:relative;
			&:hover {
				color: $theme-color;
			}
		}
		.current{
			color:$gray-dark;
		}
		.delimiter {
			margin: 0 8px;
			color:$text-color;
		}
	}
}
.breadcrumb{
    @include border-radius(0);
    margin: $breadcrumb-margin;
    color: $breadcrumb-color;
    padding:0;
    font-size: $breadcrumb-font-size;
	font-weight:500;
	width:100%;
	display: flex;
	justify-content:center;
	background:transparent;
	a{
        color: $text-color;
		position:relative;
        &:hover {
            color: $theme-color;
        }
    }
	.current{
		color:$gray-dark !important;
	}
    .delimiter {
        margin: 0 10px;
		color: $text-color;
        &:before{
			position: relative;
			content: "";
			display: inline-block;
			height: 12px;
			width: 1px;
			top: 2px;
			background: $text-color;
			@include transform(rotate(25deg));
        }
    } 
}

/* Slideshow -------------------------------------------------------------------------------------- */
.#{$app-prefix}-slideshow{
    .wpb-inner{
        margin-bottom: 0 !important;
    }
}

/* Container -------------------------------------------------------------------------------------- */
.#{$app-prefix}-main{
    @include box-size($container-bg, $container-padding-top, $container-padding-bottom);
    .page-title{
		margin: $page-title-margin;
		font-size: 20px;
		padding-top: 40px;
		padding-bottom: 50px;
		background-position: top;
		position:relative;
		text-align: center;
		background-size:cover;
		@media (max-width:$screen-md-max){
			background-attachment: unset;
		}
		.content-title-heading{
			display:inline-flex;
			position:relative;
			align-items:center;
		}
		.back-to-shop{
			display: none;
			font-size:0;
			cursor:pointer;
			color:$gray-dark;
			@include rtl-margin-right(10px);
			&.active{
				display:block;
			}
			&:before{
				content: "\23";
				font-family: 'ElegantIcons';
				font-size:40px;
				line-height:40px;
			}
			&:hover{
				color:$theme-color;
			}
		}
		h1{
			text-transform: capitalize;
			margin-top: 0;
			font-size: 60px;
			text-align:center;
			@media (max-width:$screen-xs-max){
				font-size:40px;
			}
		}
		&.empty-image{
			background:$white;
			border-bottom: 1px solid #dddddd;
			@media(max-width: $screen-lg){
				@include rtl-padding-left(100px);
			}
			@media(max-width: 991px){
				@include rtl-padding-left(0);
			}
			.back-to-shop{
				color:$gray-dark;
				&:hover{
					color:$theme-color;
				}
			}
			h1{
				color:$gray-dark;
			}
			a{
				color:$text-color;
				&:hover{
					color:$theme-color;
				}
			}
			.breadcrumb{
				color:$gray-dark;
			}
			.current{
				color:$text-color;
			}
			.delimiter{
				color:$text-color;
			}
			ul.woocommerce-product-subcategories{
				li h2 a{
					color:$gray-dark;
					font-weight: 600;
					&:hover{
						color:$theme-color;
					}
				}
				&.image_categories li{
					> a:hover:before{
					}
					&.active{
						>a{
							&:before{
								border-color:rgba($theme-color,0.5);
							}
						}
					}
				}
			}
			.woocommerce-product-subcategorie-content .slick-arrow{
				color:$gray-dark;
				&:hover{
					color:$theme-color;
				}
			}
			
		}
		>.container{
			position:relative;
		}
    }
}

/* Content -------------------------------------------------------------------------------------- */
.#{$app-prefix}-content{
    background: $content-bg;
    @include clearfix();
}
/* Pagination -------------------------------------------------------------------------------------- */
.#{$app-prefix}-pagination{
    margin: 0;
}

/************************************************************************************************
    BLOCK FOOTER 
*************************************************************************************************/
  
##{$app-prefix}-footer{ 
    @include box-size($footer-bg, $footer-padding-top, $footer-padding-bottom);
    position: relative;
    color: $footer-color;
    border-bottom: $footer-border;
    z-index: 2;
    margin-top: 60px;
	@media (max-width:$screen-sm-max){
		padding-bottom:43px;
	}
    a{
        &:hover,
        &:focus,
        &:active{
            color: $footer-link-hover-color;
        }
    }
    ul {
        list-style: none;
        padding: 0;
    }
	ul.social-link{
		li{
			margin: 0 5px;
			display: inline-block;
			text-align: center;
			&:before{
				display : none;
			}
			&:first-child{
				@include rtl-margin-left(0);
			}
			&:last-child{
				@include rtl-margin-right(0);
			}
			a{
				display: inline-block;
				@include square(40px);
				line-height: 40px;
				border-radius: 50%;
				border:1px solid rgba($white, .5);
				@include transition(all .3s ease);
				i{
					color:rgba($white, .5);
				}
				&:before{
					display: none;
				}
				&:hover{
					background:$theme-color;
					border:1px solid transparent;
					i{
						color: $white;
					}
				}
			}
		}
	}
    .wpbingo-newsletter{
    	&.newsletter-default{
    		.content-newsletter{
    			input[type="email"]{
					border: 1px solid #e8e8e8;
    				line-height: 50px;
    				height: 50px;
    			}
    			.clearfix{
					@include rtl-margin-left(5px);
					@include transition(all .3s ease);
					position: relative;
					background: $gray-dark;
					&:before{
						position: absolute;
						content: "\e901";
						font-family: icomoon;
						font-size: 27px;
						color: $white;
						top: calc(50% - 12px);
						left: calc(50% - 14px);
						line-height:1;
						z-index: 2;
					}
					&:hover{
						background: rgba($gray-dark, .75);
					}
				}
    			input[type="submit"]{
    				height: 50px;
    				border: 0;
    				font-size: 0;
    				padding: 0 40px;
					background: transparent;
    				color: transparent;
					z-index: 2;
    			}
    		}
    	}
    }
    &.footer-3{
    	ul.social-link{
   			text-align: right;
   			@media(max-width: $screen-sm-max){
   				text-align: center;
   			}
   		}
	    .wpbingo-newsletter{
	    	max-width: 300px;
	    	&.newsletter-default{
	    		.content-newsletter{
	    			background: transparent;
	    			input[type="email"]{
	    				background: #525252;
	    				color: rgba($white, .5);
	    				border:0;
	    				border-radius: 25px 0 0 25px;
	    				&::placeholder{
	    					color: rgba($white, .5);
	    				}
	    			}
	    			.clearfix{
						@include rtl-margin-left(0);
						@include transition(all .3s ease);
						border-radius: 0 25px 25px 0;
						position: relative;
						background: $white;
						&:hover{
							background: rgba($theme-color, .75);
							&:before{
								color: $white;
							}
						}
					}
	    		}
	    	}
	    }
    }
    &.footer-1, &.footer-4 {
       	ul.social-link{
   			text-align: right;
   			@media(max-width: $screen-sm-max){
   				text-align: center;
   			}
   		}
	    .wpbingo-newsletter{
	    	max-width: 535px;
	    	&.newsletter-default{
	    		.content-newsletter{
	    			background: transparent;
	    			input[type="email"]{
	    				background: transparent;
	    				color: $gray-dark;
	    				border:0;
	    				&::placeholder{
	    					color: #999999;
	    				}
						&:active{
							color: $gray-dark;
						}
	    			}
	    			.clearfix{
						@include rtl-margin-left(25px);
						@include transition(all .3s ease);
						border-radius: 10px;
						position: relative;
						background: $theme-color;
						&:hover{
							background: #4b3b33;
							&:before{
								color: $white;
							}
						}
					}
	    		}
	    	}
	    }
    }
	&.footer-2, &.footer-6, &.footer-7 {
		ul.social-link{
			text-align: right;
			@media(max-width: $screen-sm-max){
				text-align: center;
			}
		}
	 .wpbingo-newsletter{
		margin: auto;
		 max-width: 535px;
		 &.newsletter-default{
			 .content-newsletter{
				 background: transparent;
				 input[type="email"]{
					 background: transparent;
					 color: $gray-dark;
					 border:0;
					 &::placeholder{
						 color: #999999;
					 }
					 &:active{
						 color: $gray-dark;
					 }
				 }
				 .clearfix{
					 @include rtl-margin-left(25px);
					 @include transition(all .3s ease);
					 border-radius: 10px;
					 position: relative;
					 background: $theme-color;
					 &:hover{
						 background: #4b3b33;
						 &:before{
							 color: $white;
						 }
					 }
				 }
			 }
		 }
	 }
 }
	&.footer-5{
		ul.social-link{
   			text-align: right;
   			@media(max-width: $screen-sm-max){
   				text-align: center;
   			}
   		}
   		 a{
	        &:hover,
	        &:focus,
	        &:active{
	            color: $white;
	        }
	    }
	}
	&.footer-6{
		@media(max-width: 991px){
			.elementor-section{
				padding: 50px 0 15px 0;
			}
		}
		
	}
	&.footer-9{
		ul.social-link{
			li a i{
				color: $white;
			}
		}
		.wpbingo-newsletter.newsletter-default .content-newsletter{
			.clearfix{
				@include rtl-margin-left(10px);
			}
		}
		input[type="submit"]{
			border: 1px solid $white !important;
			padding: 0 20px !important;
		}
	}
	.text-hover{
		a{
			position: relative;
			&:before{
				position: absolute;
				content: "";
				background: $gray-dark;
				bottom: 0;
				left: 0;
				@include size(0, 1px);
				@include transition(all .3s ease);
			}
			&:hover{
				&:before{
					width: 100%;
				}
			}
		}
	}
} 

/*  */
/* Newletter Popup */
/*  */
.newsletterpopup .close-popup {
	cursor: pointer;
	position: absolute;
	top:10px;
	@include rtl-right(10px);
	text-align:center;
	z-index: 9999;
	display:inline-block;
	@include square(28px);
	padding: 6px;  
	@include border-radius(100%);
	&:after{
		content: '';
		position: absolute;
		height: 2px;
		width: 20px;
		top: 50%;
		left:calc(50% - 10px);
		margin-top: -1px;
		background-color: $gray-dark;
		transform-origin: 50% 50%;
		@include transform(rotate(45deg));
		@include transition(all 0.3s ease);
	}
	&:before{
		content: '';
		position: absolute;
		height: 2px;
		width: 20px;
		top: 50%;
		left:calc(50% - 10px);
		margin-top: -1px;
		background-color: $gray-dark;
		transform-origin: 50% 50%;
		@include transform(rotate(-45deg));
		@include transition(all 0.3s ease);
	}
	&:hover{
		&:after,&:before{
			@include transform(rotate(0deg));
		}
	}
}
body:not(.page-template-homepage){
	.popupshadow,.newsletterpopup{
		display:none !important;
	}
}
.popupshadow {
	background-color: rgba(32,32,32,0.6);
	height: 100%;
	@include rtl-left(0);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;
	display : none;
}
.newsletterpopup {
    box-sizing: border-box;
    height: auto;
    left:50%;
	@include transform(translate(-50% , -50%));
    margin:auto;
    position: fixed;
    top: 50%;
    width: 750px;
    z-index: 1000000;
	display:none;
	overflow:hidden;
	border-radius: 10px;
	.wp-newletter{
		display:flex;
		.image{
			width:49.5%;
			img{
				width: 100%;
			}
		}
		.widget{
			width:50.5%;
			margin:0;
			background:$white;
			display:flex;
			align-items:center;
			justify-content:center;
		}
		.hidden-popup-newsletter{
			font-size:13px;
			display:block;
			text-align:center;
			padding:0 30px;
			position:relative;
			input{
				position:absolute;
				z-index:10;
				opacity:0;
				width:100%;
				height:25px;
				left:0;
				cursor:pointer;
				&:checked ~ .wpcf7-list-item-label{
					color:$theme-color;
					border-color:$theme-color;
				}
			}
			.wpcf7-list-item-label{
				cursor:pointer;
				font-size:12px;
				color:$theme-color;
				display:inline-block;
				font-weight:600;
				border-bottom:2px solid $theme-color;
			}
			.wpcf7-list-item{
				margin:0;
			}
		}
	}
	.wpbingo-newsletter-popup{
		padding:54px;
		margin:auto;
		.title-newsletter{
			font-size:30px;
			margin:auto;
			position:relative;
			margin-bottom:5px;
			color:$gray-dark;
			line-height:35px;
			font-family: $font-family-three;
			span{
				font-style: italic;
			}
		}
		.text-newsletter{
			font-size:16px;
			color:$text-color;
			font-weight:400;
			margin-bottom:20px;
			font-family: $font-family-three;
		}
	}
	.content-newsletter{
		width: 100%;
		max-width:380px;
		margin: 0;
		display:flex;
		background:$white;
		.wpcf7-form-control-wrap{
			width:100%;
			.wpcf7-not-valid-tip{
				position: absolute;
				bottom: -35px;
			}
		}
		input[type="email"]{
			width:100%;
			padding:0 15px 0 0;
			height:50px; 
			color: $text-color;
			line-height:50px;
			font-size:14px;
			border: 0;
			background:transparent;
			border-bottom:1px solid $border-color;
		}
		.clearfix{
			@include rtl-margin-left(25px);
			@include transition(all .3s ease);
			border-radius: 10px;
			position: relative;
			background: $theme-color;
			&:before{
				position: absolute;
				content: "\e901";
				font-family: icomoon;
				font-size: 27px;
				color: $white;
				top: calc(50% - 12px);
				left: calc(50% - 14px);
				line-height:1;
				z-index: 2;
			}
			&:hover{
				background: #4b3b33;
				
				&:before{
					color: $white;
				}
			}
			input[type="submit"]{
				height: 50px;
				border: 0;
				font-size: 0;
				padding: 0 40px;
				background: transparent;
				color: transparent;
				z-index: 2;
				position: relative;
				&:hover{
					cursor: pointer;
				}
			}
			.wpcf7-spinner{
				right: 0;
				left: unset;
			}
		}
		
		.ajax-loader{
			position:absolute;
		}
	}
	.wpcf7-response-output{
		margin: 20px 15px 0 15px !important;
		border-color: $theme-color !important;
	}
	@media (max-width:$screen-sm-max){
		width:300px;
		.image{
			display:none;
		}
		.wp-newletter .widget{
			width:100%;
			padding:30px 0;
		}
	}
}


/* Copyright -------------------------------------------------------------------------------------- */
.#{$app-prefix}-copyright{
    color: $copyright-color;
    font-size: $copyright-font-size;
    font-weight: $copyright-font-weight;
    background: $copyright-bg;
    font-family: $copyright-font-family;
    margin-top: 80px;
	@media (max-width:$screen-sm-max){
		padding-bottom:50px;
	}
    .#{$block-selector} {
        .#{$block-heading-selector}{
            color: $footer-heading-color;
            text-transform: $footer-heading-transform;
            margin: $footer-heading-margin;
            @include font-size(font-size,$footer-heading-font-size);
        }
    }
    .container{
        padding-bottom: $copyright-padding-bottom;
        position: relative;
        padding-top: $copyright-padding-top;
        &:before{
			position: absolute;
			top: 0;
			content: "";
			background: #dedede;
			@include rtl-left(15px);
			width: calc(100% - 30px);
			height: 1px;
        }
        .payment{
            @include rtl-text-align-right();
        }
    }
}
