/* Page default --------------------------------- */
.default-template .article{
	background: $white;
}

/* Elements Boostrap Page ---------------------------------- */
.bs-component,
.bs-docs-section{
	.modal{
		bottom: auto;
		display: block;
		left: auto; 
		position: relative;
		right: auto;
		top: auto;
		z-index: 1;
	}
	p:empty{
		margin: 0;
		padding: 0; 
		@include hide-text();
	}
	br{
		display: none;
	}
	.modal-dialog{
		width: 90%;
	}
}

/* Contact Page ---------------------------------- */
.contact{
	.bwp-header{
		.header-desktop{
			border-bottom:1px solid #e5e5e5;
		}
		.header-mobile{
			border-bottom: 1px solid #e5e5e5;
		}
	}
	.wpbingo-newsletter.newsletter-default .content-newsletter input[type="submit"]{
		background: $theme-color;
		&:hover{
			background: darken($theme-color,10%);
		}
	}
}

##{$app-prefix}-main{
    .wpb_gmaps_widget .wpb_wrapper {background: none; padding: 0;}
    
    
    #wpcf7-f8-p321-o1 {
        p {
            .wpcf7-form-control-wrap {
				display: block;
            }
        }
    }
}

.text-block-page{
	border-bottom: 1px solid $border-color;
	padding-bottom: 10px;
	@include rtl-margin(0, 0, 22px, 0);
}
h3.text-block-page{
	font-size: 18px;
}
.contact-info{
	ul{
		list-style-type: none;
		@include rtl-padding-left(0px);
		li{
			margin-bottom: 25px;
			font-weight:400;
			position:relative;
			strong{
				display: block;
				font-weight: 700;
				color: $gray-dark;
				padding-bottom: 13px;
				font-size:18px;
				text-transform:uppercase;
			}
		}
	}
	@media (max-width:$screen-xs-max){
		@include rtl-padding-left(0);
		margin-bottom:50px !important;
	}
}
.wpb_gmaps_widget{
	iframe{
		height:540px;
	}
}
.contact-form{
	h2{
		font-size:28px;
		font-weight:500;
		line-height:1.3;
		max-width:314px;
	}
}
.contact-info-form{
	h2.vc_custom_heading{
		margin-bottom: 35px;
		margin-top:2px;
		font-weight:700;
	}
	.title-input{
		font-size:14px;
	}
	.form-required{
		.title-input{
			position:relative;
			&:before{
				content:"*";
				position:absolute;
				color:red;
				right:-10px;
				top:0;
			}
		}
	}
	p{
		margin-bottom:0;
	}
	.ajax-loader{
		position:absolute;
	}
}
.contact{
	.wpcf7-form div.wpcf7-validation-errors, .wpcf7-form div.wpcf7-acceptance-missing{
		margin-top: 15px !important;
	}
}
.form-required{
	.wpcf7-not-valid-tip{
		position:absolute;
		top:-45px;
		left:0px;
	}
}
.social-contact{
	.social-link{
		li{
			margin:0;
			@include rtl-margin-right(10px);
			&:last-child{
				@include rtl-margin-right(0);
			}
			a{
				@include square(45px);
				@include border-radius(50%);
				border:1px solid $gray-dark;
				display:inline-block;
				line-height:45px;
				text-align:center;
				i{
					font-size:18px;
					color:$gray-dark;
				}
				&:hover{
					background:$theme-color;
					border-color:$theme-color;
					i{
						color:$white;
					}
				}
			}
		}
	}
}
.contact-us-form{
	label{
		color:$gray-dark;
		margin-bottom:10px;
		position:relative;
		&:before{
			content:"*";
			color: $gray-dark;
			position:absolute;
			top:-1px;
			@include rtl-right(-8px);
		}
	}
	input[type="text"], input[type="email"]{
		height: 50px;
		font-size: 14px;
		line-height:50px;
		margin-bottom: 20px;
		width: 100%;
		padding: 10px 20px;
		color: $gray-dark;
		font-weight:400;
		border: 1px solid $gray-dark;
		background: $white;
		@include placeholder(#a9a9a9);
		@include border-radius(10px);
	}
	textarea{
		width: 100%;
		color: $gray-dark;
		max-height: 260px;
		padding: 10px 20px;
		font-weight:400;
		margin-bottom:23px;
		background: $white;
		@include placeholder(#a9a9a9);
		border: 1px solid $gray-dark;
		@include border-radius(10px);
	}
	.ajax-loader{
		position:absolute;
		right:20px;
		top:30px;
	}
	.content-button{
		text-align: center;
	}
	.button{
		position: relative;
		display: inline-block;
		text-align: center;
	}
	input[type="submit"]{
		height: 42px;
		line-height: 42px;
		text-transform:uppercase;
		font-size: 14px;
		letter-spacing: 3px;
		font-weight: 500;
		padding: 0 50px;
		color: $white;
		background: $gray-dark;
		border: 1px solid $gray-dark;
		@include transition(all 0.3s ease);
		cursor:pointer;
		@include border-radius(30px);
		&:hover{
			background: transparent;
			color: $gray-dark;
		} 
	}
	.wpcf7-text,.wpcf7-textarea{
		&::placeholder {
			font-size:13px;
			font-weight:300;
		}
	}
}

/* Page About Us ---------------------------------- */


/* Page Not Found ---------------------------------- */

.woocommerce-page .header-title{
	display: none;
}
.blog-page-list{
	.entry-title{
		font-size: $font-size-base + 3;
		line-height: 1.2;
		padding-top: 10px;
		margin-bottom: 0!important;
	}
	.entry-meta{
		margin-top: 5px!important;
	}
}

.error404{
	.bwp-main{
		text-align: center;
		.page-title{
			display:none;
		}
	}
	.page-404{
		position:relative;
		.title-error{
			font-size:300px;
			line-height:1;
			color:$gray-dark;
		}
		.sub-title{
			font-size:50px;
			color:$gray-dark;
			font-weight:500;
			margin-bottom:25px;
			position:relative;
			padding-bottom:10px;
			&:before{
				position:absolute;
				content:"";
				@include size(140px,2px);
				bottom:0;
				left:calc(50% - 70px);
				background:$gray-light;
			}
		}
		.sub-error{
			max-width:325px;
			margin:auto;
		}
		.content-page-404{
			padding:100px 0 60px;
			a{
				margin-top: 30px;
				padding: 0 40px;
				height:50px;
				line-height:46px;
				font-size: 18px;
				color: $white;
				font-size:14px;
				background: $gray-dark;
				@include border-radius(30px);
				position:relative;
				z-index:1;
				border:2px solid $gray-dark;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				&:after{
					display:inline-block;
					content: "\24";
					font-family: eleganticons;
					font-size:20px;
					line-height:1;
					position:relative;
					top:5px;
					@media (max-width:$screen-xs-max){
						font-size:15px;
					}
				}
				&:hover{
					background:$white;
					color:$gray-dark;
				}
			}
		}
		@media (max-width:$screen-sm-max){
			.content-page-404{
				position:unset;
			}
		}
		@media (max-width:$screen-xs-max){
			.content-page-404{
				position:unset;
				a{
					margin-top:20px;
				}
			}
			.title-error{
				font-size:200px;
				margin-bottom:-10px;
			}
			.sub-title{
				font-size:20px;
			}
			.sub-error{
				font-size:15px;
			}
		}
	}
}

/* Page My Account ---------------------------------- */
.woocommerce-MyAccount-navigation{
	background: #f5f5f5;
    border: 1px solid #f5f5f5;
    margin-bottom: 60px;
    padding: 20px 30px;
	width : 30%;
	@include rtl-float-left();
	
	ul{
		padding: 0;     
		list-style: none;
		li{
			border-bottom: 1px solid rgba($gray-lighter,0.5);
			list-style-type: none;
			padding: 10px 0;
			vertical-align: middle;
			&:last-child{
				border-bottom : none;
			}
			a, span{
                @include transition(all .2s ease 0s);
                &.active, &:hover{
                    color: $theme-color;
                    cursor: pointer;
                }
            }
		}
	}
}
.woocommerce-MyAccount-content{
	width : 68%;
	@include rtl-float-right();
	h2{
		font-size: 16px;
	}
	h3{
		font-size: 20px;
	}
	input[type="submit"]{
		background: $theme-color;
		color: $white;
		border: none;
		@include transition(all 0.3s ease); 
		font-size: 12px;
		text-transform: uppercase;
		font-weight: bold;
		padding: 5px 10px;
	    &:hover{
			background: lighten($theme-color, 5%);
		}   
	}
	.woocommerce-address-fields{
		.woocommerce-input-wrapper{
			width:100%;
		}
	}
}

.lost_reset_password{
	.form-row{
		margin: 0;
		input[type="submit"]{
			position: absolute;
			bottom: 0;
			height: 35px;
		}
	}
}
.woocommerce-lost-password .lost_reset_password{
	.form-row.form-row-first{
		float: none;
		@media (max-width: $screen-xs-max){
			width: 100%;
		}
	}
	button[type="submit"]{
		margin-top: 10px;
	}
}
.woocommerce-cart-form{
	margin-bottom: 30px;
	@include rtl-border-right(1px solid #e8e8e8);
	table.shop_table{
		margin:0;
		.button{
			padding:0 35px;
			background:$gray-dark;
			text-transform:uppercase;
			color:$white;
			font-size:12px;
			@include border-radius(0px);
			line-height:40px;
			cursor:pointer;
			letter-spacing: 0.1em;
			border: 1px solid $gray-dark;
			&:disabled{
				opacity:0.8;
				background: $gray-dark;
				color:$white;
				cursor: not-allowed;
				@include border-radius(25px);
				&:hover{
					opacity:0.8;
					background:$gray-dark;
					color:$white;
				}
			}
			&:hover{
				background: transparent;
				color: $gray-dark;
			}
		}
		.coupon{
			.button{
				padding:0 35px;
				background:$gray-dark;
				text-transform:uppercase;
				color:$white;
				font-size:12px;
				@include border-radius(25px);
				@include transition(all .3s ease);
				line-height:40px;
				cursor:pointer;
				letter-spacing: 0.1em;
				font-weight: 500;
				border: 1px solid $gray-dark;
				&:hover{
					background: transparent;
					color: $gray-dark;
				}
			}
		}
	}
}

.cart_totals{
	.woocommerce-shipping-destination{
		margin-bottom:10px;
		>strong{
			color:$gray-dark;
			font-weight:400;
		}
	}
	table.shop_table{
		>tbody{
			border: 1px solid rgba($gray-lighter,0.25);
			border-top:0;
			>tr{
				td,th{
					padding:15px;
					border:0;
					border-bottom: 1px solid rgba($gray-lighter,0.5);
				}
				&.order-total{
					.woocommerce-Price-amount{
						font-size:24px;
					}
				}
				&.shipping{
					ul {
						&.woocommerce-shipping-methods{
							margin-bottom:10px;
							@media (max-width:$screen-xs-max){
								display:block;
							}
						}
						li {
							@include rtl-margin-right(20px);
							input[type="radio"], input[type="checkbox"]{
								margin-top:0;
							}
							.shipping_method{
								display:none;
							}
							label{
								margin:0;
								@include rtl-margin-left(0);
								font-weight:400;
								margin-bottom:0;
								position:relative;
								@include rtl-padding-left(18px);
								cursor:pointer;
								&:before{
									position:absolute;
									@include rtl-left(0);
									@include border-radius(50%);
									top:calc(50% - 6px);
									@include square(12px);
									border:1px solid $text-color;
									content:"";
								}
							}
							.shipping_method:checked +label{
								&:before{
									background:$theme-color;
									border-color:$theme-color;
								}
							}
						}
					}
				}
				>td{
					a.shipping-calculator-button{
						color: $gray-dark;
						text-transform: uppercase;
						font-weight:700;
						position:relative;
						display:inline-block;
						padding-bottom:2px;
						font-size:13px;
						&:before{
							content:"";
							@include size(100%,2px);
							position:absolute;
							bottom:0;
							left:50%;
							@include transform(translateX(-50%));
							background:$gray-dark;
							@include transition(all 0.3s ease);
						}
						&:hover{
							color:$theme-color;
							&:before{
								background:$theme-color;
								width:60%;
							}
						}
					}
					.shipping-calculator-form{
						margin-top:30px;
						.select2{
							height:40px;
							line-height:40px;
							@include border-radius(0);
							span{
								height:40px;
								line-height:40px;
								@include border-radius(0);
							}
						}
						.button{
							background:$theme-color;
							color:$white;
							font-weight:700;
							font-size:13px;
							text-transform:uppercase;
							letter-spacing:2px;
							@include border-radius(0);
							cursor:pointer;
							padding:0 20px;
							line-height:40px;
							&:hover{
								background:darken($theme-color,10%);
							}
						}
					}
					.woocommerce-shipping-destination{
						strong{
							font-weight:500;
						}
					}
					.woocommerce-Price-amount{
						font-weight:500;
					}
				}
			}
		}
	}
	.wc-proceed-to-checkout{
		padding:0 30px;
		>a.wc-forward{
			background: $gray-dark;
			color: $white;  
			padding: 24px 20px;
			text-transform: uppercase;
			@include border-radius(0);
			@include transition(all .3s ease);
			font-size: 13px;
			display:inline-block;
			@include border-radius(35px);
			width:100%;
			text-align:center;
			letter-spacing: 0.1em;
			font-weight: 500;
			border: 1px solid $gray-dark;
			&:hover{
				background: transparent;
				color: $gray-dark;
			}
			&:before{
				display: none;
			}
		}
	}
}
body.faq{
	.page-title{
		display: none;
	} 
}
body:not(.page-template-homepage,.home).shop-header_overlay{
	.bwp-main .page-title{
		padding-top: 145px;
	}
	.bwp-header{
		position:absolute;
		width:100%;
	}
}