.sticky{
	background:#f5f5f5;
	@include border-radius(10px);
	padding:30px 30px 25px;
	position:relative;
	.entry-meta{
		>span{
			&:nth-child(2) {
			    padding-left: 0 !important;
			    &:before{
			    	display: none;
			    }
			}
		}
	}
	.sticky-post{
		background-color: $theme-color;
		color: $white;
		letter-spacing: 0.04em;
		margin-bottom:10px;
		display:inline-block;
		padding: 5px 10px !important;
		text-transform: uppercase;	
		line-height: 19px;
		letter-spacing:2px;
		&.have-thumbnail{
			position:absolute;
			top:30px;
			@include rtl-right(30px);
			border-top-right-radius: 10px;
		}
	}
}
/************************************************************************************************
    POST ARCHIVES
*************************************************************************************************/
.category-posts .cate-post-content, .author, .search{
	&.left:not(.col-xl-12, .col-lg-12){
		@media(min-width:$screen-md-max){
			@include rtl-padding-left(35px);
		}
	}
	&.right:not(.col-xl-12, .col-lg-12){
		@media(min-width:$screen-md-max){
			@include rtl-padding-right(35px);
		}
	}
	&.col-lg-12.col-md-12{
		max-width:1200px;
		margin-left:auto;
		margin-right:auto;
	}
	.entry-thumb{
		.gallery-slider{
			vertical-align: top;
			overflow: hidden;
		}
	}
	.navigation{
		@include rtl-text-align-left();
		margin-top:30px;
	}
	.blog-content-grid{
		margin: 0 -15px;
		.grid-post{
			&.sticky {
				background:transparent;
				padding:0 15px;
			}
		}
		.entry-post{
			position: relative;
			.entry-thumb{
				width:100%;
				position:relative;
				margin-bottom:20px;
			}
		}
		h3.entry-title{
			font-size: 22px;
			line-height: 1.1;
			width: 100%;
			margin:8px 0 17px;
			a{
				color:$gray-dark;
				&:hover{
					color:$theme-color;
				}
			}
		}
		.post-date{
			display:inline-block;
			padding:0 15px 0 10px;
			position:relative;
			position:absolute;
			background:$white;
			bottom:0;
			@include rtl-right(0);
			&:before{
				content:"";
				border-color:$white;
				border-top-color:transparent;
				border-left-color:transparent;
				position:absolute;
				border-width: 15px;
				border-style: solid;
				display: inline-block;
				left: -30px;
				bottom: 0;
			}
			time.updated{
				display:flex;
				line-height:30px;
				font-size:14px;
				text-transform:uppercase;
				.day{
					&:after{
						content: "";
						width: 15px;
						height: 1px;
						display: inline-block;
						margin: 0 10px;
						position: relative;
						background: #c9c9c9;
						top: -5px;
					}
				}
			}
		}
		.post-categories{
			a{
				font-size:12px;
				text-transform:uppercase;
				font-weight:500;
				color:$gray-dark;
				&:hover{
					color:darken($theme-color,10%);
				}
			}
		}
		.entry-meta-head{
			display:flex;
			margin-bottom:20px;
			flex-wrap:wrap;
			align-items: center;
			color:$text-color;
			font-size:13px;
			i{
				font-size:16px;
				color:$gray-dark;
				position:relative;
				top:1px;
				@include rtl-margin-right(10px);
			}
			.entry-author{
				color:$gray-dark;
				display:flex;
				align-items:center;
				&:after{
					content:"";
					margin:0 10px;
					height:1px;
					width:10px;
					display:inline-block;
					background:#d5d5d5;
				}
				a{
					color:$text-color;
					&:hover{
						color:$theme-color;
					}
				}
			}
		}
	}
	.blog-content-list{
		@media (max-width:$screen-xs-max){
			.type-post{
				margin-bottom:50px;
			}
		}
		.post-date{
			display:inline-block;
			@include square(60px);
			border:1px solid $gray-dark;
			padding:0 7px;
			position:relative;
			margin-bottom:20px;
			&:before{
				content:"";
				position:absolute;
				height:1px;
				width:56px;
				background:$gray-dark;
				top:50%;
				left:calc(50% - 28px);
				@include transform(rotate(-45deg));
				transform-origin: 50% 100%;
			}
			.day{
				display:block;
				line-height:29px;
				font-size:22px;
				font-weight:600;
				padding-top: 3px;
			}
			.month{
				display:block;
				line-height:29px;
				font-size:11px;
				font-weight:600;
				text-transform:uppercase;
				@include rtl-text-align-right();
			}
		}
		.entry-meta-head{
			display:flex;
			margin-bottom:15px;
			.entry-author{
				&:after{
					content:"|";
					margin:0 15px;
					display:inline-block;
					color:#d5d5d5;
				}
				a{
					color:$text-color;
				}
			}
		}
		.read-more{
			display:inline-block;
			color:$white;
			position:relative;
			font-size:12px;
			text-transform:uppercase;
			letter-spacing:1px;
			line-height:40px;
			background:$theme-color;
			padding:0 30px;
			@include border-radius(10px);
			@include transition(all 0.3s ease);
			border: 1px solid $theme-color;
			&:hover{
				background: transparent;
				color: $gray-dark;
			}
		}
		.entry-thumb{
			position: relative;
			display: inline-block;
			overflow: hidden;
			@include rtl-margin-right(80px);
			width:50%;
			@media (max-width:$screen-md-max){
				@include rtl-margin-right(50px);
			}
			@media (max-width:$screen-xs-max){
				width:100%;
				margin:0 0 15px;
			}
			img{
				@include border-radius(10px);
			}
		}
		.post-content{
			flex:1;
			@media (max-width:$screen-xs-max){
				margin-top:20px;
			}
		}
		.list-post{
			>article{
				width:100%;
				display:flex;
				flex-wrap:wrap;
				margin-bottom:45px;
				align-items:center;
				padding-bottom:45px;
				border-bottom:1px solid #e2e2e2;
				.post-content{
					h3.entry-title{
						font-size:35px;
						margin:0 0 5px;
						word-break: break-word;
						@media (max-width:$screen-sm-max){
							font-size:25px;
						}
					}
					@media (max-width:$screen-xs-max){
						order:2;
					}
				}
			}
			&:last-child{
				>article{
					margin-bottom:0;
				}
			}
		}
		.post-excerpt{
			margin-bottom:15px !important;
		}
		.list-post{
			&:last-child{
				.type-post{
					margin-bottom:70px;
				}
			}
		}
		.cat-links{
			margin-bottom:5px;
			ul{
				padding:0;
				list-style:none;
				li{
					display:inline-block;
					&:first-child{
						a{
							&:before{
								display:none;
							}
						}
					}
				}
			}
			a{
				font-size:12px;
				text-transform:uppercase;
				color:$text-color;
				&:hover{
					color:darken($theme-color,10%);
				}
			}
		}
		.post_format-post-format-gallery{
			.gallery-slider{
				.slick-arrow{
					border:none;
					@include square(30px);
					line-height:30px;
					right: 50px;
					top:10px;
					left: auto;
					color: $gray-dark;
					background: $white;
					font-family: FontAwesome;
					@include opacity-s();
					font-size:15px;
					&:after{
						background: $white;
					}
					&:hover{
						background:$theme-color;
						color:$white;
					}
					&.fa-angle-left{
						&:before{
							content:"\f177";
						}
					}
					&.fa-angle-right{
						&:before{
							content:"\f178";
						}
						right: 15px;
					}
				}
			}
		}
	}
	.blog-content-modern{
		.entry-meta-head{
			display:flex;
			margin-bottom:30px;
			.entry-author{
				&:after{
					content:"|";
					margin:0 15px;
					display:inline-block;
					color:#d5d5d5;
				}
				a{
					color:$text-color;
				}
			}
		}
		.content-moderns{
			margin:0 -15px;
			display:flex;
			width:calc(100% + 30px);
			flex-wrap:wrap;
			.list-post{
				padding:0 15px;
				width:50%;
			}
			.entry-title{
				font-size:25px;
			}
		}
		.post-content{
			margin-top:15px;
			margin-bottom: 55px;
		}
		h3.entry-title{
			font-size:35px;
			margin:0 0 20px;
			word-break: break-word;
		}
		.entry-thumb{
			position: relative;
			overflow: hidden;
			img{
				@include border-radius(10px);
			}
		}
		.post-excerpt{
			margin-bottom:15px !important;
		}
		.cat-links{
			margin-bottom:0;
			ul{
				padding:0;
				list-style:none;
				li{
					display:inline-block;
					&:first-child{
						a{
							&:before{
								display:none;
							}
						}
					}
				}
			}
			a{
				font-size:12px;
				text-transform:uppercase;
				color:$text-color;
				&:hover{
					color:darken($theme-color,10%);
				}
			}
		}
		.post_format-post-format-gallery{
			.gallery-slider{
				.slick-arrow{
					border:none;
					@include square(30px);
					line-height:30px;
					right: 50px;
					top:10px;
					left: auto;
					color: $gray-dark;
					@include opacity-s();
					font-size:15px;
					&:after{
						background: $white;
					}
					&:hover{
						background:$theme-color;
						color:$white;
					}
					&.fa-angle-left{
						&:before{
							content:"\f177";
						}
					}
					&.fa-angle-right{
						&:before{
							content:"\f178";
						}
						right: 15px;
					}
				}
			}
		}
		@media (max-width:$screen-xs-max){
			.content-moderns .list-post{
				width:100%;
			}
			h3.entry-title{
				font-size:30px;
			}
		}
	}
	.blog-content-standar{
		.list-post{
			>article{
				border-bottom: 1px solid #e2e2e2;
				margin-bottom: 60px;
				padding-bottom: 60px;
				&.sticky{
					padding-bottom:30px;
					border-bottom: 0;
					.read-more{
						z-index:2;
					}
				}
			}
		}
		.entry-thumb{
			margin-bottom:30px;
			img{
				@include border-radius(10px);
			}
			.entry-date{
				position:absolute;
				top:20px;
				left:-10px;
				padding:0 20px;
				line-height:40px;
				color:$gray-dark;
				background:$white;
				font-size:13px;
				box-shadow: 2px 2px 12px 0px rgba($gray-dark,0.3);
				&:before{
					content:"";
					position:absolute;
					left:3px;
					bottom:-7px;
					border-color:transparent;
					border-bottom-color: $white;
					border-style:solid;
					border-width:7px;
					@include transform(rotate(45deg));
				}
				time{
					color:$gray-dark;
					@include rtl-margin-left(5px);
					.day{
						@include rtl-margin-right(5px);
					}
				}
			}
		}
		h3.entry-title{
			font-size: 30px;
			line-height: 35px;
			width: 100%;
			margin:0 0 20px;
			position:relative;
		}
		.post-date{
			position:absolute;
			bottom:0;
			@include rtl-right(0);
			background:$white;
			height:40px;
			line-height:45px;
			@include rtl-padding(0 ,30px ,0 ,50px);
			clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0 100%);
			time.updated{
				font-size:16px;
				font-family:$font-family-second;
				.day{
					&:after{
						content:"";
						margin:0 8px;
						@include size(13px,1px);
						display:inline-block;
						background:#c7c7c7;
						vertical-align:middle;
					}
				}
			}
		}
		.cat-links{
			ul{
				padding:0;
				list-style:none;
				display:inline-block;
				li{
					display:inline-block;
					&:first-child{
						a{
							&:before{
								display:none;
							}
						}
					}
				}
			}
			a{
				font-size:13px;
				color: $light-gray;
				&:hover{
					color:darken($theme-color,10%);
				}
			}
		}
		.entry-meta-head{
			display:flex;
			margin-bottom:15px;
			flex-wrap:wrap;
			align-items: center;
			font-size:13px;
			color: $light-gray;
			font-weight: 400;
			>*{
				display: inline-flex;
				line-height: 24px;
				align-items: center;
				&:after{
					content:"";
					width:1px;
					height:18px;
					margin:0 15px;
					display:inline-block;
					background:#dedede;
					@include transform(rotate(30deg));
				}
				&:last-child{
					&:after{
						display:none;
					}
				}
			}
			i{
				font-size:15px;
				color:$gray-dark;
				position:relative;
				@include rtl-margin-right(10px);
			}
			.entry-author{
				display:flex;
				align-items:center;
				a{
					color: $light-gray;
					@include rtl-margin-left(5px);
					&:hover{
					    color: $theme-color;
					}
				}
			}
			.comments-link{
				span{
					@include rtl-margin-left(5px);
				}
			}
			.cat-links{
				i{
					font-size:16px;
					position: relative;
					top: -2px;
				}
				a{
					@include rtl-margin-left(5px);
				}
			}
		}
		.post-excerpt{
			margin-bottom:0;
			word-break: break-word;
			font-size:14px;
		}
		.read-more{
			display:inline-block;
			position:relative;
			font-size: 11px;
			font-weight: 500;
			text-transform: uppercase;
			line-height:40px;
			border: 1px solid $theme-color;
			@include border-radius(10px);
			padding:0 30px;
			letter-spacing: 2px;
			@include transition(all 0.3s ease);
			background:$theme-color;
			color: $white;
			margin-top:45px;
			&:hover{
				background: #4b3b33;
				border: 1px solid #4b3b33;
			}
		}
		.content-bottom{
			display:flex;
			justify-content:space-between;
			flex-wrap:wrap;
			.entry-social-share{
				a{
					@include square(40px);
					@include border-radius(50%);
					@include rtl-margin-right(10px);
					background:rgba($light-gray,0.75);
					display:inline-block;
					text-align:center;
					line-height:40px;
					color:$white;
					&:hover{
						background:$theme-color;
					}
				}
			}
		}
		@media (max-width:$screen-xs-max){
			h3.entry-title{
				font-size:30px;
			}
		}
	}
	h3.entry-title{
		margin-bottom: 8px;
		line-height:1.3;
		font-size: 30px;
		word-break: break-word;
		margin-top:5px;
		@media(max-width:$screen-sm-max){
			margin-top:10px;
		}
	}
	.entry-meta{
		.entry-meta-link{
			a{
				text-transform: capitalize;
				color:$theme-color;
			}
			img{
				@include border-radius(50%);
				@include rtl-margin-right(10px);
			}
		}
	}
	.byline,.published:not(.updated) {
		display: none;
	}
}
.post_format-post-format-gallery{
	.gallery-slider{
		display: inline-block;
		width: 100%;
		.slick-arrow{
			border:none;
			@include square(30px);
			line-height:30px;
			right: 30px;
			left: auto;
			top:0;
			color: $theme-color;
			font-size:18px;
			font-family:FontAwesome;
			@include opacity-s();
			&:after{
				background: $white;
			}
			&:hover{
				background:transparent;
			}
			&.fa-angle-left{
				&:before{
					content:"\f177";
				}
			}
			&.fa-angle-right{
				&:before{
					content:"\f178";
				}
				right: 0px;
			}
		}
	}
}

.blog-content-grid{
	display: flex;
	flex-wrap: wrap;
}

/************************************************************************************************
    POST SINGLE
*************************************************************************************************/
.content-image-single{
	position:relative;
	margin:20px 0 50px;
	.content-info{
		text-align:center;
		margin-bottom:30px;
	}
	.cat-links{
		font-size:12px;
		a{
			color:$theme-color;
			font-size:14px;
			text-transform:uppercase;
			&:hover{
				color:darken($theme-color,10%);
			}
		}
	}
	.entry-title{
		font-size:50px;
		word-break: break-word;
		margin:10px 0 30px;
		@media (max-width:$screen-xs-max){
			font-size:30px;
		}
	}
	.entry-by{
		color:$text-color;
		font-size:14px;
		font-weight: 500;
		a{
			color: $text-color;
			&:hover{
				color: $theme-color;
			}
		}
		>*{
			display:inline-block;
		}
		.entry-author{
			a{
				color:$text-color;
				&:hover{
					color: $theme-color;
				}
			}
			&:after{
				content:"";
				width:1px;
				height:18px;
				margin:0 11px;
				display:inline-block;
				background:#dedede;
				vertical-align: middle;
			}
		}
		i{
			font-size:15px;
			color:$gray-dark;
			position:relative;
			top:1px;
			@include rtl-margin-right(5px);
		}
	}
}
.comments-area{
	display: inline-block;
    width: 100%;
    > ol, > ul{	
		> li{
			padding: 0 !important;
			&.bypostauthor{
				font-style: normal;
				font-size: 13px;
			}
		}
    }
	ul{list-style : disc;}
	ol{list-style : decimal;}
	.comments-title{
		font-size: 35px;
		margin-bottom: 0;
		color:$gray-dark;
		margin-top:55px;
		text-align:center;
		@media (max-width:$screen-xs-max){
			font-size:25px;
		}
	}
	.comment-navigation{
		display : inline-block;
		width : 100%;
		margin-bottom:50px;
		>div{
			font-weight: 400;
			text-transform: uppercase;
			@media(max-width:$screen-xs-max){
				font-size:12px;
			}
			a{
				color:$white;
				position:relative;
				padding: 0 20px;
				background:$theme-color;
				display:inline-block;
				line-height:40px;
				@include transition(all 0.3s ease);
				@media(max-width:$screen-xs-max){
					padding:0 15px;
				}
				&:before{
					display:none;
					@include transition(all 0.3s ease);
					@include opacity-h();
					position:absolute;
					content:"\23";
					font-family:ElegantIcons;
					@include rtl-left(-15px);
					top:0;
					font-size: 16px;
					line-height: 40px;
					color:$white;
					@media(max-width:$screen-xs-max){
						font-size: 13px;
					}
				}
				&:hover{
					color:$white;
					background:darken($theme-color,10%);
				}
			}
			&:empty{
				display:none;
			}
		}
		.nav-previous{
			@include rtl-float-left();
		}
		.nav-next{
			@include rtl-float-right();
			a{
				&:before{
					content:"\24";
					@include rtl-left(auto);
					@include rtl-right(0);
				}
				&:hover{
					color:$white;
					&:before{
						@include rtl-right(11px);
						@include rtl-left(auto);
						@include opacity-s();
					}
				}
			}
		}
	}
	.comment-list{
		list-style : none;
		padding : 0px;
		margin-top:42px;
		.children{
			list-style : none;
			@include rtl-padding-left(90px);
			.media{
				&:last-child{
					border-bottom:0;
				}
			}
			@media (max-width:$screen-xs-max){
				@include rtl-padding-left(0px);
			}
		}
		>.children{
			border-bottom: 1px solid $border-color;
			margin-bottom:35px;
		}
		b.fn{ color: #252525; }
		.media{
			position: relative;
			margin-bottom: 40px;
			padding-bottom:35px;
			border-bottom:1px solid $border-color;
			display:block;
			&:last-child{
				margin-bottom:0;
			}
			.media-left{
				@include rtl-float-left();
				img{
					margin:0;
					@include rtl-margin-right(20px);
					min-width:70px;
					@media (max-width:$screen-xs-max){
						width:45px;
						min-width:45px;
					}
				}
			}
			.media-body{
				overflow:hidden;
				>.media-content{
					padding-bottom: 0;
					font-weight:300;
					p:empty{
						display:none;
					}
					.media-silver{
						margin-top:-8px;
						a{
							font-size: 13px;
							line-height:18px;
							color: rgba($text-color,0.7);
							font-weight: 500;
							&:hover{
								color:$theme-color;
							}
						}
						.comment-edit-link{
							&:before{
								content:"-";
								display:inline-block;
								margin:0 10px;
								color:$light-gray;
							}
						}
					}
					h2.media-heading{
						line-height:1.8;
						font-size: 15px;
						margin-bottom:5px;
						margin-top:0;
						text-transform:uppercase;
						letter-spacing:0.1em;
						a{
							color: $gray-dark;
							&:hover{
								color : $theme-color;
							}
						}
					}
					.media-silver{
						margin-bottom:7px;
						display:block;
						font-size:14px;
						i{
							@include rtl-margin-right(5px);
						}
					}
					.comment-content{
						color:$text-color;
						font-weight:400;
						p{
							margin:0;
						}
						@media (max-width:$screen-xs-max){
							margin-top:15px;
						}
					}
					.comment-reply-link{
						position:absolute;
						top:5px;
						@include rtl-right(0);
						color:#c2c2c2;
						font-weight:400;
						font-size:0;
						font-weight:500;
						&:before{
							content:"\f112";
							display:inline-block;
							font-size:14px;
							font-family:FontAwesome;
						}
						&:hover{
							color:$theme-color;
						}
					}
				}
				@media (max-width:$screen-xs-max){
					overflow:unset;
					.comment-text{
						table,.table{
							td,th{
								padding:10px 5px;
							}
						}
					}
				}
			}
		}
	}
	.comment-form,.comment-respond{
		a{
			color: $theme-color;
			&:hover{
				color:darken($theme-color,10%);
			}
		}
		.comment-notes, .logged-in-as{
			margin-bottom: 10px;
			font-weight: 400;
		}
		.comment_reply_header{
			h3{
				font-size: 35px;
				margin-top:0;
				margin-bottom: 23px;
				color:$gray-dark;
				@media (max-width:$screen-xs-max){
					font-size:25px;
				}
			}
		}
		.comment-form-cookies-consent{
			display:inline-block;
			padding:0 15px; 
			input{
				@include rtl-margin-right(5px);
			}
		}
		.form-group{
			position: relative;
			margin-bottom: 30px;
			.form-control{				
				height: 47px;
				padding: 10px 20px;
				border: none;
				@include placeholder(rgba($text-color,0.7));
				background:#f5f5f5;
				@include border-radius(6px);
				&:focus{
					border-color:$gray-dark;
				}
			}
			textarea.form-control{
				height: auto;
			}
			>#comment{
				margin-top: 15px;
				@include box-shadow(unset);
				@include border-radius(15px);
			}
			input[type="submit"]{
				background: $white;
				@include border-radius(30px);
				color: $gray-dark;
				padding:0 30px;
				height: 50px;
    			line-height: 48px;
				font-size:14px;
				border:1px solid $gray-dark;
				text-transform:uppercase;
				font-weight:500;
				letter-spacing: 0.1em;
				&:hover{
					background:$theme-color;
					color:$white;
					border-color:$theme-color;
				}
			}
			.required{
				color: red;
				position: absolute;
				@include rtl-right(20px);
				top: 17px;
			}
		}
	}
	.comment-form{
		margin-top:55px;
		text-align:center;
	}
	.comment-respond{
		margin-top:50px;
	}
	.no-comments{
		font-weight: 500;
		color: $gray-dark;
		margin-top : 25px;
	}
}
.content-single-sidebar{
	.post-single:not(.col-xl-12, .col-lg-12){
		@media(min-width:$screen-md){
			@include rtl-padding-left(35px);
		}
	}
}
.post-single{
	&.col-xl-12.col-lg-12{
		max-width:1200px;
		margin-left:auto;
		margin-right:auto;
	}
	.type-post {
		margin-bottom: 0;
	}
	.entry-meta{
		.entry-meta-link{
			a{
				text-transform: capitalize;
			}
			img{
				@include border-radius(50%);
				@include rtl-margin-right(10px);
			}
		}
	}
	.format-gallery{ 
		.post-content{ 
			.post-excerpt{
				display: inline-block;
				margin : 0 -5px;
				>div.gallery{
					display: inline-block;
					width: 100%;
					vertical-align: top;
					margin-bottom: 20px;
				}
				p,h2{
					padding:0 5px;
				}
				.page-links{
					padding:0 5px;
				}
				.gallery-icon{
					a{
						pointer-events: none;
					}
				}
			}
		}
	}
	.format-video{
		iframe{
			width: 100%;
		}
	}
	.prevNextArticle{
		padding:30px 0;
		display: inline-block;
		width: 100%;
		border-bottom:1px solid $border-color;
		position:relative;
		&:before{
			content:"";
			position:absolute;
			left:50%;
			top:calc(50% - 39px);
			@include size(1px,78px);
			background:$border-color;
		}
		.hoverExtend{
			font-size:13px;
			text-transform:uppercase;
			margin-bottom:5px;
		}
		.previousArticle,.nextArticle{
			width:50%;
			@include rtl-float-left();
			a{
				color:$light-gray;
				font-size:15px;
				text-transform:capitalize;
				display:block;
				.title{
					overflow-wrap: break-word;
					margin:0;
					font-size:20px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap; 
				}
				&:hover{
					.title{
						color:$theme-color;
					}
					.hoverExtend{
						color:$theme-color;
					}
				}
			}
		}
		.previousArticle{
			@include rtl-padding-right(15px);
		}
		.nextArticle{
			@include rtl-text-align-right();
			@include rtl-float-right();
			@include rtl-padding-left(15px);
		}
		@media (max-width:$screen-xs-max){
			&:before{
				display:none;
			}
			.previousArticle,.nextArticle{
				width:100%;
				margin:5px 0;
				padding:0;
				a{
					.title{
						font-size:18px;
					}
				}
			}
		}
	}
	.post-content-entry{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top:0;
		padding-bottom:35px;
		width:100%;
		border-bottom:1px solid $border-color;
		.entry-social-share{
			margin-bottom:0;
			margin-top:20px;
			label{
				margin:0;
				color:$gray-dark;
			}
			.social-share {
				display: inline-block;
				a {
					display: inline-block;
					@include square(40px);
					@include rtl-margin-right(5px);
					text-align:center;
					line-height:50px;
					@include border-radius(50%);
					border:1px solid $border-color;
					font-size: 0;
					i{
						text-align: center;
						font-size: 13px; 
						color:$gray-dark;
					}
					&:hover{
						background:$theme-color;
						border-color:$theme-color;
						i{
							color:$white;
						}
					}
					&:last-child {
						@include rtl-margin-right(0);
					}
				}
			}
		}
		.tags-links{
			margin-top:20px;
			label{
				margin:0;
				color:$gray-dark;
			}
			a{
				font-size: 14px;
				color: $text-color;
				line-height:40px;
				@include border-radius(10px);
				margin:2.5px;
				border:1px solid $border-color;
				display:inline-block;
				padding:0 20px;
				background:transparent;
				white-space:nowrap;
				&:hover{
					background: $theme-color;
					color:$white;
					border-color:$theme-color;
				}
			}
		}
	}
	.edit-link{
		display:block;
		color: $light-gray;
		font-weight: 400;
		text-transform: inherit;
		margin-top:29px;
		padding-bottom:27px;
		border-bottom:1px solid $border-color;
		a{
			color: $theme-color;
			@include rtl-margin-right(15px);
			font-weight: 400;
		}
		&:before{
			display:none;
		}
	}
 	.post-content{ 
 		margin-bottom: 0;
		.post-excerpt{
			.first-letter{
				font-size:40px;
				color:$gray-dark;
				@include border-radius(50%);
				@include square(60px);
				border:2px solid $gray-dark;
				display:inline-block;
				text-align:center;
				line-height:55px;
				@include rtl-float-left();
				@include rtl-margin-right(20px);
				position: relative;
			}
			h3{
				margin-top: 30px;
			}
			strong{
				color:$gray-dark;
				font-weight:600;
			}
			figure{
				word-break: break-word;
				&.wp-block-gallery{
					text-align:center;
					margin-bottom:40px;
				}
			}
			iframe{
				margin-top: 20px;
				width:100%;
			}
			ul.list-type-blog{
				margin-bottom: 30px;
				list-style-type: none;
				padding: 0;
				li{
					padding: 10px 0;
					font-family:$font-family-base;
					&:before{
						content: "\4e";
						color: $theme-color;
    					font-family: 'ElegantIcons';
    					@include rtl-margin-right(10px);
					}
					&:last-child{
						padding-bottom: 0;
					}
				}
			}
			.post-password-form{
				margin-bottom:-10px;
				label{
					margin-bottom:0;
				}
				input[type="password"]{
					padding: 5px 15px;
				}
				input[type="submit"]{
					background: $theme-color;
					color: $white;
					padding: 5px 15px;
					@include rtl-margin-left(-5px);
					border: 1px solid $theme-color;
					&:hover{
						background:darken($theme-color,10%);
						border-color:darken($theme-color,10%);
					}
				}
			}
		}
		h2.post-btn{
			@include rtl-float-right();
			margin: 0;
			.post-btn-more{
				text-transform: uppercase;
				@include btn-post-default();
				&:hover{color: #fff; background: $theme-color; border-color: $theme-color; }
			}
		}
		.entry-tag{
			@include rtl-float-left();
			@media (max-width: $screen-xs-max){
				@include rtl-float-left();
				width: 100%;
				margin-top: 10px;
			}
			a{
				color: $text-color;
				&:hover{
					color: $theme-color;
				}
			}
			i{
				font-size: 17px;
				color: $gray-dark;
				@include rtl-margin-right(20px);
				position:relative;
				&:after{
					position:absolute;
					content:":";
					@include rtl-right(-10px);
					color:$gray-dark;
					font-weight:500;
				}
			}
			.title-tag{
				display:none;
			}
		}
	}
	.entry-meta-author{
		display:inline-block;
		padding:30px;
		background:#f5f5f5;
		margin-top:50px;
		width:100%;
		@include border-radius(8px);
		@media(max-width:$screen-xs-max){
			padding:15px;
		}
		.author-avatar{
			display:inline-block;
			vertical-align: middle;
			@media(max-width:$screen-xs-max){
				display: block;
				text-align:center;
			}
			.author-image{
				img{
					@include border-radius(50%);
				}
			}
		}
		.author-info{
			display: inline-block;
			vertical-align: middle;
			padding:0 20px;
			width: calc(100% - 105px);
			@media(max-width:$screen-xs-max){
				padding: 0;
				width: 100%;
				text-align: center;
				margin-top: 10px;
			}
			.author-link{
				display:block;
				margin-bottom:10px;
				a{
					font-size: 16px;
					font-weight: 700;
				}
			}
		}
	}
	&.one_column,&.simple_title,&.prallax_image{
		max-width:1055px;
		margin-left:auto;
		margin-right:auto;
	}
}
.content-single-simple_title{
	>.content-image-single{
		margin:0 0 50px;
		background:#f6f6f6;
		padding:90px 0;
		.content-info{
			max-width:1440px;
			padding-left:15px;
			padding-right:15px;
			margin:auto;
		}
	}
}
.content-single-sticky_title{
	.entry-thumb{
		background-attachment: fixed;
		background-size: cover;
		height:800px;
		margin-bottom:60px;
		background-position:center;
		&:before{
			content:"";
			position:absolute;
			@include square(100%);
			top:0;
			left:0;
			background:rgba($gray-dark,0.25);
		}
	}
	.content-info{
		@include rtl-text-align-left();
		margin:0;
	}
	.content-image-single{
		margin:0;
		position:sticky;
		top:50px;
	}
	>.container{
		>.row{
			display:inline-block;
			>div{
				@include rtl-float-left();
			}
		}
	}
	@media (max-width:$screen-sm-max){
		.content-image-single{
			margin:0 0 30px;
			position:relative;
			top:0;
		}
		.entry-thumb{
			height:500px;
		}
	}
	@media (max-width:$screen-xs){
		.entry-thumb{
			height:350px;
		}
	}
}
.content-single-prallax_image{
	.entry-thumb{
		background-attachment: fixed;
		background-size: cover;
		height:800px;
		margin-bottom:60px;
		background-position:center;
		position:relative;
		&:before{
			content:"";
			position:absolute;
			@include square(100%);
			top:0;
			left:0;
			background:rgba($gray-dark,0.25);
		}
	}
	.content-image-single{
		margin:0 0 50px;
		position:relative;
		.entry-title{
			color:$white;
		}
		.cat-links{
			color:$white;
			a{
				color:$white;
				&:hover{
					color:$theme-color;
				}
			}
		}
		.entry-by{
			color:$white;
			i{
				color:$white;
			}
			a{
				color:$white;
				&:hover{
					color:$theme-color;
				}
			}
			.entry-author:after{
				color:$white;
			}
		}
	}
	.content-info{
		width:100%;
		padding:50px 15px;
		bottom:0;
		left:0;
		position:absolute;
		margin:0;
	}
	@media (max-width:$screen-sm-max){
		.entry-thumb{
			height:500px;
		}
	}
	@media (max-width:$screen-xs){
		.entry-thumb{
			height:350px;
		}
	}
	
}
.single-post-sticky_title,.single-post-prallax_image{
	.breadcrumb-noheading{
		display:none;
	}
}
/************************************************************************************************
    POST NAVIGATION
*************************************************************************************************/
.navigation.paging-navigation{
	@media(max-width:$screen-sm-max){
		margin-bottom:50px;
	}
	.screen-reader-text{ display: none; }
	.loop-pagination{
		display: inline-block;
	}
}

/*
* General Post Style using for all with naming class entry
*/

.entry-date{
	font-weight: 400;
	time{
		color:$theme-color;
	}
	&:hover{
		cursor:pointer;
		time{
			color:$theme-color;
		}
	}
}
.entry-content{
	.page-links{
		width: 100%;
		display: inline-block;
	}
}
.entry-vote{
	z-index: 1;
	display: table;
	text-align: center;
	top: 20px;
	position: absolute;
	background: rgba($black,.5);
	@include square(44px);
	@include rtl-right(20px);
	.entry-vote-inner{
		color: $white;
		display: table-cell;
		vertical-align: middle;
		font-weight: $headings-font-weight;
	}
	&.vote-perfect{
		.entry-vote-inner{
			color: $red;
		}
	}
	&.vote-good{
		.entry-vote-inner{
			color: $yellow;
		}
	}
	&.vote-average{
		.entry-vote-inner{
			color: #91e536;
		}
	}
	&.vote-bad{
		.entry-vote-inner{
			color: $orange;
		}
	}
	&.vote-poor{
		.entry-vote-inner{
			color: $green;
		}
	}
}
.entry-image{
	margin: -1px;
	display: block;
}
.entry-thumb{
	position: relative;
	img{
		@include border-radius(10px);
	}
}
.entry-title{
	margin-top: 0;
	line-height: $entry-title-line-height;
	text-transform: $entry-title-transform;
}
.entry-content-inner{
	padding: $theme-padding;
}
.type-post{
	margin-bottom: $post-type-margin;
}
.blog-type{
	.entry-image{
		@include size(auto,169px);
		img{
			width: auto;
		}
	}
}

/* Using for new, magazine ---------------------------------------------------------------*/
.post-type{

}
.post-title{
	@include font-size(font-size,$entry-title-font-size);
}
.post-thumb{
	position: relative;
}
.blog-meta{
	top: 0;
	position: absolute;
	@include rtl-right($entry-meta-position);
}

.single-ourteam-content{
	.ourteam-content{
		@include rtl-padding-left(20px);
		@media (max-width:$screen-sm-max){
			margin-top:50px;
			@include rtl-padding-left(0);
		}
	}
	.entry-thumb{
		text-align:center;
	}
	.ourteam{
		display:flex;
		flex-wrap:wrap;
		align-items:center;
	}
	.entry-title{
		font-size:30px;
		text-transform:capitalize;
		margin:0;
		color:$gray-dark;
		line-height:1;
		margin-bottom:45px;
	}
	.team-job{
		margin-bottom:15px;
		color:$theme-color;
	}
	.social-link{
		margin-top:20px;
		li{
		margin:0 7px;
			a{
				i{
					color:$text-color;
					font-size:25px;
				}
				&:hover{
					i{
						color:$theme-color;
					}
				}
			}
		}
	}
}
body.single-post.elementor-page #bwp-main > .container{
	max-width:1440px;
}
