/* Revolution Slider ---------------------------------------------------------*/
.elementor-widget-slider_revolution{
	@media(max-width:$screen-xs-max){
		.bullet-2 {
			@include transform(translate(-23px, -30px) !important);
		}
	}
	@media(max-width: 1440px){
		.bullet-4 {
			@include transform(translate(-36px, -34px) !important);
		}
		@media(max-width:$screen-xs-max){
			.bullet-4 {
				display: none !important;
			}
		}
	}
	@media(max-width: 1440px){
		.bullet-3 {
			@include transform(translate(-36px, -34px) !important);
		}
		@media(max-width:$screen-xs-max){
			.bullet-3 {
				display: none !important;
			}
		}
	}
	.font-text-2{
		>span{
			font-style: italic;
		}
	}
	.font-text{
		@media(min-width: 1200px) and (max-width: 1500px){
			font-size: 18px !important;
			margin-bottom: 5px !important;
			line-height: 28px !important;
		}
		@media(max-width: 850px){
			font-size: 15px !important;
			margin-bottom: 5px !important;
			line-height: 28px !important;
		}
	}
	.button-slider{
		font-size: 13px !important;
		line-height: 40px !important;
		@media(max-width: 1700px){
			font-size: 14px !important;
			line-height: 40px !important;
		}
		@media(max-width: $screen-xs){
			font-size: 14px !important;
			line-height: 35px !important;
		}
	}
	.button-slider-2 {
		position:relative;
		&:after{
			content:"\e908";
			font-family: icomoon;
			position:absolute;
			@include rtl-right(25px);
			top: 0;
			font-size: 15px;
			@include transition(right 0.3s ease);
		}
		&:hover{
			&:after{
				@include rtl-right(20px);
			}
		}
		font-size: 14px !important;
		line-height:40px !important;
		padding:0 50px 0 30px !important;
		@media(max-width: 1201px){
			font-size: 13px !important;
			line-height:40px !important;
			padding:0 50px 0 30px !important;
		}
	}
	.button-slider-3 {
		position:relative;
		&:after{
			content:"\e908";
			font-family: icomoon;
			position:absolute;
			@include rtl-right(25px);
			top: 0;
			font-size: 15px;
			@include transition(right 0.3s ease);
		}
		&:hover{
			&:after{
				@include rtl-right(20px);
			}
		} 
		font-size: 14px !important;
		line-height:40px !important;
		padding:0 50px 0 30px !important;
		@media(max-width: 1201px){
			font-size: 13px !important;
			line-height:40px !important;
			padding:0 50px 0 30px !important;
		}
	}
	.arrow-3, .arrow-5{
		@media(max-width: 1200px){
			&.tp-leftarrow{
				@include transform(translate(40px, -22px) !important)
			}
			&.tp-rightarrow{
				@include transform(translate(-40px, -22px) !important);
				right: 0 !important;
				left: auto !important;
			}
		}
	}
	.next-slider{
		@media(max-width: 1655px){
			.tp-leftarrow{
				@include transform(translate(30px, -25px) !important)
			}
			.tp-rightarrow{
				@include transform(translate(-30px, -25px) !important);
				right: 0 !important;
				left: auto !important;
			}
		}
		@media(max-width: $screen-md-max){
			.tp-leftarrow{
				@include transform(translate(0, -25px) !important)
			}
			.tp-rightarrow{
				@include transform(translate(0, -25px) !important);
				right: 0 !important;
				left: auto !important;
			}
		}
	}
	.next-slider-2{
		@media(max-width: 1655px){
			.tp-leftarrow{
				@include transform(translate(150px, -22px) !important)
			}
			.tp-rightarrow{
				@include transform(translate(0, -22px) !important);
				right: 0 !important;
				left: auto !important;
			}
		}
		@media(max-width: $screen-md-max){
			.tp-leftarrow{
				display: none !important;
			}
			.tp-rightarrow{
				display: none !important;
			}
		}
	}
	.border-slider {
		border-radius:10px !important;
	}
	.img-border {
		@media(max-width:$screen-sm-max){
			border-width: 10px !important;
		}
	}
}