/************************************************************************************************
    TOP BANNER LISTING
************************************************************************************************ */
.bwp_widget_image{
    margin-bottom: 40px;
    .container-banner{
        position: absolute;
        top: 50%;
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -o-transform: translateY(-50%);  
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        .boxContent {
            max-width: 640px;
            padding: 30px;
            text-align: center;
            color: white;
             .boxSubTitle {
                margin: 0px;
                padding: 10px 0;
                font-size: 24px;
                font-weight: 400;
                text-transform: uppercase;
            }
            .boxTitle {
                margin: 0px;
                padding: 10px 0;
                font-size: 42px;
                font-weight: bold;
                text-transform: uppercase;
                color: #fff;
            }
            .btn {
                font-size: 16px;
                font-weight: bold;
                margin: 20px 0 0;
                padding: 5px 20px;
                height: 42px;
                border: 1px solid white;
                background-color: transparent;
                color: white;
                text-transform: uppercase;
                text-decoration: none;
                @include transition(opacity 0.3s ease-in-out 0.3s);
                &:hover {
                    border-color: $theme-color; 
                    background-color: $theme-color;
                }
            } 
        }
    }
}

/*
    widget styles
*------------------------------------
*/
.title_block {
    h4 {
        font-size: $font-size-base + 4;
        text-align: center;
        position: relative;
        text-transform: uppercase;
        line-height: 100%;
        letter-spacing: 2px;
        padding-bottom: 15px;
        padding-bottom: 20px;
        margin-bottom: 30px;
        &:before,&:after{
            content: "";
            height: 1px;
            position: absolute;
            bottom: 0;
            @include rtl-left(50%);
        }
        &:before{
            width: 20%;
            @include rtl-margin-left(-10%);
            background-color: $border-color;
        }
        &:after{
            width: 10%;
            @include rtl-margin-left(-5%);
            background-color: #616161;
            z-index: 1;
        }
    }
}
    

/*
    Widget Genaral
*------------------------------------
*/
.widget{
    label{  
        font-weight: $font-weight-base;
    }
    // widget image
    .widget_sp_image-image-link{
        display: block;
        overflow: hidden;
        position: relative;
        img{
            @include img-responsive();
            @include transition(all 0.35s);
            @extend .filter-grayscale;
        }
    }
    // widget post
    .post-widget{
        .image{
            @include size(70px,70px);
            margin: 0;
            @include rtl-margin-right(10px);
            img{
                @include size(percentage(1),percentage(1));
            }
        }
    }
    // widget archive
    &.widget_archive{
        @include lists-style();
    }
    // widget categories
    &.widget_categories{
        //@include lists-style();
    }
    // widget page
    &.widget_pages{
        @include lists-style();
    }
    // widget meta
    &.widget_meta{
        @include lists-style();
    }
    // widget nav menu
    &.widget_nav_menu{
        @include lists-style();
    }
    &.widget_rss{
        @include lists-style();
        ul li{
            background: none;
            margin-bottom: 10px;
            a{
                padding: 0;
            }
        }
    }
    // widget recent entries
    &.widget_recent_entries{
        @include lists-style();
        ul li{
            background: none;
        }
    }
    // widget recent comments
    &.widget_recent_comments{
        @include lists-style();
        ul li{
            background: none;
        }
    }
    // widget rss
    &.widget_rss{
        @include lists-style();
        ul li{
            background: none;
            a{
                padding: 0;
            }
            &:before{
                display: none;
            }
        }
    }
}

/*
    Widget Contact Us
*------------------------------------
*/
.contact{
    margin: 0;
    padding: 0;
	@include clearfix();
	dt{
		@include rtl-float-left();
		@include size(30px,auto);
	}
	dd{
		overflow: hidden;
		margin-bottom: 5px;
	}
    .contact-icon{
        display: block;
        text-align: center;
        background: $contact-icon-bg;
        @include rtl-float-left();
        @include square($contact-icon-size);
        @include border-radius($contact-icon-border-radius);
        .fa{
            color: $contact-icon-color;
            @include font-size(font-size,$font-size-base);
            @include rtl-margin(0, 0, 0, 4px);
        }
    }
}

/*
    Widget Newsletter
*------------------------------------
*/
.wpcf7-form{
    div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
        margin-top: 15px;
    }
}
.wpbingo-newsletter-1{
	background-color: transparent;
	z-index: 1;
	position: relative;
	display:flex;
	align-items:center;
	flex-wrap:wrap;

	.title{
		font-size:18px;
		font-weight:700;
		color:$white;
		line-height:25px;
		text-transform:uppercase;
	}
	.sub-title {
		color:$text-color;
	}
	
	.content-newsletter{
		margin-left:90px;
		position: relative;
		flex: 1;
		display:flex;
		align-items:center;
		@media (max-width:$screen-md-max){
			margin-left:40px;
		}
		@media (max-width:$screen-sm-max){
			margin-left:0;
			margin-bottom:25px;
		}
		@media (max-width:$screen-xs-max){
			 max-width: unset;
			 min-width: unset;
		}
		input[type="email"]{
			height: 40px;
			line-height:40px;
		} 
		.clearfix{
			position:relative;
		}
		.your-email{
			flex:1;
		}
	}
	input[type="email"] {
		border: 0;
		background: white;
		font-weight: 300;
		width: 100%;
		padding:0 20px;
		border:none;
		@include placeholder($light-gray);
		@media(max-width:$screen-md-max){
			padding:0 15px;
		}
		&::placeholder {
			font-size:14px;
		}
	}
	input[type="submit"] {
		background:transparent;
		border:0;
		text-transform:uppercase;
		color:$white;
		font-size:14px;
		@include rtl-margin-left(10px);
		cursor:pointer;
		line-height:40px;
		padding:0 15px;
		&:hover{
			background:$gray-dark;
			color:$white;
		}
	}
	span.wpcf7-not-valid-tip{
		margin-top: 15px;
	}
	@media (max-width:$screen-sm-max){
		.title-newsletter{
			width:100%;
			text-align:center;
			margin-bottom:25px;
		}
	}
}
.wpbingo-newsletter-1-1{
	background-color: transparent;
	z-index: 1;
	position: relative;
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	.content-newsletter{
		position: relative;
		flex: 1;
		display:flex;
		align-items:center;
		input[type="email"]{
			height: 55px;
			line-height:55px;
		} 
		.clearfix{
			position:relative;
		}
		.your-email{
			flex:1;
		}
	}
	input[type="email"] {
		border: 0;
		background: white;
		font-weight: 300;
		width: 100%;
		padding:0 20px;
		border:none;
		border:1px solid rgba($light-gray,0.5);
		@include placeholder($light-gray);
		@media(max-width:$screen-md-max){
			padding:0 15px;
		}
		&::placeholder {
			font-size:14px;
		}
	}
	input[type="submit"] {
		background:transparent;
		border:0;
		text-transform:uppercase;
		color:$white;
		font-size:14px;
		cursor:pointer;
		line-height:55px;
		padding:0 15px;
		&:hover{
			background:$gray-dark;
			color:$white;
		}
	}
	span.wpcf7-not-valid-tip{
		margin-top: 15px;
	}
	@media (max-width:$screen-sm-max){
		.title-newsletter{
			width:100%;
			text-align:center;
			margin-bottom:25px;
		}
	}
}
.wpcf7 form .wpcf7-response-output{
	margin: 53px 0 0;
}
.wpbingo-newsletter{
	&.newsletter-default{
		.wpbingo-newsletter-title{
			margin-bottom: 20px;
			color: $white;
			line-height: 20px;
			h2{
				font-size: 24px;
				font-weight: 700;
				color: $theme-color;
				margin-top: 0;
			}
			p{
				margin: 0;
			}
		}
		.wpcf7-not-valid-tip{
			position: absolute;
			bottom: -50px;
		}
		.content-newsletter{
			width: 100%;
			border: 0;
			margin: auto;
			background: $theme-color;
			display:flex;
			.wpcf7-form-control-wrap{
				width:100%;
				border-bottom: 1px solid #dddddd;
			}
			input[type="email"]{
				width:100%;
				line-height: 48px;
				height: 48px;
				border:0;
				font-size:12px;
				padding: 0;
				text-align: left;
				&::placeholder{
					color: $gray-dark;
				}
			}
			input[type="submit"]{
				border:0;
				padding: 0 125px;
				background: $white;
				position:relative;
				@include border-radius(25px);
				line-height: 48px;
				height: 48px;
				top:0;
				cursor:pointer;
				font-size: 12px;
				text-transform: uppercase;
				color: $gray-dark;
				font-weight: 700;
				@include transition(all .3s ease);
				&:hover{
					background: rgba($ograne, .75);
					color: $white;
				}
				@media (max-width:$screen-sm-max){
					padding: 0 40px;
				}
				@media (max-width:$screen-xs-max){
					padding: 0 20px;
				}
			}
			.ajax-loader, .wpcf7-spinner{
				position:absolute;
				top: 15px;
				right: 29px;
				margin: 0;
				left: auto;
			}
		}
	}
    &.wpbingo-newsletter-sidebar{
        background: #f5f5f5;
        @include rtl-padding(35px, 20px, 40px, 20px);
        color: $gray-dark;
        .content-newsletter{
            display: block;
        }
        input[type="email"]{
            border: 2px solid #dedede;
            background: $white;
            margin-bottom: 10px;
        }
        input[type="submit"]{
            width: 100%;
        }
    }
}

/* Owl carousel post */
.bwp-recent-post {
	@media(max-width: $screen-md-max){
		.slick-list{
			margin: 0 -7.5px;
			.post-grid{
				padding: 0 7.5px;
			}
		}
	}
	.post-inner{
		@include transition(all 0.3s ease);
		background:$white;
		&:hover{
			.post-image{
				img{
					@include scale(1.1);
				}
			}
		}
	}
	.post-image{
		position:relative;
		overflow:hidden;
		img{
			@include transition(all 0.5s ease);
		}
	}
	.read-more{
    	display: inline-block;
		@include transition(all 0.3s ease);
    }
	&.slider{
		i.slick-arrow{
			font-size: 20px; 
		}
		&:hover{
			.slick-arrow{
				@include opacity-s();
                @media(min-width:1771px){
                    &.fa-angle-right{
                        right:-40px;
                    }
                    &.fa-angle-left{
                        left:-40px;
                    }
                }
			}
		}
		.slick-arrow{
			top:30%;
		}
		.slick-carousel{
			overflow:unset;
		}
		.post-categories{
			display: inline-block;
			margin-bottom: 12px;
			color: $theme-color;
			.post{
				display: flex;
				.entry-dates{
					font-size: 14px;
					position:relative;
					@include rtl-margin-left(8px);
					span{
						@include rtl-margin-left(5px);
					}
				}
				&:before{
					content: '\e90b';
					font-family: icomoon;
				}
			}
			.entry-author{
				color: $theme-color;
				text-transform: lowercase;
				@include rtl-padding-left(10px);
				font-size: 12px;
			}
		}
		.read-more{
			position: relative;
		}
	}
	&.slider-2{
		i.slick-arrow{
			font-size: 20px; 
		}
		&:hover{
			.slick-arrow{
				@include opacity-s();
                @media(min-width:1771px){
                    &.fa-angle-right{
                        right:-40px;
                    }
                    &.fa-angle-left{
                        left:-40px;
                    }
                }
			}
		}
		.slick-arrow{
			top:30%;
		}
		.slick-carousel{
			overflow:unset;
		}
		.post-inner{
			&:hover{
				@include box-shadow(0 0 21px 0px rgba($gray-dark, 0.12));
			}
		}
		.post-content{
			padding:0 30px 55px ;
		}
		.post-categories{
			display: inline-block;
			background:$theme-color;
			transform: translateY(-70%);
			padding:0 60px;
			border-radius: 30px;
			margin-bottom: 12px;
			.post{
				display: flex;
				.entry-dates{
					color: $white;
					font-size: 12px;
					position:relative;
					span{
						@include rtl-margin-left(5px);
					}
					&:after{
						content: '';
						background: $white;
						position: absolute;
						@include size(5px, 1px);
						@include rtl-right(-8px);
						top: 9px;
					}
				}
			}
			.entry-author{
				color: $white;
				text-transform: lowercase;
				@include rtl-padding-left(10px);
				font-size: 12px;
			}
		}
		@media(max-width: $screen-xs-max){
		   	.post-content{
				padding:0 15px 55px ;
			}
			.post-categories{
				padding: 0 40px;
			}
	   	}
		.read-more{
			position: relative;
			padding-bottom: 5px;
			border :1px solid rgba($gray-dark, .2);
			padding:12px 40px;
			border-radius:25px;
			color:$theme-color ;
			&:hover{
				background: $theme-color;
				border :1px solid transparent;
				color: $white;
			}
		}
	}
	&.slider-3{
		i.slick-arrow{
			font-size: 20px; 
		}
		&:hover{
			.slick-arrow{
				@include opacity-s();
                @media(min-width:1771px){
                    &.fa-angle-right{
                        right:-40px;
                    }
                    &.fa-angle-left{
                        left:-40px;
                    }
                }
			}
		}
		.post-content{
			background: $white;
		}
		.read-more{
			position: relative;
			padding-bottom: 3px;
			&:before{
				position: absolute;
				content: "";
				background: $gray-dark;
				@include size(100%, 1px);
				bottom: 0;
				left: 50%;
				@include transform(translateX(-50%));
				@include transition(all .3s ease);
			}
			&:hover{
				&:before{
					width: 50%;
				}
			}
		}
	}
    &.sidebar{
		.post-grid{
			margin:0;
			&:last-child{
				.item{
					border-bottom:0;
				}
            }
			&.sticky{
				background:transparent;
				padding:0 15px;
				.item{
					background: #f5f5f5;
					padding: 20px;
					border-radius: 10px;
				}
			}
		}
		.row{
			>div{
				&:not(:last-child){
					.item{
						padding-bottom: 20px;
					    margin-bottom: 20px;
					}  
				}
			}
		}
        .item{
			border-bottom: 1px solid #e6e6e6;
            >*{
                display: table-cell;
				vertical-align: top;
				@media(max-width:$screen-md-max)and(min-width:$screen-md){
					display:block;
				}
            }
            >.post-thumbnail{
                width: 70px;
				position:relative;
				@media(max-width:$screen-md-max)and(min-width:$screen-md){
					width:100%;
				}
            }
            .post-content{
				position:relative;
				top:3px;
                @include rtl-padding-left(20px);
				@media(max-width:$screen-md-max)and(min-width:$screen-md){
					padding:0;
					margin-top:15px;
				}
				.post-categories{
					margin-bottom:5px;
					a{
						font-size:11px;
						color:$theme-color;
						text-transform:uppercase;
						font-weight:700;
					}
				}
                h2.entry-title{
                    font-size: 15px;
                    line-height: 20px;
					margin:0;
                    margin-bottom: 3px;
					a{
						color:$gray-dark;
						&:hover{
							color:$theme-color;
						}
					}
                }
                span.entry-date{
                    display: block;
					time{
						color: $light-gray;  
						font-size:13px;
					}
                }
                .entry-link a{
                    color: $gray-dark;
                    &:hover{
                        color: $theme-color;
                    }
                }
            }
        }
    }	
	&.default{
		.post-content{
			margin-top:10px;
		}
		.categories{
			a{
				color:$theme-color;
				font-size:14px;
				&:hover{
					color:$gray-dark;
				}
			}
		}
		.entry-title{
			line-height:1.3;
			font-size:16px;
			margin-bottom:0;
			margin-top:0;
		}
		.date-cmt{
			display:flex;
			time.entry-date{
				color:$text-color;
				font-size:14px;
			}
		}
		.entry-meta-head{
			font-size:14px;
			color:$text-color;
			&:before{
				content:"-";
				display:inline-block;
				margin:0 3px 0 5px;
			}
		}
	}
	&.blog-menu{
		.post-thumbnail{
			display:inline-block;
			max-width:125px;
			flex:0 0 125px;
			img{
				max-width:125px;
			}
		}
		.item{
			display:flex;
		}
		.post-content{
			@include rtl-padding-left(30px !important);
		}
		.entry-title{
			font-size:18px;
			margin:0 0 5px;
			a{
				font-size:16px !important;
				line-height: 22px;
			}
		}
		.post-grid{
			margin-bottom:15px;
			&:last-child{
				margin-bottom:0;
			}
			&.sticky{
				background:transparent;
				padding:0 15px;
			}
		}
		.day-cmt{
			>*{
				display:inline-block;
				font-size:14px;
				color:$text-color;
				&:before{
					content:"|";
					display:inline-block;
					margin:0 5px;
					color:$gray-light;
				}
				&:first-child{
					&:before{
						display:none;
					}
				}
				a{
					color:$text-color;
				}
				time{
					color:$text-color;
				}
			}
		}
	}
}

.widget_text{
    select{
        width: 100%;
		white-space: pre-wrap;
    }
}

.sidebar{
    .widget{
        > ul{
            ul.children{
                padding: 0 20px;
            }
        }
        ul.sub-menu{
            padding: 0 20px;
        }
    }
}

.template-news{
    .#{$app-prefix}-sidebar{
        .post-widget,
        .comment-widget{
            .blog-title,h6{
                text-transform: none;
                font-weight: 700;
                @include font-size(font-size,12px);
            }
        }
    }
}


.flickr-gallery{
	img{
        padding: 0;
        margin: 4px;
        @include size(60px,60px);
        @include rtl-float-left();
	}
}

/*
   Widget Sidebar
*------------------------------------
*/
.#{$app-prefix}-sidebar{
    >.widget{
        margin-bottom: 45px;
		padding:0;
		border:none;
        &:empty{
            display: none;
        }
        &:last-child{
            margin-bottom: 0;
        }
		&.bwp_widget_image{
			padding:0;
			overflow:hidden;
			border:none;
			.bwp-image{
				@media(max-width:$screen-sm-max){
					text-align:center;
				}
			}
		}
		&.widget_product_categories{
			margin-bottom:50px;
		}
		.bwp-filter-size{
			margin-bottom:55px !important;
		}
		&.widget_categories{
			margin-bottom:45px;
			ul{
				li{
					padding:15px 0 !important;
					font-size:11px;
					a{
						color:$text-color;
						&:hover{
							color:$theme-color;
						}
					}
					&:last-child{
						border-bottom:0;
					}
					&.current-cat{
						a{
							color:$theme-color ;
						}
					}
					.children{
						li{
							&:last-child{
								padding-bottom:0 ;
							}
						}
					}
				}
			}
		}
		&.bwp_recent_post_widget{
			margin-bottom:50px;
		}
		&.bwp_ajax_filte{
			margin-bottom:0;
		}
		&.bwp_woo_recent_post_widget{
			margin-bottom:45px;
		}
		&.widget_rss{
			.rss-widget-icon{
				margin-top:3px !important;
			}
			ul li{
				@include rtl-padding-left(0 !important);
			}
		}
		&.dokan-store-widget{
			&.dokan-category-menu{
				ul{
					li{
						padding: 5px 0 !important;
						a{
							padding:0 !important;
							border-bottom:0 !important;
							font-size:15px !important;
							margin:0 !important;
							&:hover{
								color:$theme-color !important;
							}
						}
					}
				}
				#cat-drop-stack{
					ul li:last-child.has-children a{
						border-bottom:0 !important;
					}
					> ul li.parent-cat-wrap ul.level-0{
						background:transparent;
					}
				}
			}
			&.widget_products{
				.product_list_widget{
					li{
						padding:0;
						display:flex;
						margin-bottom:20px;
						&:last-child{
							margin-bottom:0;
						}
						&:before{
							display:none;
						}
						.product-title{
							font-size:15px;
							color:$text-color;
							font-weight:400;
							display:block;
						}
						.thumbnail-content{
							width:100%;
							max-width:100px;
						}
						.box-content{
							@include rtl-padding-left(20px);
						}
						.woocommerce-Price-amount{
							color:$gray-dark;
							font-weight:400;
							font-size:16px;
							>span{
								color:$gray-dark;
								font-weight:400;
							}
						}
						ins{text-decoration: none;}
						del{
							.woocommerce-Price-amount{
								color:$text-color;
								font-weight:400;
								font-size:14px;
								>span{
									color:$text-color;
									font-weight:400;
								}
							}
						}
					}
				}
			}
			&.dokan-store-contact{
				ul{
					li{
						padding:0 !important;
						&:before{
							display:none;
						}
					}
				}
				.dokan-btn-theme{
					padding:0 20px;
					line-height:40px;
					text-transform:uppercase;
					font-size:12px;
					letter-spacing:2px;
				}
			}
			#cat-drop-stack > ul li a{
				color:$text-color;
				&:hover{
					color:$theme-color;
				}
			}
		}
        .widgettitle, .widget-title, .title_brand h2,.wp-block-search__label,&.widget_block h2{
            color: $block-sidebar-heading-color;
            padding: $block-sidebar-heading-padding;
            background: $block-sidebar-heading-hightlight-bg;
            font-weight: $block-sidebar-heading-font-weight;
            font-size: $block-sidebar-heading-font-size;
            margin: $block-sidebar-heading-margin;
            position: relative;
			border:0;
			line-height:20px;
			text-transform: uppercase;
			.rsswidget{
				.rss-widget-icon{
					margin-top:5px;
				}
			}
        }
        >div >ul:not(.social-link), >ul{
            @include rtl-padding-left(0px !important);
            margin-top: -7px;
            margin-bottom: -7px;
            >li{
				&:first-child{
                    padding-top: 0 !important;
                }
                a, span{
					color: $text-color;           
                }
                &.current-cat, &.open{
                    > a{
                        color: $theme-color;
                    }
                }
            }
        }
        ul:not(.social-link,.content-products,.product_list_widget){
            background: $block-sidebar-hightlight-content-bg;
            padding: 0;
            border: none;
            @include rtl-padding-left(15px);
            li:not(.recentcomments){
                padding: 5px 0;
                list-style: none;
                color: $text-color;
                &:first-child{
                    padding-top: 0;
					border-top:none;
                }
                .count{
					display:inline-block;
                }
                a:not(.rsswidget){
                    color: $text-color;
                    &:hover, &.active{
                        color: $theme-color;
                    }
                }
                &.current-cat{
					color: $theme-color;
                    > a, > span{
                        color: $theme-color;
                        cursor: pointer;
                        .count{
                            color: $theme-color;
                        }
                    }
					&:before{
						color: $theme-color !important;
					}
                }
            }
			&.children{
				margin-top:12px;
				li{
					&:last-child{
						padding-bottom:0;
					}
				}
			}
            li.cat-parent{
                .children{
                    li{
                        @include rtl-padding-left(20px);
                    }
                }
            }
        }
		ul.product-categories{
            background: $block-sidebar-hightlight-content-bg;
            padding: 0;
            border: none;
            @include rtl-padding-left(15px);
            li:not(.recentcomments){
                padding: 5px 0;
                list-style: none;
                color: $text-color;
				&:before{
					content: "\f105";
					font-family: FontAwesome;
					font-size: 13px;
					float: left;
					padding-right: 10px;
					line-height: 25px;
					color:$theme-color;
					@include opacity-h();
					display:none;
					@include transition(all 0.3s ease);
					position:relative;
					top:-2px;
				}
                &:first-child{
                    padding-top: 0;
					border-top:none;
                }
                .count{
					display:inline-block;
                }
                a:not(.rsswidget){
                    color: $text-color;
                    &:hover, &.active{
                        color: $theme-color;
                    }
                }
                &.current-cat,&:hover{
					&:before{
						display:block;
						@include opacity-s();
					}
                    > a, > span{
                        color: $theme-color;
                        cursor: pointer;
                        .count{
                            color: $theme-color;
                        }
                    }
                }
            }
			&.children{
				margin-top:12px;
				li{
					&:last-child{
						padding-bottom:0;
					}
				}
			}
            li.cat-parent{
                .children{
                    li{
                        @include rtl-padding-left(20px);
                    }
                }
            }
        }
        &.widget_recent_comments{
            ul{
				li{
					padding: 5px 0;
					list-style: none;
					color: $text-color;
					@include rtl-padding-left(20px);
					&:first-child{
						padding-top: 0;
						border-top:none;
					}
					&:before{
						content: "\f0e6";
						font-family: FontAwesome;
						font-size:13px;
						color:rgba($text-color,0.5);
						@include rtl-margin-right(10px);
						@include rtl-margin-left(-20px);
					}
					a{
						color:$text-color;
						word-break: break-word;
						&:hover{
							color:$theme-color;
						}
					}
				}
			}
        }
        &.widget_search{
			input[type="text"]{
				&::placeholder{
					color: $light-gray;
				}
			}
			#searchsubmit{
				font-size:0;
				height:45px;
				@include transform(rotateY(180deg));
				background:transparent;
				padding:0 20px;
				@include border-radius(0);
				&:hover{
					i{
						color: $theme-color;
					}
				}
			}
			i{
				font-size:18px;
				line-height:45px;
				color:$gray-dark;
			}
			span{
				line-height:45px;
				color:$white;
			}
			.wp-block-search__button{
				background:$gray-dark;
				color:$white;
				padding:5px 20px;
				cursor:pointer;
				@include border-radius(30px);
				&:hover{
					background:$theme-color;
				}
			}
			.wp-block-search__input {
				@include border-radius(30px);
			}
        }
		&.widget_archive,&.widget_text,&.widget_categories{
			select{
				margin-bottom:10px;
			}
		}
        &.widget_rss{
            ul{
				li{
					@include rtl-margin-left(0!important);
					>div{
						font-style: italic;
						color:rgba($text-color,0.7);
					}
					a{
						display: block;
						color: $gray-dark;
						&:hover{
							color:$theme-color;
						}
					}
					cite{
						&:before{
							content: "- ";
						}
						&:after{
							content: " -";
						}
					}
				}
			}
        }
        &.widget_tag_cloud{
			.tagcloud a{
				color: $text-color;
				border: 1px solid $border-color;
				overflow:hidden;
				background:transparent;
				padding: 10px 20px;
				@include border-radius(10px);
				text-transform: capitalize;
				position:relative;
				&:before{
					content:"";
					position:absolute;
					bottom:0;
					@include rtl-right(0);
					height:0;
					width:100%;
					background:#efefef;
					z-index:-1;
					@include transition(all 0.3s ease);
				}
				&:hover{
					border-color: $theme-color;
					color: $widget-tag-color-hover;
					&:before{
						height:100%;
						background:$theme-color;
					}
				}
			}
        }
		&.woocommerce.widget_products{
			.product_list_widget{
				padding:0;
				list-style:none;
				li{
					padding:20px !important;
					border-bottom:1px dashed $border-color;
					display:inline-block;
					width:100%;
					img{
						max-width:120px;
						@include rtl-float-left();
						@include rtl-margin-right(20px);
					}
					.product-title{
						font-size:12px;
						color:$gray-dark;
						text-transform:uppercase;
						display:block;
					}
					.woocommerce-Price-amount{
						color:$gray-dark;
						font-weight:700;
						font-size:14px;
						.woocommerce-Price-currencySymbol{
							color:$gray-dark;
						}
					}
					del .woocommerce-Price-amount{
						color:$text-color;
						font-size:12px;
						.woocommerce-Price-currencySymbol{
							color:$text-color;
						}
					}
					ins{
						text-decoration:none;
						.woocommerce-Price-amount{
							color:$theme-color;
							.woocommerce-Price-currencySymbol{
								color:$theme-color;
							}
						}
					}
					a:hover{
						.product-title{
							color:$theme-color;
						}
					}
				}
			}
		}
        .bwp-widget-banner{
            @include rtl-text-align-left();
            margin-bottom: 0;
        }
    }
    ul.social-link{
        li{
            a{
                border: 1px solid $gray-dark;
                @include square(36px);
                background: $gray-dark;
                @include border-radius(50%);
                line-height: 36px;
                text-align: center;
                display: inline-block;
                @include transition(all 0.2s ease);
                i{
                    color: $white;
                }
                &:hover{
                    background: $white;
                    i{
                        color: $gray-dark;
                    }
                }
            }
        }
    }
    &.sidebar-product{
        >.widget{
            .widget-title{
                margin-bottom:30px;
            }
        }
    }
	&.sidebar-blog{
		margin-top: -5px;
		>.widget{
			>*:not(h3,.bwp-recent-post){
				padding:20px !important;
			}
			&:not(.bwp_recent_post_widget){
				&.widget_categories{
					>form{
						border:0 !important;
						select{
							padding:15px 20px;
							background-position: calc(100% - 24px) calc(1em + 12px), calc(100% - 18px) calc(1em + 12px), calc(100% - 2.5em) 0.5em;
							&:focus{
								background-position: calc(100% - 18px) calc(1em + 12px), calc(100% - 24px) calc(1em + 12px), calc(100% - 2.5em) 0.5em;
							}
						}
					}
				}
				&.widget_archive{
					text-align:center;
					ul,h3{
						@include rtl-text-align-left();
					}
					select{
						padding:15px 20px !important;
						width:calc(100% - 40px);
						margin:20px 0;
						background-position: calc(100% - 24px) calc(1em + 12px), calc(100% - 18px) calc(1em + 12px), calc(100% - 2.5em) 0.5em;
						&:focus{
							background-position: calc(100% - 18px) calc(1em + 12px), calc(100% - 24px) calc(1em + 12px), calc(100% - 2.5em) 0.5em;
						}
					}
				}
			}
			&:not(.widget_rss){
				ul:not(.social-link,.content-products,.product_list_widget){
					margin:0;
					overflow:hidden;
					margin-top: -5px;
					&.children{
						padding:0;
					}
					li:not(.recentcomments){
						font-size:15px;
						padding: 5px 0 !important;
						position:relative;
						@include rtl-margin-left(-5px);
						&:first-child{
							padding-top: 0 !important;
						}
						&:last-child{
							padding-bottom: 0 !important;
						}
						&:before{
							content: "\35";
							display: inline-block;
							font-family: eleganticons;
							font-size: 15px;
							margin-right: 3px;
							position: relative;
							top: 1px;
							color:$theme-color;
							line-height:1;
						}
						.children,.sub-menu{
							margin-top:10px;
							padding:0;
							@include rtl-padding-left(20px);
							overflow:unset;
							position:relative;
							li:last-child{
								padding-bottom:0 !important;
							}
						}
						&:first-child{
							&:after{
								display:none;
							}
						}
					}
				}
			}
			&.widget_search{
				&.widget_block{
					form{
						padding:0 !important;
					}
					.wp-block-search__inside-wrapper{
						padding:20px;
					}
				}
			}
			&.widget_block{
				>div{
					padding:0 !important;
				}
				.wp-block-group__inner-container >*{
					padding:20px !important;
				}
			}
			&.widget_recent_comments{
				ul{
					li{
						color:rgba($text-color,0.75);
						a{
							color:darken($text-color,10%);
							&:hover{
								color:$theme-color;
							}
						}
					}
				}
			}
			.widget-title,.wp-block-search__label,&.widget_block h2{
				margin:0;
				position:relative;
				padding:20px 20px 0 20px;
				text-transform: capitalize;
			}
			.bwp-recent-post{
				.block_content{
					padding:20px;
				}
			}
		}
	}
} 

/*
    Product Sidebar
*------------------------------------
*/
.bwp-woocommerce-filter-product{
	width:100%;
}
.sidebar-product-filter{
    //Sidebar Top
    &.full{
        display: none;
		margin-bottom:50px;
        width: 100%;
        padding: 0 !important;
        .bwp_ajax_filte{
            width: 100%;
            margin-bottom: 0 !important;
            border: 0;
        }
        .bwp-filter-ajax{
            #bwp_form_filter_product{
                >div{
                    @media (min-width: $screen-lg){
                        margin-bottom: 0;
                    }
                }
                @media (min-width: $screen-xs-max){
                    border : 0;
                    display: flex;
                    padding :10px;
                    >div{
						flex:1;
                        padding : 15px;
                        ul{
                            margin: -5px 0;
                        }
                        &.bwp-filter-color{
                            order: 1;
                        }
                        &.bwp-filter-brand{
                            order: 2;
                        }
                        &.bwp-stock-status{
                            order: 3;
                        }
                        &.bwp-filter-price{
                            order: 4;
                            @include rtl-float-right();
                        }
                    }
                }
                .bwp-stock-status ul li{
                    width : 100%;
                }
            }
            .filter_clear_all{
                margin-top: 30px;
                margin-bottom: 0;
            }
        }
    }
}
.icon_categories.woocommerce-product-subcategories{
	li{
		> a{
			font-size:50px;
			@include square(auto);
			color:$gray-dark;
			overflow:unset;
			@include border-radius(0);
			&:hover{
				i{
					-webkit-animation-name: shakes;
					animation-name: shakes;
					-webkit-animation-duration: 1s;
					animation-duration: 1s;
					-webkit-animation-timing-function: ease-in-out;
					animation-timing-function: ease-in-out;
					-webkit-animation-iteration-count: 1;
					animation-iteration-count: 1;
					display:inline-block;
				}
			}
		}
		&.active{
			h2{
				a{
					&:before{
						width:100%;
					}
				}
			}
		}
	}
}
.shop_mini_categories.woocommerce-product-subcategorie-content{
	position:relative;
	margin-bottom:30px;
	margin-top:-53px;
	&:before{
		content:"";
		position:absolute;
		left:0;
		bottom:0;
		width:100%;
		height:1px;
		background:#e8e8e8;
	}
	.slick-arrow{
		color:$gray-dark;
		@include box-shadow(unset);
		font-size:25px;
		top: 35%;
		&:hover{
			color:$theme-color;
		}
	}
	ul.woocommerce-product-subcategories{
		li{
			h2{
				margin:0;
				a{
					color:$text-color;
					padding-bottom:20px;
					&:before{
						background:$gray-dark;
					}
					&:hover{
						color:$gray-dark;
					}
				}
			}
			&.active{
				h2{
					a{
						color:$gray-dark;
						&:before{
							width:100%;
						}
					}
				}
			}
		}
	}
}
.filter_sideout{
	&.active{
		&:before{
			content:"";
			position:fixed;
			width:100vw;
			height:100vh;
			top:0;
			left:0;
			background:rgba($gray-dark,0.5);
			z-index:99999;
		}
	}
	.sidebar-product-filter{
		display:block !important;
		position:fixed;
		top:0;
		left:0;
		background:$white;
		height:100vh;
		width:330px;
		z-index:99999;
		overflow:auto;
		padding:0px 0 50px !important;
		@include transition(all 0.3s ease);
		@include transform(translateX(-330px));
		@include opacity-h();
		@include box-shadow( 0px 1px 12px 2px rgba(144, 144, 144, 0.3));
		@media (max-width:$screen-xs-max){
			width:300px;
			@include transform(translateX(-300px));
		}
		&::-webkit-scrollbar-track
		{
			background-color: #F5F5F5;
		}

		&::-webkit-scrollbar
		{
			width: 5px;
			background-color: #F5F5F5;
		}

		&::-webkit-scrollbar-thumb
		{
			background-color: rgba($gray-dark, 0.1);
		}
		&.active{
			@include transform(translateX(0));
			@include opacity-s();
		}
		#bwp_form_filter_product{
			flex-wrap:wrap;
			border:0 !important;
			@media(max-width:$screen-xs-max){
				padding:0 20px;
			}
			>div{
				flex:0 0 100% !important;
				margin-bottom:25px !important;
				@media (max-width:$screen-xs-max){
					margin-bottom:50px !important;
				}
			}
			.bwp-filter-brand{
				ul.filter_brand_product{
					margin:0 -5px;
					display:flex;
					flex-wrap:wrap;
					li{
						padding:0 5px !important;
						margin:0 0 10px;
						width:33.33%;
						> span{
							@include square(100% !important);
							padding:10px !important;
							margin:0 !important;
							box-sizing: inherit;
							display:flex !important;
							align-items:center;
							justify-content:center;
							min-height:82px;
							img{
								display:block;
							}
							&:after{
								display:none;
							}
						}
						label{
							display:none;
						}
					}
				}
			}
		}
		.button-filter-toggle{
			color:$gray-dark;
			font-size:12px;
			text-transform:uppercase;
			font-weight:500;
			padding:0 30px;
			@include rtl-text-align-right();
			cursor:pointer;
			position:relative;
			font-weight:700;
			position: sticky;
			top: 0;
			padding: 20px 15px;
			background: #fff;
			z-index: 10;
			@include box-shadow( 0px 1px 12px 2px rgba(144, 144, 144, 0.15));
			&:after{
				content: "\ea02";
				font-family: 'feather';
				font-size:15px;
				display:inline-block;
				position:relative;
				top:1px;
				@include rtl-margin-left(5px);
			}
			&:hover{
				color:$theme-color;
			}
			@media (max-width:$screen-xs-max){
				margin-bottom:30px;
			}
		}
	}
}
.filter_drawer{
	.bwp-widget-feature-product{
		display:block;
	}
	.bwp-top-bar .woocommerce-result-count{
		float:left;
	}
	.bwp-sidebar{
		position:absolute;
		@include opacity-h();
		flex: 0 0 0px;
		max-width: 0px;
		@include transition(all 0.3s ease);
		z-index:2;
		height:0;
		>*{
			height:0;
		}
	}
	.main-archive-product{
		position:relative;
		>div.col-xl-12{
			@include transition(all 0.3s ease);
			@include rtl-margin-left(auto);
		}
		&.active{
			>div.col-xl-12{
				max-width:calc(100% - ( 25% + 15px));
			}
			.bwp-sidebar{
				@include opacity-s();
				flex: 0 0 25%;
				max-width: 25%;
				position:relative;
				height:100%;
				>*{
					height:auto;
				}
			}
		}
	}
	@media (max-width:$screen-sm-max){
		.main-archive-product.row{
			.bwp-sidebar{
				max-width: 330px;
				display:block !important;
				position:fixed;
				top:0;
				left:0;
				background:$white;
				height:100%;
				z-index:99999;
				overflow:auto;
				padding:0 0 50px !important;
				@include transition(all 0.3s ease);
				@include transform(translateX(-330px));
				@include opacity-h();
				margin:0;
				@include box-shadow( 0px 1px 12px 2px rgba(144, 144, 144, 0.3));
				>*{
					padding:0 20px;
				}
				@media (max-width:$screen-xs-max){
					width:260px;
					@include transform(translateX(-260px));
				}
				.button-filter-toggle{
					color: $gray-dark;
					font-size: 10px;
					text-transform: uppercase;
					font-weight:700;
					font-weight: 500;
					text-align: right;
					cursor: pointer;
					position: relative;
					margin-bottom:50px;
					padding:0;
					height:auto;
					position: sticky;
					top: 0;
					padding: 20px 15px;
					background: #fff;
					z-index: 100;
					@include box-shadow( 0px 1px 12px 2px rgba(144, 144, 144, 0.15));
					&:after{
						content: "\ea02";
						font-family: feather;
						font-size: 14px;
						display: inline-block;
						position: relative;
						top: 1px;
						@include rtl-margin-left(5px);
					}
				}
			}
			&.active{
				>.col-xl-12{
					max-width:100%;
				}
				.bwp-sidebar{
					@include opacity-s();
					max-width: 330px;
					@include transform(translateX(0));
				}
			}
		}
	}
	.button-filter-toggle{
		color:$gray-dark;
		font-size:10px;
		text-transform:uppercase;
		font-weight:500;
		padding:0 30px;
		@include rtl-text-align-right();
		cursor:pointer;
		position:relative;
		font-weight:700;
		&:after{
			content: "\ea02";
			font-family: feather;
			font-size:14px;
			display:inline-block;
			position:relative;
			top:1px;
			@include rtl-margin-left(5px);
		}
		&:hover{
			color:$theme-color;
		}
		@media (max-width:$screen-xs-max){
			margin-bottom:30px;
			padding:0;
		}
	}
	.funio-woocommerce-sort-count{
		margin:0 !important;
	}
	.sidebar-product{
		.bwp-filter-brand{
			ul.filter_brand_product{
				margin:0 -5px !important;
				display:flex;
				flex-wrap:wrap;
				li{
					padding:0 5px !important;
					margin:0 0 10px;
					width:33.33%;
					> span{
						@include square(100% !important);
						padding:5px !important;
						margin:0 !important;
						box-sizing: inherit !important;
						min-height: 100px;
						display:flex !important;
						align-items:center;
						justify-content:center;
						img{
							display:block !important;
							max-height:95px;
						}
						&:after{
							display:none;
						}
					}
					label{
						display:none !important;
					}
					@media (max-width:$screen-md-max){
						width:50%;
					}
				}
			}
		}
		@media (max-width:$screen-sm-max){
			margin-top:50px;
		}
	}
}
.sidebar{
	.bwp-widget-feature-product{
		display:block;
	}
	.bwp-top-bar .woocommerce-result-count{
		float:left;
	}
	@media (min-width:$screen-sm-max){
		.bwp-top-bar{
			.button-filter-toggle{
				display:none !important;
			}
		}
	}
	@media (max-width:$screen-sm-max){
		.main-archive-product.row{
			.bwp-sidebar{
				max-width: 330px;
				display:block !important;
				position:fixed;
				top:0;
				left:0;
				background:$white;
				height:100%;
				z-index:99999;
				overflow:auto;
				padding:0 0 50px !important;
				@include transition(all 0.3s ease);
				@include transform(translateX(-330px));
				@include opacity-h();
				margin:0;
				@include box-shadow( 0px 1px 12px 2px rgba(144, 144, 144, 0.3));
				>*{
					padding:0 20px;
				}
				@media (max-width:$screen-xs-max){
					width:260px;
					@include transform(translateX(-260px));
				}
				.button-filter-toggle{
					color: $gray-dark;
					font-size: 12px;
					text-transform: uppercase;
					font-weight:700;
					font-weight: 500;
					text-align: right;
					cursor: pointer;
					position: relative;
					margin-bottom:50px;
					padding:0;
					position: sticky;
					top: 0;
					padding: 20px 15px;
					background: #fff;
					z-index: 100;
					@include box-shadow( 0px 1px 15px 2px rgba(144, 144, 144, 0.1));
					&:after{
						content: "\ea02";
						font-family: feather;
						font-size: 14px;
						display: inline-block;
						position: relative;
						top: 1px;
						@include rtl-margin-left(5px);
					}
				}
			}
			&.active{
				>.col-xl-12{
					max-width:100%;
				}
				.bwp-sidebar{
					@include opacity-s();
					max-width: 330px;
					@include transform(translateX(0));
				}
			}
		}
	}
	.button-filter-toggle{
		color:$gray-dark;
		font-size:10px;
		text-transform:uppercase;
		font-weight:500;
		padding:0 30px;
		@include rtl-text-align-right();
		cursor:pointer;
		position:relative;
		font-weight:700;
		&:after{
			content:"\ea02";
			font-family: feather;
			font-size:14px;
			display:inline-block;
			position:relative;
			top:1px;
			@include rtl-margin-left(5px);
		}
		&:hover{
			color:$theme-color;
		}
		@media (max-width:$screen-xs-max){
			margin-bottom:30px;
			padding:0;
		}
	}
	.nuna-woocommerce-sort-count{
		margin:0 !important;
	}
	.sidebar-product{
		.bwp-filter-brand{
			ul.filter_brand_product{
				margin:0 -5px !important;
				display:flex;
				flex-wrap:wrap;
				li{
					padding:0 5px !important;
					margin:0 0 10px;
					width: 33.33%;
					> span{
						@include square(100% !important);
						padding:5px !important;
						margin:0 !important;
						box-sizing: inherit !important;
						min-height: 100px;
						display:flex !important;
						align-items:center;
						justify-content:center;
						img{
							display:block !important;
						}
						&:after{
							display:none;
						}
					}
					label{
						display:none !important;
					}
					@media (max-width:$screen-md-max){
						width:50%;
					}
				}
			}
		}
		@media (max-width:$screen-sm-max){
			margin-top:50px;
		}
	}
}
.only_categories{
	.woocommerce-product-category{
		padding:0;
		list-style:none;
		li{
			width:33.33%;
			flex:0 0 33.33%;
			padding:0 15px;
			position:relative;
			margin-bottom:30px;
			overflow:hidden;
			&:hover{
				a{
					&:before{
						@include opacity-s();
					}
				}
				.woocommerce-loop-category{
					@include transform(translateY(0));
					@include opacity-s();
				}
			}
			>a{
				height:450px;
				display:inline-block;
				position:relative;
				width:100%;
				overflow:hidden;
				border:1px solid #ccc;
				@include border-radius(10px);
				&:before{
					content:"";
					position:absolute;
					top:0;
					left:0;
					background:rgba($gray-dark,0.3);
					width:100%;
					height:100%;
					z-index:2;
					@include opacity-h();
					@include transition(all 0.3s ease);
				}
				img{
					position:absolute;
					height:100%;
					width:100%;
					object-fit: cover;
					@include transition(all 0.3s ease);
					@include transform(scale(1));
				}
				&:hover{
					img{
						@include scale(1.1);
					}
				}
			}
			@media (max-width:$screen-sm-max){
				width:50%;
				flex:0 0 50%;
			}
			@media (max-width:$screen-xs-max){
				width:100%;
				flex:0 0 100%;
				>a{
					height:500px;
				}
			}
			@media (max-width:$screen-xs){
				>a{
					height:360px;
				}
			}
		}
		.woocommerce-loop-category__title{
			margin:0;
			font-size:34px;
			a{
				color:$white;
				&:hover{
					color:$theme-color;
				}
			}
		}
		.count-product{
			font-size:14px;
			color:$white;
		}
		.view-all{
			@include rtl-text-align-right();
			margin-top:10px;
			a{
				color:$white;
				border-bottom:1px solid $white;
				padding-bottom:3px;
				&:after{
					content: "\45";
					font-family: eleganticons;
					font-size:12px;
					@include rtl-margin-left(5px);
					position:relative;
					top:1px;
				}
				&:hover{
					color:$theme-color;
					border-color:$theme-color;
				}
			}
		}
		.woocommerce-loop-category{
			position:absolute;
			bottom:20px;
			width:100%;
			padding:20px 45px;
			left:0;
			z-index:10;
			@include transition(all 0.3s ease);
			@include transform(translateY(100%));
			@include opacity-h();
		}
	}
}
.filter_dropdown{
	.nuna-woocommerce-sort-count{
		margin:0 !important;
	}
	.sidebar-product-filter.full{
		margin-bottom:30px;
		.filter_clear_all{
			@include rtl-margin-left(15px);
		}
		.bwp-woocommerce-filter-product{
			width: calc(100% + 30px);
			margin-left: -15px;
		}
		.bwp-filter-ajax{
			#bwp_form_filter_product{
				padding:0;
				border:0;
				width:100%;
				@media (max-width:$screen-sm-max){
					flex-wrap:wrap;
				}
				h3{
					line-height:38px;
					border:1px solid $border-color;
					padding:0 20px;
					font-size:14px;
					margin:0;
					cursor:pointer;
					position:relative;
					font-weight:500;
					&:before{
						position:absolute;
						@include rtl-right(20px);
						line-height:1;
						top:9px;
						content:"\f0dd";
						font-family:FontAwesome;
						font-size:15px;
						@include transition(all 0.3s ease);
						transform-origin: 50% 73%;
						font-weight:400;
						@include square(auto);
						background:transparent;
						bottom:auto;
						left:auto;
					}
				}
				>div{
					margin:0 !important;
					padding:0 15px;
					position:relative;
					@media (max-width:$screen-sm-max){
						flex:0 0 50%;
						margin-bottom:20px !important;
					}
					>ul,.content-filter-price,.content_filter{
						position:absolute;
						top:calc(100% + 20px);
						width:calc(100% - 30px);
						left:15px;
						background:$white;
						z-index:9;
						padding:20px;
						@include box-shadow(5px 5px 73px 0px rgba(0, 0, 0, 0.05));
						max-height:300px;
						overflow:auto;
						@include transition(all 0.3s ease);
						@include opacity-h();
						&::-webkit-scrollbar
						{
							width: 5px;
						}
						&::-webkit-scrollbar-thumb
						{
							background-color: rgba($theme-color,0.5);
						}
						li{
							width:100% !important;
							position:relative;
							font-size:14px;
							mark{
								display:block;
								position:absolute;
								@include rtl-right(0);
								top:0;
								line-height:41px;
								&:before,&:after{
									display:none;
								}
							}
							span{
								overflow: unset;
							}
						}
					}
					.content_filter li mark{
						line-height:25px;
					}
					.content_filter{
						>ul:not(#pa_color,.filter_brand_product){
							li{
								span{
									padding:0 !important;
									border:0 !important;
									display:block !important;
									@include rtl-text-align-left();
									&:before{
										content:"";
										display:inline-block;
										@include square(17px);
										border:1px solid #cccccc;
										position:relative;
										top:4px;
										@include rtl-margin-right(5px);
									}
									.count{
										display:block !important;
										position:absolute;
										@include rtl-right(0);
										top:0;
									}
									&.active{
										&:before{
											border-color:$gray-dark;
										}
										&:after{
											content: "\f00c";
											font-family: FontAwesome;
											position: absolute;
											top: 0;
											left: 3px;
											font-size: 11px;
											color: $gray-dark;
										}
										.count{
											color:$gray-dark;
										}
									}
									&:hover{
										&:before{
											border-color:$gray-dark;
										}
										.count{
											color:$gray-dark;
										}
									}
								}
							}
						}
					}
					.filter_category_product{
						position:absolute;
						top:calc(100% + 20px);
						width:calc(100% - 30px);
						left:15px;
						background:$white;
						z-index:9;
						padding:20px;
						@include box-shadow(5px 5px 73px 0px rgba(0, 0, 0, 0.05));
						max-height:300px;
						overflow:auto;
						@include transition(all 0.3s ease);
						@include opacity-h();
						&::-webkit-scrollbar
						{
							width: 5px;
						}
						&::-webkit-scrollbar-thumb
						{
							background-color: rgba($theme-color,0.5);
						}
					}
					&.active{
						h3{
							background:#f3f3f3;
							border:1px solid #f3f3f3;
							&:before{
								@include transform(rotate(-180deg));
							}
						}
						>ul,.content-filter-price,.filter_category_product,.content_filter{
							@include opacity-s();
							top:calc(100% + 10px);
						}
					}
				}
			}
		}
	}
}
.filter_ontop{
	#bwp_form_filter_product{
		@include box-shadow(0px 5px 15px rgba(0, 0, 0, 0.05));
		>div{
			>div,ul{
				max-height:250px;
				overflow:auto;
				padding-top:7px;
				&::-webkit-scrollbar
				{
					width: 5px;
				}
				&::-webkit-scrollbar-thumb
				{
					background-color: #cfcfcf;
				}
				&:not(.filter_brand_product){
					overflow:unset;
				}
			}
		}
	}
}
/*
    Tags Widget
*------------------------------------
*/
.widget_product_tag_cloud{
    .tagcloud a{
        color: $light-gray;
		border: 1px solid rgba($text-color,0.25);
		overflow:hidden;
		background:transparent;
		padding: 10px 20px;
		text-transform: capitalize;
		position:relative;
		&:before{
			content:"";
			position:absolute;
			@include size(0px,100%);
			@include rtl-right(0);
			bottom:0;
			background:#efefef;
			@include transition(all 0.3s ease);
			z-index:-1;
		}
		&:hover{
			background:transparent;
			&:before{
				@include square(100%);
				background:$theme-color;
			}
		}
    }
}
.tagcloud{
	a{
        position: relative;
        z-index: 1;
        font-size: $widget-tag-font-size;
        color: $widget-tag-color;
        margin: $widget-tag-margin;
	    padding: $widget-tag-padding;
        background: $widget-tag-bg;
        text-transform: $widget-tag-transform;
        border: $widget-tag-border;
        @include inline-block();
        position: relative;
        font-weight: 500;
        z-index: 0;
		line-height:18px;
        &:hover{
            border-color: $theme-color;
			background:$theme-color;
            color: $widget-tag-color-hover;
        }
	}
}

/*
    Widget Newsletter
*------------------------------------
*/
.widget_mc4wp_widget{
	form{
		margin: 0;
	}
}


/*
    Widget Filter Product
*------------------------------------
*/
.bwp_ajax_filte{
    display: -webkit-box;
    .bwp-block-title h2{
        font-size: 18px;
        margin-bottom: 20px;
    }
}
.bwp-filter-ajax{
    label{
        margin-bottom: 0;
    }
    #bwp_form_filter_product{
        float: none;
        ul{
            padding: 0;
			li{
				@include rtl-margin-left(0);
				&:before{
					display:none;
				}
			}
        }
        h3{
            color: $block-sidebar-heading-color;
            padding: $block-sidebar-heading-padding;
            background: $block-sidebar-heading-hightlight-bg;
            font-weight: $block-sidebar-heading-font-weight;
            font-size: $block-sidebar-heading-font-size;
            margin: $block-sidebar-heading-margin;
            line-height: 20px;
            text-transform: uppercase;
        }
		.filter_category_product{
			max-height:400px;
			overflow:auto;
			&::-webkit-scrollbar-track
			  {
				background-color: #F5F5F5;
			  }

			  &::-webkit-scrollbar
			  {
				width: 5px;
				background-color: #F5F5F5;
			  }

			  &::-webkit-scrollbar-thumb
			  {
				background-color: rgba($gray-dark, 0.1);
			  }
			.item-category {
				cursor:pointer;
				margin-top:10px;
				display:flex;
				justify-content:space-between;
				align-items:center;
				label{
					font-weight:500;
					margin:0;
					cursor:pointer;
				}
				.count{
					@include square(25px);
					@include border-radius(50%);
					background:#f1f1f1;
					text-align:center;
					line-height:25px;
					font-size:14px;
				}
				&:hover,&.active{
					color:$theme-color;
				}
				&:first-child{
					margin-top:0;
				}
			}
		}  
        .bwp-filter-price{
            h3{
                margin-bottom: 20px;
            }
            #bwp_slider_price{
                margin: 0;
                background: #f5f5f5;
                border: 0;
                height: 2px;
                width: calc(100% - 14px);
                @include border-radius(0);
                @include rtl-margin-left(7px);
                &:after, &:before{
                    display: none;
                }
                .ui-slider-handle{
                    @include square(12px);
                    border: 2px solid $gray-dark;
                    @include border-radius(50%);
                    top: -6px;  
                    @include rtl-margin-left(-5px);
					background:$white;
                }
                .ui-slider-range{
                    top: -1px;
                    height: 2px;
                    position: absolute;
                    background: $gray-dark;
                    border-color: $gray-dark;
                }
            }
            .price-input{
                margin-top: 20px;
				color: $gray-dark;
				font-weight:500;
				>span:not(.input-text){
					color:$text-color;
					font-weight:400;
				}
            }
        }
		.bwp-filter-price{
			h3{
				margin-bottom:30px;
			}
		}
        .bwp-filter{
			margin-bottom:55px;
			&.bwp-filter-category{
				h3{
					margin-bottom:25px;
				}
			}
			.content_filter{
				position:relative;
				h2{
					margin:0;
					font-size:14px;
					font-weight:500;
					font-family:$font-family-second;
					padding:0 10px;
					border:1px solid rgba($gray-dark,0.5);
					line-height:40px;
					cursor:pointer;
					position:relative;
					&:before{
						content:"\f0dd";
						font-family:FontAwesome;
						position:absolute;
						@include rtl-right(10px);
						font-size:16px;
						line-height:1;
						top:calc(50% - 11px);
					}
				}
				ul.filter-select{
					background:$white;
					padding:10px;
					transform:unset !important;
					left:0 !important;
					top:100% !important;
				}
			}
            ul{
                li.filter_color{
					position:relative;
					display:flex;
					line-height:32px;
					font-size:15px;
					width:100%;
                    &.white{
						>span{
							border:1px solid #cfcfcf;
							&:before{
								color:$gray-dark;
							}
						}
                    } 
					mark{
						padding:0;
						background:transparent;
						color:$text-color;
						position:absolute;
						right:0;
						@include square(25px);
						text-align:center;
						line-height:25px;
						top:8px;
						@include border-radius(50%);
						background: #f1f1f1;
					}
					label{
						margin: 0;
					}
                    >span{
						@include square(26px !important);
                        overflow: visible;
                        border: none !important;
                        @include border-radius(50%);
                        position: relative;
                        @include transition(transform 0.1s ease);
						padding:0 !important;
						min-width:unset;
						&:before{
							content: "\4e";
							position:absolute;
							font-family: eleganticons;
							color:$white;
							left: 6px;
							top: -2px;
							@include opacity-h();
						}
                    }
					&:hover,&.active{
						color:$theme-color;
						mark{
							color:$theme-color;
						}
						>span{
							&:before{
								@include opacity-s();
							}
						}
					}
                }
                &.bwp-filter-size{
                	ul{
						span{
							@include border-radius(50%);
						}
					}
                }
				li.filter_orther{
					cursor:pointer;
					display:block;
					float:unset;
					div{
						mark{
							background:transparent;
							color:#a4a4a4;
						}
						label{
							cursor:pointer;
						}
						span{
							content:"";
							display:inline-block;
							@include square(14px);
							border:1px solid #d2d2d2;
							position:relative;
							@include rtl-margin(0 ,10px ,0 ,0);
							top:3px;
							&:before{
								content:"";
								@include square(8px);
								position:absolute;
								background:$theme-color;
								@include border-radius(50%);
								left:calc(50% - 4px);
								top:calc(50% - 4px);
								@include opacity-h();
							}
						}
						&.active{
							color:$theme-color;
							span{
								border-color:$theme-color;
								&:before{
									@include opacity-s();
								}
							}
						}
						&:hover{
							color:$theme-color;
						}
					}
				}
				li.filter_image{
					position:relative;
					display:flex;
					line-height:32px;
					font-size:13px;
					width:100%;
					mark{
						padding:0;
						background:transparent;
						color:$text-color;
						position:absolute;
						right:0;
						@include square(25px);
						text-align:center;
						line-height:25px;
						top:8px;
						@include border-radius(50%);
						background: #f1f1f1;
					}
					label{
						margin: 0;
					}
                    >span{
						@include square(26px !important);
                        overflow: visible;
                        border: none !important;
                        position: relative;
                        @include transition(transform 0.1s ease);
						padding:0 !important;
						min-width:unset;
						background-size:cover;
						&:before{
							content: "\4e";
							position:absolute;
							font-family: eleganticons;
							color:$white;
							left: 6px;
							top: -2px;
							@include opacity-h();
						}
                    }
					&:hover,&.active{
						color:$theme-color;
						mark{
							color:$theme-color;
						}
						>span{
							&:before{
								@include opacity-s();
							}
						}
					}
				}
            }
        }
        .bwp-filter-bottle-size, .bwp-filter-vintage{
        	font-family: $font-family-second;
        	ul li > span{
        		padding: 11px 15px !important;
        	}
        }
		.bwp-filter-brand{
			ul.filter_brand_product{
				li{
					cursor:pointer;
					>span{
						img{
							display:none;
						}
						&.active{
							border: 1px solid $gray-dark !important;
							&:after{
								content: "\f00c";
								font-family: FontAwesome;
								position: absolute;
								top: -5px;
								@include rtl-left(2px);
								font-size:11px;
								color:$gray-dark;
							}
						}
					}
					label{
						cursor:pointer;
					}
					&:hover{
						color:$gray-dark;
						>span{
							border-color: $theme-color !important;
						}
					}
				}
			}
		}
		.bwp-filter-size{
			ul{
				li{
					>span{
						@include border-radius(50%);
					}
				}
			}
		}  
        >div{
            margin-bottom: 50px;
			float:unset;
            ul{
               
                display: inline-block;
                vertical-align: top;
                width: 100%;
				max-height:300px;
				font-size:15px;
				overflow:auto;
				&::-webkit-scrollbar-track
				{
					background-color: #F5F5F5;
				}

				&::-webkit-scrollbar
				{
					width: 3px;
					background-color: #F5F5F5;
				}

				&::-webkit-scrollbar-thumb
				{
					background-color: rgba($gray-dark, 0.1);
				}
                li{
					border:none;
                    padding: 5px 0;
                }
            }
            &:last-child{
                &:last-child{
                    margin-bottom: 50px;
                }
            }
        }
    }
    .filter_clear_all{
        background: $theme-color;
        color: $white;
        text-transform: uppercase;
        padding:10px;
        font-size: 12px;
        border: none;
		letter-spacing:3.2px;
        margin-top: 25px;
        margin-bottom: 0;
        font-weight: 500;
		cursor:pointer;
		&:hover{
			background:darken($theme-color,10%);
		}
    }
    ul{
        list-style-type: none;
        padding: 0;
		li{
			line-height: 25px;
			color: $light-gray;
			display: inline-block;
			padding: 0 ;
			cursor:pointer;
			>span{
				position: relative !important;
				padding: 10px !important;
				min-width:25px;
				cursor: pointer;
				margin: 0 !important;
				overflow: visible;
				display: inline-block !important;
				vertical-align: middle;
				border-color: #cccccc !important;
				@include rtl-margin-right(10px !important);
				text-indent: 0 !important;
				text-align:center;
				font-size:14px;
				font-weight:500;
				@include square(auto !important);
				.count{
					display:none !important;
				}
				&.active{
					border: 1px solid $gray-dark !important;
					color:$gray-dark;
				}
				&:hover{
					border-color: $theme-color !important;
					color:$gray-dark;
				}
			}
			label{
				@include rtl-margin-left(0px);
				vertical-align: top;
				margin-top: 1px;
				cursor:pointer;
			}
			&:hover{
				>span{
					color:$gray-dark !important;
				}
			}
		}
		&.filter_brand_product{
			li{
				line-height: 25px;
				color: $light-gray;
				display: block;
				padding: 0;
				@media (min-width:$screen-sm-max){
					width:50%;
				}
				> span{
					position: relative !important;
					@include square(15px !important);
					cursor: pointer;
					padding:0 !important;
					min-width:unset;
					margin: 0 !important;
					overflow: visible;
					display: inline-block !important;
					vertical-align: middle;
					border-color: #cccccc !important;
					@include rtl-margin-right(10px !important);
					&.active{
						border: 1px solid $gray-dark !important;
						&:after{
							content: "\f00c";
							font-family: FontAwesome;
							position: absolute;
							top: -4px;
							@include rtl-left(-8px);
							font-size:11px;
							color:$gray-dark;
						}
					}
					&:hover{
						border-color: $gray-dark !important;
					}
				}
				label{
					@include rtl-margin-left(0px);
					vertical-align: top;
					margin-top: 1px;
					font-size:14px;
				}
				mark{
					padding: 0;
					background: transparent;
					color: $text-color;
				}
			}
		}
    }
}
/*
    Widget Brands
*------------------------------------
*/
.brands {
    .vc_item {
        @include opacity(0.5);
        &.vc_active, &:hover {
            @include opacity(1);
        }
    }
}

/*
    Social
*------------------------------------
*/
.list-social {
    margin: 0;
    line-height: 0;
    text-align: center;
    li{
        display: inline-block;
        margin-bottom: 0 !important;
        a{
            @include border-radius(50%);
            text-align: center;
            margin: 0 18px 0 0;
            @include square(32px);
            overflow: hidden;
            display: block;
            padding: 6px;
            color: #000;
            background: #fff;
            > *{
                display: block;
                color: $black;
                @include font-size(font-size, 18px);
            }
            .fa,[class^="icon-"], [class*=" icon-"]{
                z-index: 1;
                position: relative;
            }
            &:hover{
                > *{
                    color: $social-hover-color;
                }
                background: $theme-color;               
                &.dribbble{
                    background: #F26798;
                }
                &.facebook{
                    background: #3b589e;
                }
                &.google-plus{
                    background: #d44132;
                }
                &.skype{
                    background: #00A8E6;
                }
                &.tumblr{
                    background: #465a74;
                }
                &.twitter{
                    background: #40BBF7;
                }
                &.youtube{
                    background: #F04E43; 
                }
                &.pinterest{

                }
                &.linkedin{
                    background: #F8659C;
                }
            }
        }
        &:last-child{
            a{
                margin: 0;
            }
        }
    }
}

/*
    Widget video
*------------------------------------
*/
.wpb_video_widget{
    .video-description{
        text-transform: uppercase;
        font-weight: 400;
        line-height: 30px;
        font-size: 12px;
        color: $black;
    }
    .wpb_wrapper .wpb_video_wrapper{
        padding-top: 60.7%!important;
    }
} 
 
//Block contact information
#block_contact_infos {
    p {margin-bottom: 0;}
    .ct-adress {
        @include rtl-padding-left(30px);
        margin-bottom: 10px;
        &:before{
            content: "\f041";
            font-family: $theme-font-icon-name;
            position: absolute;
            @include rtl-left(0);
            font-size: 17px;
        }
    }
    .ct-phone {
        @include rtl-padding-left(30px);
        margin-bottom: 10px;
        &:before{
            content: "\f10b";
            font-family: $theme-font-icon-name;
            position: absolute;
            @include rtl-left(0);
            font-size: 21px;
        }
    }
    .ct-email {
        @include rtl-padding-left(30px);
        &:before{
            content: "\f0e0";
            font-family: $theme-font-icon-name;
            position: absolute;
            @include rtl-left(0);
            font-size: 13px;
        }
    }
}

// Form mail
.mc4wp-form {
    .btn {
        line-height: 20px;
    }
}

 // Ourteam
.bwp-ourteam{
	text-align: center;
	&:hover{
		.slick-arrow{
			@include opacity-s();
		}
	}
	@media (max-width:$screen-md-max){
		.slick-list{
			margin:0 -7.5px;
			.slick-slide {
				padding:0 7.5px;
			}
		}
	}
	.ourteam-info{
		margin-top: 15px;
	}
	.ourteam-customer-name{
		font-size:14px;
		color:$gray-dark;
		font-weight:700;
		margin-bottom:-2px;
		margin-top: 6px;
		text-transform: uppercase;
	}
	.team-job{
		color: #5a5a5a;
		font-size: 12px;
		font-weight: 500;
		line-height:26px;
	}
	.ourteam-items{
		&:hover{
			.ourteam-image{
				&:before{
					@include opacity-s();
					@include transform(translate(-50%,-50%) scale(1));
				}
				.social-link{
					@include opacity-s();
				}
			}
		}
	}
	.slick-dots{
		margin-top:10px;
	}
	.ourteam-image{
		position:relative;
		text-align:center;
		&:after{
			content:"";
			top: 0;
			@include rtl-left(0);
			@include size(100%, 80%);
			position: absolute;
			z-index: -1;
		}
		img{
			width:100%;
			border-radius: 45px;
		}
	}
	.social-link{
		@include opacity-h();
		position:absolute;
		bottom: 0;
		padding: 0;
		left:0;
		width:100%;
		@include transition(all 0.5s ease);
		z-index:2;
		background: $theme-color;
		width: 100%;
		height: 100px;
		line-height:100px;
		border-radius: 60% 60% 50px 50px;
		display: flex;
		justify-content: center;
		li{
			margin:0 7px;
			list-style:none;
			a{
				font-size:12px;
				@include square(40px);
				display:inline-block;
				line-height:42px;
				list-style:none;
				text-align:center;
				border: 1px solid rgba($white ,.5);
				@include border-radius(50%);
				color:$gray-dark;
				i{
					font-size:14px;
					color:rgba($white ,.5);
				}
				&:hover{
					border: 1px solid $white;
					i{
						color:$white;
					}
				}
			}
		}
	}
}

/************************************************************************************************
    WIDGET TITLE 
*************************************************************************************************/
.widget{
    h1.widget-title{
        font-size: 18px;
        text-transform: uppercase;
        @include rtl-padding(0, 0, 10px, 0);
        margin: 0;
    }
}
/************************************************************************************************
    WIDGET BEST SELLER 
*************************************************************************************************/
.bwp_best_seller{
    .content-best-seller{ 
        margin-top: 15px;
        .post-item{
            margin-bottom: 30px;
            border: 1px solid #f5f5f5;
            display: flex;
        }
        .item-img{
            min-width: 95px;
            img{
                width: 95px;
            }
        }
        .item-content{  
            @include rtl-padding-left(20px);
            @include rtl-padding-right(10px);
            h4{                  
                font-size: 15px;
                font-weight: 500;
                line-height: 25px;
                margin-top: 12px;
                margin-bottom: 7px;
                a{
                    color: $text-color;
                    &:hover{
                        color: $theme-color;
                    }
                }
            }
            del>.woocommerce-Price-amount{
                color: $text-color;
                font-weight: 300;
            }
            .woocommerce-Price-amount{
                color: $theme-color;
                font-weight: 500;
            }
            ins{
                color: $text-color;
                text-decoration: none;
                @include rtl-margin-left(5px);
            }
        }
    }
}

/************************************************************************************************
    WIDGET BANNER 
*************************************************************************************************/
.bwp-widget-banner{
    position: relative;
    .banners{
		.bwp-image{
			a{
				display: block;
			}
			img{
				width: 100%;
			}
		}
	}
	.link-title{
		display: block !important;
	}
    .button{
    	display: inline-block;
		@include transition(all 0.3s ease);
		&::after{
			position: relative;
			top: 1px;
			@include rtl-left(0);
			@include transition(left 0.3s ease);
		}
		&:hover{
			&::after{
				@include rtl-left(5px);  
			}
		}
    }
	&.layout-1{
		.content{
			.button{
				&:after{
					content: "\e908";
					font-family: icomoon;
					padding-left: 10px;
		
				}
			}
		}
	}
	&.layout-2{
		.bwp-image-description{
		    display: table;
		    margin: auto;
		    padding: 0 70px;
		    background: $ograne;
		    clip-path: polygon(11% 0, 100% 0%, 89% 100%, 0% 100%);
		}
		.title-banner{
			&::before{
				content: "\e90b";
				font-family: icomoon;
				@include rtl-margin-right(8px);
			}
		}
	}
	&.layout-3{
		.content{
			margin-bottom: -20px;
			.banner-wrapper-infor{
				position: relative;
				z-index: 2;
			}
			.bwp-image-description-1{
				.button{
					&:after{
						content: "\e908";
						font-family: icomoon;
						padding-left: 10px;
					}
				}
			}
			.bwp-image-subtitle{
				span{
					font-size: 80px;
					@media (max-width:$screen-sm){
						font-size: 30px;
					}
				}
			}
			.title-banner{
				position: relative;
				margin-bottom: 10px;
				@media (max-width:$screen-md-max){
					&:before{
						display: none;
					}
				}
			}
		}
	}
	&.layout-4{
		.title-banner{
			position: relative;
			@media (max-width:$screen-md-max){
				&:before{
					display: none;
				}
			}
		}
		.banner-wrapper-infor{
			position: relative;
			z-index: 2;
		}
	}
	&.layout-5{
		&:after{
			content:'';
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			position: absolute;
			background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
			 @include opacity-h();
			 @include transition(all .5s ease);
			 z-index: 1;
		}
		.title-banner{
			position: relative;
			&:before{
				content: 'new';
				position: absolute;
				left: 0;
				top: -25px;
				font-size: 12px;
				font-family: $font-family-second;
				text-transform: capitalize;
				background: #00a950;
				line-height: 1;
			    border-radius: 10px;
			    padding: 3px 28px;
			}
			@media (max-width:$screen-md-max){
				&:before{
					display: none;
				}
			}
		}
		.banner-wrapper-infor{
			position: relative;
			z-index: 2;
		}
		.bwp-image-description-1{
		    position: relative;
		    transform: translateY(25px);
		    @include opacity-h();
		    @include transition(all .5s ease);
		}
		&:hover{
			&:after{
				@include opacity-s();
			}
			.bwp-image-description-1{
				 @include opacity-s();
				 transform: translateY(0);
			}
		}
	}
	&.layout-7{
		.bwp-image-description{
			span{
				color: $theme-color;
				font-weight: 700;
				font-size: 19px;
			}
		}
		@media (max-width:$screen-xs-max){
			.bwp-image {
			img{
				min-height: 200px;
				}
			}
		}
	}
	&.layout-8{
		.button{
			min-width: 135px;
			text-align: center;
		}
		.title-banner{
			transform: rotate(-3deg);
		}
		.bwp-image-subtitle{
			transform: rotate(-4deg);
		    display: table;
		    margin: auto;
		    padding: 0 70px;
		    background: $ograne;
		    clip-path: polygon(11% 0, 100% 0%, 89% 100%, 0% 100%);
		    @media(max-width: $screen-md-max){
				padding: 0 50px;
			}
			@media(max-width: $screen-xs-max){
				 padding: 0 35px;
			}
		}
	}
	&.layout-9{
		.title-banner{
			transform: rotate(-3deg);
		}
		.banner-wrapper-infor{
			.info{
				.title-banner{
					@include rtl-margin-right(15px);
				}
			}
		}
		.bwp-image-description{
			transform: rotate(-4deg);
		    display: table;
		    margin: auto;
		    padding: 0 70px;
		    background: $ograne;
		    clip-path: polygon(11% 0, 100% 0%, 89% 100%, 0% 100%);
		}
	}
	&.banner-countdown{
		background: rgba($white, .1);
		.countdown-deal{
			.countdown-content{
					@include rtl-margin-left(50px);
				span{
					display: inline-grid;
					@include rtl-margin-right(25px);
					.countdown-amount{
						font-size: 20px;
						font-weight: 700;
						color: $gray-dark;
					}
					.countdown-text{
						font-size: 15px;
						font-weight: 700;
						color: $gray-dark;
						text-transform: uppercase;
					}
				}
				@media (max-width:$screen-xs-max){
					@include rtl-margin-left(15px);
					span{
						@include rtl-margin-right(10px);
					}
				}
			}
		}
	}
	&.banner-countdown2{
		background: rgba($white, .1);
		@media (max-width:$screen-sm-max){
			margin-top: 10px;
		}
		.countdown-deal{
			.countdown-content{
				>span{
					display:inline-block;
					position: relative;
					color:$gray-dark;
					text-transform:uppercase;
					margin:0 2.5px;
					@include square(60px);
					background:$ograne;
					@include rtl-margin-right(15px);
					text-align:center;
					&:after{
						content: '';
						position: absolute;
						@include square(3px);
						border-radius:50%;
						top: 45%;
						@include rtl-right(-10px);
						background: $gray-dark;

					}
					&:before{
						content: '';
						position: absolute;
						@include square(3px);
						border-radius:50%;
						top: 52%;
						@include rtl-right(-10px);
						background: $gray-dark;
					}
					&:last-child{
						&:after{
							display: none;
						}
						&:before{
							display: none;
						}
					}
					@media (max-width:$screen-xs-max){
						@include rtl-margin-right(10px);
						@include square(55px);
						&:after{
							@include rtl-right(-8px);
						}
						&:before{
							@include rtl-right(-8px);
						}
					}
				}
				.countdown-amount{
					font-size:17px;
					display:block;
					line-height:22px;
					color: $gray-dark;
					font-weight:700;
					margin-top:7px;
					position:relative;
					text-transform: uppercase;
					font-family:$font-family-base;
				}
				.countdown-text{
					font-size:13px;
					line-height:10px;
					font-weight:700;
					margin-top:-3px;
					margin-bottom:-1px;
					text-transform: uppercase;
					font-family:$font-family-base;
				}
			}
		}
	}
}
/************************************************************************************************
    BWP INSTAGRAM WIDGET
*************************************************************************************************/
.bwp-instagram{
	&.default{
		text-align: center;
		.instagram-title{
			background:$theme-color;
			position:absolute;
			top:0;
			height:100%;
			width:100%;
			left:0;
			display:flex;
			align-items:center;
			justify-content:center;
			h2{
				text-transform:uppercase;
				font-size:14px;
				margin:0 0 10px;
				letter-spacing:1.6px;
				position:relative;
				padding-top:115px;
				color:$white;
				&:before{
					content:"\e911";
					font-family:icomoon;
					font-size:90px;
					position:absolute;
					top:0;
					line-height:1;
					left:50%;
					@include transform(translateX(-50%));
				}
				@media (max-width:$screen-md-max){
					padding-top:80px;
					letter-spacing:0;
					&:before{
						font-size:50px;
					}
				}
			}
			.subtitle{
				font-size:16px;
				color:$white;
			}
			@media (max-width:$screen-sm-max){
				position:unset;
				padding:20px;
			}
		}
		@media (min-width:$screen-md){
			.image-instagram:nth-child(3){
				@include opacity-h();
			}
		}
		.content_instagram.row{
			margin:0;
			.image-instagram{
				padding:0;
				margin:0;
				a{
					margin:0;
				}
			}
		}
	}
    a.instagram{
        display: inline-block;
        position: relative;
        vertical-align: top;
        overflow: hidden;
        width: 100%;
        @include border-radius(10px); 
        img{
        	width: 100%;
            @include transition(transform 0.3s ease);
            @media (max-width: $screen-xs-max) {
				width: 100%;
            }
        }
        &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            background-color: rgba(#222222, 0.2);
            @include transition(opacity 0.3s ease);
            z-index: 1;
            @include border-radius(10px); 
        }
        &:after{
            content: "\f16d";
            color: #fff;
            font-family: "FontAwesome";
            font-size: 30px;
            font-weight: 400;
            position: absolute;
            top: calc(50% - 13px);
            left: 0;
            width: 100%;
            text-align: center;
            line-height: 100%;
            opacity: 0;
            visibility: hidden;
            z-index: 2;
            @include transition(opacity 0.3s ease);
        }
        &:hover{
            img{
                @include scale(1.2);
            }
            &:before, &:after{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &.slider{
		position:relative;
		&:hover{
			.slick-arrow{
				@include opacity-s();
			}
		}
		.slick-list{
			margin:0;
			img{
				border-radius: 10px;
			}
		}
		.slick-list{
			margin: 0;
			@media (min-width:$screen-sm){
				padding: 0 13.3%;
				margin: 0 -15px;
			}
			.image-instagram{
				padding: 0 15px; 
				&:not(.slick-active){
					a.instagram{
						img{
							@include opacity(.3);
						}
					} 
				}
			}
			
		}
		.slick-current{
			.item-info{
				@include opacity-s();
				margin-top:0;
			}
		}
		.slick-arrow{
			@include opacity-h();
			font-size:15px;
			font-weight:400;
			top: 50%;
			@include transform(translateY(-50%));
			&:hover{
				&.fa-angle-left, &.fa-angle-right{
					&:before{
						color: $theme-color;
					}
				}
			}
			&.fa-angle-left{
				left:90px;
				&:before{
					content: "\e908";
					font-family: "icomoon";
					@include transform(rotate(-180deg));
					display: inline-block;
					color: $gray-dark;
					font-size: 20px;
				}
			}
			&.fa-angle-right{
				right:90px;
				&:before{
					content: "\e908";
					font-family: "icomoon";
					color: $gray-dark;
					font-size: 20px;
				}
			}
			@media(max-width: $screen-md-max){
				&.fa-angle-left{
					left: 15px;
				}
				&.fa-angle-right{
					right: 15px;
				}
			}
			@media (max-width:$screen-sm-max){
				display:none !important;
			}
		}
    }
    &.slider2{
    	.slick-slider .slick-list .slick-slide{
			margin: 0;
			padding: 0;
			.image-instagram{
				padding:0; 
			}
			
		}
		a.instagram{
			@include border-radius(0);
			&:before{
				@include border-radius(0);
			}
		}
    }
	&.slider3{
		.instagram-title{
			border-bottom:1px solid $gray-light ;
			margin-bottom:25px;
			h2{
				margin:0;
				font-size:16px;
				padding-bottom:10px;
				font-weight:700;
				position:relative;
				text-transform:uppercase;  
				&:before{
					content:"";
					position:absolute;
					bottom:-1px;
					@include rtl-left(0);
					@include size(72px,2px);
					background:$theme-color;
				}
			}
		}
		.slick-list{
			margin:0 -5px;
		}
		.item-instagram{
			padding:0 5px;
		}
		a.instagram{
			margin-bottom:10px;
		}
		.image-instagram{
			&:last-child{
				a.instagram{
					margin-bottom:0;
				}
			}
		}
	}
}

/************************************************************************************************
    BWP POLICY WIDGET
*************************************************************************************************/
.bwp-policy{
    &.default{
		display:flex;
		align-items:center;
		.title-policy{
			margin:0 0 5px;
			font-size:14px;
			letter-spacing: 2px;
			font-family: $font-family-base;
		}
		.policy-icon{
			i{
				font-size:54px;
				color:$gray-dark;
				display:inline-block;
			}
			&.image{
				background: #ffad76;
				padding: 19px;
				@include border-radius(50%);
				text-align: center;
				img{
					max-width: 30px;
				}
			}
		}
		.policy-info{
			@include rtl-padding-left(20px);
		}
    }
	&.default2{
		@media (min-width:$screen-md){
			justify-content:center;
			display:flex;
			align-items:center;
			padding:0 30px;
		}
		@media (max-width:$screen-sm-max){
			justify-content:center;
		}
		&:hover{
			.policy-icon{
				i,img{
					-webkit-animation-name: zoomin2;
					animation-name: zoomin2;
					-webkit-animation-duration: 2s;
					animation-duration: 2s;
					-webkit-animation-timing-function: ease-in-out;
					animation-timing-function: ease-in-out;
					-webkit-animation-iteration-count: infinite;
					animation-iteration-count: infinite;
				}
			}
		}
		.title-policy{
			margin:0 0 5px;
			font-size:24px;
			@media (max-width:$screen-xs-max){
				font-size:20px;
			}
		}
		.desc-policy{
			font-size:16px;
		}
		.policy-icon{
			i{
				font-size:54px;
				color:$gray-dark;
				display:inline-block;
			}
			&.image{
				img{
					width:55px;
				}
			}
		}
		.policy-info{
			@include rtl-padding-left(20px);
		}
		@media (max-width:$screen-sm-max){
			padding:0 15px;
			.policy-icon.image{
				text-align:center;
			}
			.policy-info{
				@include rtl-padding-left(0);
				text-align:center;
			}
		}
    }
	&.default3{
		display:flex;
		align-items:center;
		.title-policy{
			@include rtl-padding-left(10px);
			margin:0;
			color:$white;
			font-size:12px;
			text-transform:uppercase;
			letter-spacing:3.2px;
		}
		.policy-icon {
			line-height: 1;
			i{
				font-size:28px;
				color:$white;
			}
		}
		@media (max-width:$screen-sm-max){
			.title-policy{
				font-size:10px;
				letter-spacing:2px;
			}
		}
	}
}
/************************************************************************************************
    BWP video WIDGET
*************************************************************************************************/
.bwp-widget-video {
	@media(max-width: $screen-md-max){
		.bwp-image{
			img{
				width: 100%;
			}
		}
	}
	&.default{
		position:relative;
		text-align: center;
		.content{
			position:absolute;
			top:calc(50% - 55px);
			width:100%;
		}
		.bwp-video{
			display:inline-block;
			@include square(80px);
			background:transparent;
			color:$white;
			@include border-radius(50%);
			font-size:18px;
			line-height:80px;
			text-indent:3px;
			position:relative;
			cursor: pointer;
			&:before{
				content:"";
				position:absolute;
				top:calc(50% - 40px);
				left:calc(50% - 40px);
				@include square(80px);
				border:2px solid rgba($white, 0.5);
				@include border-radius(50%);
				-webkit-animation-name: scale;
				animation-name: scale;
				-webkit-animation-duration: 2s;
				animation-duration: 2s;
				-webkit-animation-timing-function: ease-in-out;
				animation-timing-function: ease-in-out;
				-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
			}
			&:after{
				content:"";
				position:absolute;
				top:calc(50% - 40px);
				left:calc(50% - 40px);
				@include square(80px);
				border:2px solid rgba($white, 0.5);
				@include border-radius(50%);
				-webkit-animation-name: scale;
				animation-name: scale;
				-webkit-animation-duration: 2s;
				animation-duration: 2s;
				-webkit-animation-timing-function: ease-in-out;
				animation-timing-function: ease-in-out;
				-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
				animation-delay: 1s;
			}
			&:hover{
				color:$white;
				&:before,&:after{
					background:rgba($white, 0.5);
				}
			}
		}
		.content-video{
			position:fixed;
			width:100%;
			height:100%;
			top:0;
			left:0;
			display:none;
			z-index:10000;
			background:rgba($gray-dark,0.5);
			.remove-show-modal{
				position:fixed;
				top:0;
				left:0;
				width:100%;
				height:100%;
				display:none;
			}
			&.show{
				.remove-show-modal,.modal-dialog{
					display:block;
				}
			}
			.modal-dialog{
				position:absolute;
				top:50%;
				left:50%;
				@include transform(translate(-50%,-50%));
				display:none;
				width:100%;
				iframe{
					height:60vh;
					width:70vw;
				}
				@media(max-width: $screen-xs-max){
					iframe{
						height:70vh;
						width:calc(100% - 50px);
					}
				}
			}
		}
		.icon-Video{
			font-size: 70px;
			color: $theme-color;
			position: relative;
			top: 5px;
		}
		.videoThumb{
			width: 100%;
			img{
				width: 100%;
				border-radius: 10px;
			}
		}
	}
	&.default1{
		position:relative;
		text-align: center;
		.content{
			position:absolute;
			top:calc(50% - 55px);
			width:100%;
		}
		.bwp-video{
			display:inline-block;
			@include square(80px);
			background: rgba($theme-color, 0.4);
			color:$gray-dark;
			@include border-radius(50%);
			font-size:18px;
			line-height:80px;
			text-indent:3px;
			position:relative;
			cursor: pointer;
			&:before{
				content:"";
				position:absolute;
				top:calc(50% - 45px);
				left:calc(50% - 45px);
				@include square(90px);
				background: rgba($theme-color, 0.4);
				@include border-radius(50%);
				-webkit-animation-name: scale;
				animation-name: scale;
				-webkit-animation-duration: 2s;
				animation-duration: 2s;
				-webkit-animation-timing-function: ease-in-out;
				animation-timing-function: ease-in-out;
				-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
			}
			&:after{
				content:"";
				position:absolute;
				top:calc(50% - 45px);
				left:calc(50% - 45px);
				@include square(90px);
				background: rgba($theme-color, 0.4);
				@include border-radius(50%);
				-webkit-animation-name: scale;
				animation-name: scale;
				-webkit-animation-duration: 2s;
				animation-duration: 2s;
				-webkit-animation-timing-function: ease-in-out;
				animation-timing-function: ease-in-out;
				-webkit-animation-iteration-count: infinite;
				animation-iteration-count: infinite;
				animation-delay: 1s;
			}
			&:hover{
				color:$white;
				&:before,&:after{
				}
			}
		}
		.content-video{
			position:fixed;
			width:100%;
			height:100%;
			top:0;
			left:0;
			display:none;
			z-index:10000;
			background:rgba($gray-dark,0.5);
			.remove-show-modal{
				position:fixed;
				top:0;
				left:0;
				width:100%;
				height:100%;
				display:none;
			}
			&.show{
				.remove-show-modal,.modal-dialog{
					display:block;
				}
			}
			.modal-dialog{
				position:absolute;
				top:50%;
				left:50%;
				@include transform(translate(-50%,-50%));
				display:none;
				iframe{
					height:60vh;
					width:calc(100vw - 50px);
				}
				@media(max-width: $screen-xs-max){
					width: 100%;
				}
			}
		}
		.icon-Video{
			font-size: 70px;
			color: $white;
			position: relative;
			top: 5px;
		}
		.videoThumb{
			width: 100%;
			img{
				width: 100%;
			}
		}
	}
}