/* Woocommerce Product Detail --------------------------------------*/
.margin-22 {
    margin-bottom: 22px !important;
}
/* Price */
.price {
    line-height: 24px;
    font-size: 18px;
    color: $product-price-color;
    ins {
        text-decoration: none;
		color: $theme-color;
    }
    del {
        span {
            text-decoration: line-through;
        }
    }
}

/* Product name */
.product-name a {
    @include font-size(font-size, $product-name-font-size);
    line-height: $product-name-line-height;
    font-weight: $product-name-font-weight;
	color:$text-color;
}
.contents-detail .images .woocommerce-main-image {
    img{
        display: block;
        width: 100%;
        height: auto;
        box-shadow: none;
    }
    .owl-buttons{
        .carousel-control{
            background: #fff;
        }
    }
}
/* Product item container */


.no-sidebar-left,
.no-sidebar-right{
    // 4 Product
    .col-lg-3,
    .col-md-3{
        .product-grid{

        }
    }
    // 6 Product
    .col-lg-2,
    .col-md-2{
        .product-grid{
            .onsale,
            .button-groups,
            .category,
            .price,
            .rating {
                @extend .hidden;
            }
        }
    }
}
.products{
    display: flex;
    flex-wrap: wrap;
       
    /*  Product List ------------------------------------*/
    .product-list{
        border: 1px solid $border-color;
        margin-bottom: 20px;
        background: $white;
        img{
            height: auto;
        }
        .button-groups{
            @include rtl-text-align-right;
            > div, a{
                margin-top: 0;
                padding: 0;
                margin-top: 0;
                margin-bottom: $padding-lg-vertical;
                display: block;
                border: none;
            }
            a{
                width: auto;
                height: auto;
                text-transform: capitalize;
                &:focus, &:active, &:hover{
                    background: $nocolor!important;
                    color: $theme-color;
                }
            }
            .button{
                display: block;
                text-transform: uppercase;
            }
            .fa,.icon{
                margin-right: 6px!important;
                @include font-size(font-size,$product-icon-font-size);
            }
            .feedback{
                @extend .hidden;
            }
        }
        .rating{
            margin-bottom: $padding-lg-vertical;
            @include clearfix();
            .star-rating{
                @include rtl-float-right;
            }
        }

        .price{
            margin-bottom: 10px;
            @include rtl-text-align-right;
            ins{
                @include rtl-text-align-right;
            }
            > *{
                width: inherit;
            }
        }
        .description{
            text-align: justify;
        }
        .product-assets{
            .name{
                display: none;
            }
            @include rtl-margin(20px, 20px, 0, 0);
            text-align: right;
            a{
                background: none!important;
                text-align: right;
                color: $text-color;
                font-size: $font-size-base;
                font-weight: 300;
                &:hover, &:focus, &:active{
                    background: none!important;
                    color: $theme-color;

                }
            }
            .btn-cart, .btn-cart a{
                background: none;
                &:after, &:before{
                    content: none!important;
                }    
            }
        }  
    }
}

/* Product Info ---------------------------------------------*/
.product-info{
    padding-bottom: 30px;
    .product-title{
        @include font-size(font-size,$single-product-title-font-size);
        line-height: $single-product-title-line-height;
        font-weight: $single-product-title-font-weight;
        margin: $single-product-title-margin;
        text-transform: $single-product-title-transform;
    }
    .woocommerce-main-image{
        margin-bottom: 5px;
        width: percentage(1);
        display: block;
        border: 1px solid $border-color;
    }
    .summary{
       @include font-size(font-size, $single-product-summary-font-size);
        .product_meta{
            clear: both;
            color: $black;
            margin-top: 0;
            padding: 10px 0 5px;
            a{
                color: #a0a0a0;
                &:hover{
                    color: $theme-color;
                    text-decoration: none;
                }
            }
            > div{
                margin-bottom:  $theme-margin / 2;
            }
        }
    }
    .single-product-description{
        margin-bottom: 22px;
    }
    .out-of-stock{
        display: none;
    }
    .label{
        color: $black;
        display: table-cell;
        padding: 0;
        vertical-align: middle;
        font-size: $font-size-base;
        @include rtl-text-align-right();
    }
    .addthis{
        @include rtl-clear-left();
        overflow: hidden;
        padding: $theme-padding 0;
        min-height: 60px;
        border-top: 1px solid $border-color;
        margin-top: 10px;
    }
    .rating{
        @include clearfix();
        margin-bottom: $theme-margin;
        > *{
            @include rtl-float-left();
        }
        .star-rating{
            margin-top:  $theme-margin / 2;
            @include rtl-margin-right(10px);
        }
    } 
    .cart{
        @include rtl-float-left();
        >div{
            @include rtl-float-left();
        }
        .cart-number{
            padding: 0 0 $theme-padding 0;
            @include clearfix();
            > *{
                @include rtl-float-left();
            }
        }
        .qty{
            width: 60px;
            padding: 0;
            text-align: center;
            color: $black;
            font-weight: 400;
        }
        .button{
            margin-bottom: 10px;
            .fa,[class^="icon-"], [class*=" icon-"]{
                @extend .hidden;
            }
        }
        .add-cart{

            margin-left: 10px;
        }
        >a.add_to_cart_button, .add-cart button{
            @include transition(all 0.35s);
            text-transform: uppercase;
            @include font-size(font-size, 11px);
            position: relative;
            height: 38px;
            line-height: 36px;
            padding: 0 35px;
            display: block;
            font-weight: $headings-font-weight;
            @include border-radius(4px);
            @extend .btn-link;
            border: 1px solid $black;
            background: $black;
            color: $white; 
            &:active, &:focus, &:hover{
                border-color: $theme-color;
                background: $theme-color;  
                color: $white; 
                text-decoration: none;
            }
            
        }
        > a.single_add_to_cart_button{
            @include rtl-float-left();
            display: inline-block;
        } 
    }
    .table-product-group{
        width: 100%;
        clear: both;
        td{
            vertical-align: middle;
        }
        .add_cart{
            margin-left: 0;
        }
        .price{
            padding: 5px;
        }
        .cart-number{
            padding: 0;
        }
        .label label{
            font-weight: 300;
        }
        .price{
            display: inline-block!important;
            border: none;
            line-height: 50px;
            del{
                float: right;
                margin-top: 5px;
            }
            ins{
                float: left;
                margin-right: 5px;
            }
        }
    }
    .button-action{
        color: #aaaaaa;
        font-weight: 900;
        text-transform: uppercase;
        @include font-size(font-size, 11px);
        position: relative;
        height: 38px;
        line-height: 36px;
        padding: 0 35px;
        display: inline-block;
        font-weight: $headings-font-weight;
        @include border-radius(4px);
        @extend .btn-link;
        border: 1px solid $border-color;
        &:focus, &:hover{
            border-color: $theme-color;
            background: $theme-color;  
            color: $white; 
            text-decoration: none;
        }
    }
    .clear{
        display: none;
    }
    .price{
        display: table;
        color: $single-new-price-color;
        font-weight: $single-new-price-font-weight;
        @include font-size(font-size,$single-new-price-font-size);
        padding: 5px 0 10px;
        line-height: 30px;
        > *{
            display: table-cell;
            vertical-align: middle;
        }
        del{
            padding-top: 10px;
            line-height: 20px;
            span{
                color: $black;
                @include rtl-margin-right(10px);
            }
        }
    }
    .onsale{
        @include rtl-left(32px);
    }
}
    
/* Product Category and Subcategories ------------------------*/
    .product-category{
        .product-category-content{
            position: relative;
            overflow: hidden;
            min-height: $product-category-content-height;
            margin: $product-category-content-margin;
        }
        .product-category-image{
            display: block;
            img{
                @include img-responsive();
            }
        }
        .product-category-title{
            text-transform: none;
            position: absolute;
            text-align: center;
            bottom: 0;
            @include rtl-left(0);
            width: 100%;
            font-weight: $product-category-title-font-weight;
            @include font-size(font-size,$product-category-title-font-size);
            color: $product-category-title-color;
            margin: $product-category-title-margin;
            padding: $product-category-title-padding;
            background: rgba($product-category-title-bg, .3);
            .count{
                background: transparent;
                color: $product-category-title-color;
            }
        }
    }

/*  Bingo Product List---------------------------------------------*/
    .woo-default-2,&.woo-slider-default{
        .title-block{
            margin-bottom: 42px;
            h2{
                display: inline-block;
                font-size: 25px;
                color: $gray-dark;
                margin: 0;
            }
        }
        .products-list.grid{
			margin: -10px;
			.slick-list{
				padding:10px;
			}
            .product-wapper{
                display: flex;
                margin-bottom: 20px;
                padding: 10px;
				@media(max-width:$screen-sm-max)and(min-width:$screen-sm){
					display:block;
				}
                .products-thumb{
                    margin: 0;
                    max-width: 120px;
					flex: 0 0 50%;
                    @media (max-width: $screen-md-max)and(min-width:$screen-md){
                        max-width: 90px;
                    }
                    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
                        max-width: 200px;
						flex: 0 0 30%;
                    }
                    @media (min-width: 1550px){
                        max-width: 170px;
                    }
                    .product-thumb-hover{
                        overflow: hidden;
                    }
                }
                .products-content{
                    padding-top: 15px;
                    @include rtl-text-align-left();
                    @include rtl-padding-left(30px);
					padding-bottom:0;
					@media(max-width:$screen-md-max)and(min-width:$screen-md){
						padding-top:0;
					}
                    @media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
                        @include rtl-padding-left(15px);
                        padding-top: 15px;
						padding-bottom:15px;
						text-align:center;
                    }
                    h3.product-title{
                        margin-bottom: 10px;
                        a{
                            line-height: 24px;
                        }
                    }
                    .price{
                        padding: 0;
                        &:before{
                            display: none;
                        }
                    }
                    .star-rating{
                        margin: 0;
						@media(min-width: $screen-sm) and (max-width: $screen-sm-max){
							margin:auto;
						}
                    }
					.add_to_cart_button, 
					.added_to_cart,
					.product_type_external,
					.product_type_variable,
					.read_more{
						display:none;
					}
                }
                .product-button{
                    display: none;
                }
                .onsale, .hot{
                	display: none;
                }
				&:hover{
					.rating{
						@include opacity-s();
					}
				}
            }
        }
    }
	.woo-slider-default-2{
		.content-product-list{
			.slick-slider{
				overflow:unset;
			}
		}
		.title-block{
            margin-bottom: 30px;
			display:flex;
            h2{
                display: inline-block;
                font-size: 35px;
                color: $gray-dark;
                margin: 0; 
                padding-bottom: 37px;
                background: url('#{$image-theme-path}bottom-2.png') left bottom no-repeat;
				flex:1 25%;
            }
			.page-description{
				flex: 1 100%;
			}
        }
	}
	.woo-slider-default {
		position:relative;
        .content-product-list{
			.slick-arrow{
				top: 4px;
				right: 0;
				@include square(22px);
				line-height: 22px;
				font-size: 12px;
				color: $white;
				background: $theme-color;
				&.fa-angle-left{
					right: 30px;
					left: auto;
				}
				&:hover{
					color:$theme-color;
					background:$white;
				}
			}
        }
    }
	.woo-slider-2{
		.content-product-list{
			.products-list.grid{
				.slick-list{
				}
			}
			.slick-slider{
				overflow:unset;
			}
			.slick-arrow{
				background:$white;
				border-color:$theme-color;
				top:calc(50% + 30px);
				opacity:0;
				right:0;
				left:auto;
				&.fa-angle-left{
					right:auto;
					left:0;
				}
				&:hover{
					border-color:$theme-color;
					background:$theme-color;
					color:$white;
				}
			}
			&:hover{
				.slick-arrow{
					opacity:1;
					right:-60px;
					&.fa-angle-left{
						right:auto;
						left:-60px;
					}
				}
			}
		}
	}
    .bwp-woo-slider {
        .content-product-list{
            position: relative;
        }
        .banner-block{
            overflow: hidden;
            img{
                backface-visibility: hidden;
                filter: alpha(opacity=100);
                @include transition( opacity 1s ease 0s, transform 1s ease 0s);
            }
            &:hover{
                img{
                    filter: alpha(opacity=80);
                    transform: scale3d(1.1, 1.1, 1);
                }
            }
        }
    }
/************************************************************************************************
    LIST PROCDUCT  
*************************************************************************************************/
.bwp_product_list{
	@media (max-width:$screen-md-max){
		.slick-list{
			margin:0 -7.5px;
			.item-product{
				padding:0 7.5px;
			}
		}
		.row{
			margin:0 -7.5px;
			.item-product{
				padding:0 7.5px;
			}
		}
	}
	.content-button{
		text-align: center;
		.btn-all a{
			display: inline-block;
			line-height: 50px;
			padding: 0 38px;
            border-radius:25px;
			font-size: 14px;
            background: $theme-color;
            color: $white;
			font-weight: 700;
            text-transform: uppercase;
			@include transition(all .3s ease);
			&:hover{
                background: $orange;	
            }
		}
		@media(max-width: $screen-xs-max){
			.btn-all a{
				padding: 0 30px;
			}
		}
	}
	&.scroll{
		margin:0 -15px;
		position:relative;
		.product-content{
			.item-product{
				padding:0 15px;
                margin-top: 5px;
			}
		}
        @media(max-width: $screen-md-max){
            margin:0 -7.5px;
            .product-content{
                .item-product{
                    padding:0 7.5px;
                }
            }
        }
		.scrollbar{
            margin: 20px auto;
            max-width: 1290px;
            overflow: hidden;
			height: 2px;
			background: $white;
			line-height: 0;
			cursor: pointer;
            @media(max-width: $screen-md-max){
                margin: 20px 10px;
            }
			.handle{
				background: $gray-dark;
				height: 3px;
				position: relative;
				top: -1px;
			}
			.mousearea{
				position: absolute;
				top: -30px;
				left: 0;
				width: 100%;
				height: 20px;
				font-size: 12px;
				text-transform: uppercase;
				color: $gray-dark;
				white-space: nowrap;
				line-height:20px;
				font-weight:600;
				i{
					font-size:16px;
					line-height:20px;
					position:relative;
					top:3px;
					@include rtl-margin-left(5px);
				}
				&:hover{
					color:$theme-color;
				}
			}
             @media (max-width: $screen-xs){
                margin: 20px 10px 0;
            }
		}
		.controls{
			button{
				position:absolute;
				top:33%;
				@include square(33px);
				background:transparent;
				border:1px solid $gray-dark;
				cursor:pointer;
				@include border-radius(0);
				color:$gray-dark;
				&.prev{
					@include rtl-left(0);
				}
				&.next{
					@include rtl-right(0);
				}
				&.disabled{
					cursor:no-drop;
					opacity:1;
				}
				&:hover{
					background:$gray-dark;
					color:$white;
				}
			}
		}
		@media (max-width:$screen-md-max) and (min-width:$screen-sm-max){
			margin:0 -7.5px;
		}
	}
    &.scroll-1{
        margin:0 -15px;
        position:relative;
        .product-content{
            .item-product{
                padding:0 15px;
                margin-top: 5px;
            }
        }
        @media(max-width: $screen-md-max){
            margin: 0 -7.5px;
            .product-content{
                .item-product{
                    padding:0 7.5px;
                }
            }
        }
        .scrollbar{
            margin: 20px 15px 0;
            overflow: hidden;
            height: 2px;
            background: #f5f5f5;
            line-height: 0;
            cursor: pointer;
            .handle{
                background: $theme-color;
                height: 3px;
                position: relative;
                top: -1px;
            }
            .mousearea{
                position: absolute;
                top: -30px;
                left: 0;
                width: 100%;
                height: 20px;
                font-size: 12px;
                text-transform: uppercase;
                color: $gray-dark;
                white-space: nowrap;
                line-height:20px;
                font-weight:600;
                i{
                    font-size:16px;
                    line-height:20px;
                    position:relative;
                    top:3px;
                    @include rtl-margin-left(5px);
                }
                &:hover{
                    color:$theme-color;
                }
            }
        }
        .controls{
            button{
                position:absolute;
                top:33%;
                @include square(33px);
                background:transparent;
                border:1px solid $gray-dark;
                cursor:pointer;
                @include border-radius(0);
                color:$gray-dark;
                &.prev{
                    @include rtl-left(0);
                }
                &.next{
                    @include rtl-right(0);
                }
                &.disabled{
                    cursor:no-drop;
                    opacity:1;
                }
                &:hover{
                    background:$gray-dark;
                    color:$white;
                }
            }
        }
        @media (max-width:$screen-md-max) and (min-width:$screen-sm-max){
            margin:0;
        }
    }
    &.slider{
        .slick-slider{
            overflow: unset;
        }
    }
	&.slider1{
        .slick-slider{
            overflow: unset;
        }
        .item-product{
            padding-top: 10px;
        }
        .content-product-list{
            position:relative;
            .slick-arrow{
                background: $white;
                line-height:45px;
                @include square(45px);
                border-radius: 50%;
                color: #a2a2a2;
                font-size:17px;
                font-weight: 600;
                @include box-shadow( 0px 1px 3px 3px rgba(0, 0, 0, 0.2));
                &:hover{
                    background: $theme-color;
                    color: $white;
                }
                &.fa-angle-left{
                    left: -70px;
                }
                &.fa-angle-right{
                    right: -70px;
                }
                @media(max-width: $screen-md-max){
                    &.fa-angle-left{
                        left:0;
                    }
                    &.fa-angle-right{
                        right:0;
                    }
                }
            }
            &:hover{
                .slick-arrow{
                    @include opacity-s();
                }
            }
        }
        .slick-dots{
            margin-top:-10px;
        }
    }
	&.slider2{
        .slick-slider{
            overflow: unset;
        }
        .item-product{
            padding-top: 10px;
        }
        @media(max-width:$screen-md-max){
            .content-product1{
                margin-bottom: 15px;
            }
        }
        .content-product-list{
            position:relative;
            .slick-arrow{
                background: $white;
                line-height:45px;
                @include square(45px);
                border-radius: 50%;
                color: #a2a2a2;
                font-size:17px;
                font-weight: 600;
                @include box-shadow( 0px 1px 3px 3px rgba(0, 0, 0, 0.2));
                &:hover{
                    background: $theme-color;
                    color: $white;
                }
                &.fa-angle-left{
                    left: -70px;
                }
                &.fa-angle-right{
                    right: -70px;
                }
                @media(max-width: $screen-md-max){
                    &.fa-angle-left{
                        left:0;
                    }
                    &.fa-angle-right{
                        right:0;
                    }
                }
            }
            &:hover{
                .slick-arrow{
                    @include opacity-s();
                }
            }
        }
        .slick-dots{
            margin-top:-10px;
            li{
                button{
                    &:before{
                        @include opacity-h();
                    }
                }
            }
        }
    }
    &.default2{
        .products-list.grid .product-wapper{
             @media(max-width:$screen-sm-max){
                margin: 0 0 50px;
            } 
            .products-content{
                flex: 1;
                margin-top: 0;
                @include rtl-text-align-left();
                color: $gray-light;
                h3.product-title{
                    margin-top: 0;
                    margin-bottom:0;
                    font-size: 18px;
                    position: relative;
                    padding:0 20px 0 0 ;
                    z-index: 3;
                    background: $white;
                }
                .product-top{
                    display: flex;
                    align-items: baseline;
                    justify-content: space-between; 
                    @media(max-width:$screen-xs){
                        display: block;
                    }          
                }
                .mkd-pli-dots{
                    border:1px dashed #939393;
                    width: 100%;
                    position:absolute;
                    top: 15px;
                    @include rtl-left(0);
                    z-index: 1;
                }
                .product-attribute{
                    display: none;
                }
                .post-excerpt{
                    color: #5a5a5a;
                    max-width: 60%;
                    font-weight: 500;
                    font-size: 14px;
                }
                .price{
                    color: $gray-dark;
                    z-index: 2;
                    padding:0 0 0 20px ;
                    background: $white;
                     ins {
                        color: $gray-dark;
                    }
                }
                @media(max-width:$screen-xs){
                    h3.product-title{
                        padding: 0;
                    }
                    .price{
                        padding: 0;
                        font-size: 18px;
                    }
                    .mkd-pli-dots{
                        border: 0;
                    }
                    .post-excerpt{
                        max-width: 100%;
                    }
                } 
            }
            .product-lable{
                position:absolute;
                top:-25px;
                @include rtl-left(0);
                .onsale,.hot{
                    @include size(80px, 18px);
                    line-height: 18px;
                    border-radius:10px;
                    &:empty{
                        display:none;
                    }
                }
            }
        }
    }
     &.default3{
        .products-list.grid .product-wapper{
            .products-content{
                flex: 1;
                margin-top: 0;
                @include rtl-text-align-left();
                color: $gray-light;
                h3.product-title{
                    margin-top: 0;
                    margin-bottom:0;
                    font-size: 18px;
                    z-index: 3;
                    background: $gray-dark;
                    padding:0 20px 0 0 ;
                   a{
                     color: $white;
                   }
                }
                .product-top{
                    display: flex;
                    align-items: baseline;
                    justify-content: space-between;
                    @media(max-width:$screen-xs){
                        display: block;
                    }        
                }
                .mkd-pli-dots{
                    border-top:1px dashed #686868;
                    width: 100%;
                    position:absolute;
                    top: 15px;
                    @include rtl-left(0);
                    z-index: 1;
                }
                .product-attribute{
                    display: none;
                }
                .post-excerpt{
                    color: #5a5a5a;
                    max-width: 60%;
                }
                .price{
                    color: $theme-color;
                    padding:0 0 0 20px ;
                    z-index: 3;
                    background: $gray-dark;
                     ins {
                        color: $theme-color;
                    }
                }
                @media(max-width:$screen-xs){
                    h3.product-title{
                        padding: 0;
                    }
                    .price{
                        padding: 0;
                    }
                    .mkd-pli-dots{
                        border: 0;
                    }
                    .post-excerpt{
                        max-width: 100%;
                    }
                } 
            }
            .product-lable{
                position:absolute;
                top:-25px;
                @include rtl-left(0);
                .onsale,.hot{
                    @include size(80px, 18px);
                    line-height: 18px;
                    border-radius:10px;
                    &:empty{
                        display:none;
                    }
                }
            }
        }
    }
    &.default4{
        .products-list.grid .product-wapper{
             @media(max-width:$screen-sm-max){
                margin: 0 0 50px;
            } 
            .products-content{
                flex: 1;
                margin-top: 0;
                @include rtl-text-align-left();
                color: $gray-light;
                h3.product-title{
                    margin-top: 0;
                    margin-bottom:0;
                    font-size: 18px;
                    position: relative;
                    z-index: 3;
                    padding:0 20px 0 0 ;
                    background: #f5f4ef;
                }
                .product-top{
                    display: flex;
                    align-items: baseline;
                    justify-content: space-between; 
                    @media(max-width:$screen-xs){
                        display: block;
                    }          
                }
                .mkd-pli-dots{
                    border:1px dashed #939393;
                    width: 100%;
                    position:absolute;
                    top: 15px;
                    @include rtl-left(0);
                    z-index: 1;
                }
                .product-attribute{
                    display: none;
                }
                .post-excerpt{
                    color: #5a5a5a;
                    max-width: 60%;
                    font-weight: 500;
                    font-size: 14px;
                }
                .price{
                    color: $gray-dark;
                    padding:0 0 0 20px ;
                    z-index: 2;
                    background: #f5f4ef;
                     ins {
                        color: $gray-dark;
                    }
                }
                @media(max-width:$screen-xs){
                    h3.product-title{
                        padding: 0;
                    }
                    .price{
                        padding: 0;
                    }
                    .mkd-pli-dots{
                        border: 0;
                    }
                    .post-excerpt{
                        max-width: 100%;
                    }
                } 
            }
            .product-lable{
                position:absolute;
                top:-25px;
                @include rtl-left(0);
                .hot, .onsale{
                    @include size(80px, 18px);
                    line-height: 18px;
                    border-radius:10px;
                    &:empty{
                        display:none;
                    }
                }
            }
        }
    }
	&.load_more{
		.products_loadmore{
			.btn.loadmore{
				color: $gray-dark;
				overflow:hidden;
				margin: 0;
                @include square(80px);
                border-radius: 50%;
				background: transparent;
				border: 1px solid #dddddd;
                position: relative;
				span{
					animation: none;
					font-size: 20px;
					color: #767676;
					display: inline-block;
					text-transform: inherit;
					position: relative;
                    transform: rotate(90deg);
                    position: absolute;
                    left: calc(50% - 10px);
                    top: calc(50% - 11px);
				}
				&.loading{
					&:before{
						display:none;
					}
                    .lds-ring {
                        display: inline-block;
                        position: relative;
                        width: 80px;
                        height: 80px;
                      }
                      .lds-ring div {
                        box-sizing: border-box;
                        display: block;
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        margin: 8px;
                        border: 5px solid transparent;
                        @include border-radius(50%);
                        top: 20%;
                        right: 68%;
                        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
                        border-color: $theme-color transparent transparent transparent;
                      }
                      .lds-ring div:nth-child(1) {
                        animation-delay: -0.45s;
                      }
                      .lds-ring div:nth-child(2) {
                        animation-delay: -0.3s;
                      }
                      .lds-ring div:nth-child(3) {
                        animation-delay: -0.15s;
                      }
					span{
						@include opacity-h();
					}
				}
				&:before{
					display: none;
				}
				&:hover{
                    border:1px solid $theme-color;
					background: $theme-color;
                    .lds-ring div{
                        border-color: $white transparent transparent transparent;
                    }
					.lds-spinner div:after {
						background: $white;
					}
					span{
						color: $white;
					}
					i{
						color: $white;
					}
				}
			}
		}
	}
}
/************************************************************************************************
    RELATE PROCDUCT  
*************************************************************************************************/
.related, .cross_sell, .upsells{
	position: relative;
    margin-top: 50px;
	max-width:1440px;
	padding:0 15px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
    .title-block{
		text-align:center;
		 margin-bottom: 50px;
        h2{
            font-size: 28px;
			color:$gray-dark;
            margin: 0;
			display:inline-block;
			position:relative;
			padding-bottom:15px;
			&:before{
				content:"";
				@include size(30%,2px);
				background:$theme-color;
				position:absolute;
				left:50%;
				@include transform(translateX(-50%));
				bottom:0;
			}
			@media (max-width:$screen-xs-max){
				font-size:25px;
			}
        }
    }
	.content-product-list{
		position:relative;
		&:hover{
			.slick-arrow{
				@include opacity-s();
			}
		}
		.slick-arrow{
			@include square(35px);
			line-height:35px;
			font-size:12px;
			color:$white;
            @include border-radius(50%);
			top:38%;
			background: $theme-color;
            @include box-shadow(0px 6px 14px 0 rgba($gray-dark, .25));
			&.fa-angle-left{
				@include rtl-left(-15px);
			}
			&.fa-angle-right{
				@include rtl-right(-15px);
			}
			&:hover{
				background:darken($text-color,10%);
				color: $white;
			}
			@media (max-width:$screen-xs-max){
				&.fa-angle-left{
					@include rtl-left(0);
				}
				&.fa-angle-right{
					@include rtl-right(0);
				}
			}
		}
		.products-list.grid{
			margin:-15px;
			.slick-list{
				padding:15px;
			}
			.product-wapper{
				margin: 0 15px;
			}
			@media (max-width:$screen-md-max){
				margin:-15px -7.5px;
				.slick-list{
					padding:15px 7.5px;
				}
				.product-wapper{
					margin: 0 7.5px;
				}
			}
		}
	}
    .product-container{ margin: 0; }
}

/************************************************************************************************
    QUICK VIEW PRODUCT
*************************************************************************************************/
.bwp-quick-view{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: inline-block;
    background: rgba(0,0,0,.5);
    opacity: 0;
    visibility : hidden;
    @include transition(all 0.8s ease-in-out);
    &.active{
        opacity: 1;
        visibility : visible;
    }
    .quickview-container{
        position : fixed;
        z-index: 10;
        left : 50%;
        top: 50%;   
        @include translate(-50%,-50%);
		.variations_form .variations td.label{
			display:block;
		}
        .quickview-close{
            text-align: center;
            position: absolute;
            cursor: pointer;
            top : 15px;
            right: 10px;
			color:$gray-dark;
			z-index:10000;
			@include square(36px);
			border: 9px solid transparent;
			@include border-radius(100%);
			&:after{
				content: '';
				position: absolute;
				height: 2px;
				width: 100%;
				top: 50%;
				left: 0;
				margin-top: -1px;
				background-color: rgba($gray-dark,0.5);
				transform-origin: 50% 50%;
				@include transform(rotate(45deg));
				@include transition(all 0.3s ease);
			}
			&:before{
				content: '';
				position: absolute;
				height: 2px;
				width: 100%;
				top: 50%;
				left: 0;
				margin-top: -1px;
				background-color: rgba($gray-dark,0.5);
				transform-origin: 50% 50%;
				@include transform(rotate(-45deg));
				@include transition(all 0.3s ease);
			}
            &:hover{
				background:#e5e5e5;
				&:after,&:before{
					@include transform(rotate(0deg));
				}
            }
        }
		.size-guide > .title-size-guide{
			position:unset;
			margin:0;
		}
		.img-quickview{
			width:55%;
			.nuna-360-button{
				display:none;
			}
			.slick-arrow{
				top:calc(50% - 10px);
				font-size:20px;
				&.fa-angle-left{
					left:15px;
				}
				&.fa-angle-right{
					right:15px;
				}
			}
			&:hover{
				.slick-arrow{
					@include opacity-s();
				}
			}
		}
        .bwp-single-info{
			width:45%;
			padding:0 45px;
            .quantity{
                @include rtl-margin-right(10px);
				display:block !important;
				visibility: visible !important;
            }
			.woocommerce-variation-price, .woocommerce-variation-availability{
				display:block !important;
				visibility: visible !important;
			}
			.description{
				margin-bottom:15px;
			}
			.content_product_detail{
				max-height: 485px;
				padding-right:8px;
				overflow-x: hidden;
				&::-webkit-scrollbar-track
				{
					background-color: #F5F5F5;
				}

				&::-webkit-scrollbar
				{
					width: 5px;
					background-color: #F5F5F5;
				}

				&::-webkit-scrollbar-thumb
				{
					background-color: rgba($gray-dark, 0.1);
				}
			}
        }
        .quickview-slick{
            ul.slick-dots{
                position: initial;
                margin-top: 10px;
            }
            .slick-arrow{display: none !important;}
        }  
        .product_detail{
            overflow: hidden;
            display: block;
            background: $white;
            color: $text-color;
            max-width : 1000px;
            .product_meta{
                #report_abuse_form{
                    padding:0;
                    box-shadow:none;
                }
            }
			>.row{
				margin:0;
				align-items:center;
			}
			&::-webkit-scrollbar
			{
				width: 5px;
			}
			&::-webkit-scrollbar-thumb
			{
				background-color: rgba($gray-dark, 0.1);
			}
        }
        .woocommerce-message{
            display : none;
        }   
        .woocommerce-product-rating{
            display:flex;
        }
		.slick-dots{
			position:absolute;
			bottom:35px;
			li{
				@include square(8px);
				@include border-radius(50%);
				button{
					@include square(8px);
					@include border-radius(50%);
					&:before{
						display:none;
					}
				}
			}
		}
		.slick-track{
			display:flex;
		}
		.slick-list{
			display:flex;
		}
		.slider_img_productd{
			.img-thumbnail{
				border:0;
				display: inline-block;
				float: unset;
			}
			.video-additional{
				display: inline-flex;
				float: unset;
				height:100%;
				iframe{
					width:100%;
					height:100%;
				}
			}
			.col-sm-12{
				padding:0;
				.slick-arrow{
					@include square(25px);
					line-height:25px;
					@include opacity-h();
					background:transparent;
					top:calc(50% - 12.5px);
					border:0;
					color:$gray-dark;
					font-size:22px;
					&:hover{
						color:$theme-color;
						background:transparent;
					}
					&.fa-angle-right{
						right:15px;
					}
					&.fa-angle-left{
						left:15px;
					}
				}
				&:hover{
					.slick-arrow{
						@include opacity-s();
					}
				}
			}
		}
    }
} 
.scroll-image{
	position:relative;
}
.content-product-360-view{
	position:fixed !important;
	top:0;
	left:0;
	z-index:99999;
	height:100%;
	width:100%;
	background:rgba($gray-dark,0.8);
	align-items:center;
	display:none;
	&.active{
		display:flex;
	}
	.product-360-view{
		width:calc(100% - 30px) !important;
		max-width:700px;
		height:auto !important;
		padding:30px;
		background:$white;
		.nuna-360-button{
			top:10px;
			bottom:auto;
			right:10px;
			background:$white;
			padding:0;
			@include box-shadow(unset);
			border:1px solid $gray-lighter;
			@include square(35px);
			line-height:33px;
			text-align:center;
			margin:0;
			@include square(28px);
			padding: 6px;
			border:1px solid #d6d6d6;
			@include border-radius(100%);
			&:after{
				content: '';
				position: absolute;
				height: 2px;
				width: 12px;
				top: 50%;
				left:calc(50% - 6px);
				margin-top: -1px;
				background-color: rgba($gray-dark,0.5);
				transform-origin: 50% 50%;
				@include transform(rotate(45deg));
				@include transition(all 0.3s ease);
			}
			&:before{
				content: '';
				position: absolute;
				height: 2px;
				width: 12px;
				top: 50%;
				left:calc(50% - 6px);
				margin-top: -1px;
				background-color: rgba($gray-dark,0.5);
				transform-origin: 50% 50%;
				@include transform(rotate(-45deg));
				@include transition(all 0.3s ease);
			}
			&:hover{
				background:#e5e5e5;
				&:after,&:before{
					@include transform(rotate(0deg));
				}
			}
		}
		.images-list{
			padding:0;
			list-style:none;
			cursor: grab;
			.images-display{
				display:none;
				&.active{
					display:block;
				}
			}
		}
		.navigation-bar-wrapper{
			position:absolute;
			width:calc(100% - 60px);
			bottom:60px;
			.navigation-bar{
				max-width:150px;
				margin:auto;
				display:flex;
				background:$white;
				padding:5px 10px;
				@include border-radius(25px);
				@include box-shadow( 0px 1px 12px 2px rgba(144, 144, 144, 0.3));
				text-align: center;
				>*{
					flex:1;
					cursor:pointer;
					color:$gray-dark;
					font-size:18px;
					font-family:FontAwesome;
					text-align:center;
					&:hover{
						color:$theme-color;
					}
				}
			}
			.navigation-bar-previous{
				&:before{
					content:"\f048";
				}
			}
			.navigation-bar-next{
				&:before{
					content:"\f051";
				}
			}
			.navigation-bar-play{
				&:before{
					content:"\f04b";
				}
				&.navigation-bar-stop{
					&:before{
						content:"\f04d";
					}
				}
			}
		}
		.loading-spinner{
			display: block;
			position: absolute;
			z-index: 10000;
			background: $white;
			opacity: 0.5;
			&:after{
				display: block;
				background-image: url("images/icons/loading.gif");
				background-size: contain;
				content: '';
				width: 50%;
				height: 50%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				z-index: 100001;
			}
		}
		@media (max-width:$screen-sm-max){
			max-width:500px !important;
		}
		@media (max-width:$screen-xs){
			padding:15px;
			.nuna-360-button{
				top:5px;
				right:5px;
				@include square(30px);
				line-height:24px;
				i{
					font-size:18px;
				}
			}
			.navigation-bar-wrapper{
				bottom:20px;
				width: calc(100% - 30px);
			}
		}
	}
}
.nuna-360-button{
	position:absolute;
	bottom:15px;
	@include rtl-left(15px);
	@include square(35px);
	background:rgba($theme-color, .5);
	line-height:35px;
	color:$white;
	@include border-radius(50%);
	font-size: 0;
	font-weight:500;
	z-index:9993;
	cursor:pointer;
	text-align: center;
	i{
		font-size:20px;
		line-height:1;
		display:inline-block;
		vertical-align:middle;
		margin-right: 0;
	}
	&:hover{
		color:$white;
		background: $theme-color;
	}
}
.zoomContainer{
	z-index:999 ;
}