@font-face{
  font-family:icomoon;
  src:url(../fonts/icomoon.eot?fzv6fp);
  src:url(../fonts/icomoon.eot?fzv6fp#iefix) format("embedded-opentype"),url(../fonts/icomoon.ttf?fzv6fp) format("truetype"),url(../fonts/icomoon.woff?fzv6fp) format("woff"),url(../fonts/icomoon.svg?fzv6fp#icomoon) format("svg");
  font-weight:400;
  font-style:normal;
  font-display:block;
}

[class*=" icon-"],[class^=icon-]{
  font-family:icomoon;
  speak:none;
  font-style:normal;
  font-weight:400;
  font-variant:normal;
  text-transform:none;
  line-height:1;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.icon-heart2:before{
  content:"\e91d";
}
.icon-account:before{
  content:"\e91b";
}
.icon-cart:before{
  content:"\e91c";
}
.icon-flexible:before{
  content:"\e91a";
}
.icon-star:before{
  content:"\e914";
}
.icon-gift5:before{
  content:"\e915";
}
.icon-gift4:before{
  content:"\e916";
}
.icon-gift3:before{
  content:"\e917";
}
.icon-gift2:before{
  content:"\e918";
}
.icon-gift1:before{
  content:"\e919";
}
.icon-icon-box:before{
  content:"\e913";
}
.icon-freeshipping:before{
  content:"\e911";
}
.icon-large-paper-bag:before{
  content:"\e912";
}
.icon-plus:before{
  content:"\e910";
}
.icon-video:before{
  content:"\e90f";
}
.icon-view:before{
  content:"\e90e";
}
.icon-birthday:before{
  content:"\e900";
}
.icon-email:before{
  content:"\e901";
}
.icon-forher:before{
  content:"\e902";
}
.icon-hallowen:before{
  content:"\e903";
}
.icon-heart:before{
  content:"\e904";
}
.icon-payment:before{
  content:"\e905";
}
.icon-quote:before{
  content:"\e906";
}
.icon-return:before{
  content:"\e907";
}
.icon-right2:before{
  content:"\e908";
}
.icon-search:before{
  content:"\e909";
}
.icon-shipping:before{
  content:"\e90a";
}
.icon-time:before{
  content:"\e90b";
}
.icon-valentine:before{
  content:"\e90c";
}
.icon-wedding:before{
  content:"\e90d";
}
